<div
  class="knoll-flat"
  [ngStyle]="{
    bottom: isPhone ? '5rem' : '1rem',
    right: '1rem'
  }"
>
  <audio
    #audioPlayer
    [src]="'assets/audios/aud-7-chakra-5-bowl-39233.mp3'"
  ></audio>
  <button mat-fab>
    <svg
      width="36"
      height="36"
      viewBox="0 0 64 64"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3 10C3 8.89543 3.89543 8 5 8H51C52.1046 8 53 8.89543 53 10V23C53 36.8071 41.8071 48 28 48V48C14.1929 48 3 36.8071 3 23V10Z"
        fill="#FF992B"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M11.1182 8H14.8819L46.5937 39.7118C46.0001 40.3719 45.3719 41.0001 44.7119 41.5937L11.1182 8ZM9.37695 8H10.1485L44.1947 42.0462C44.0556 42.1645 43.9153 42.2814 43.7737 42.3967L9.37695 8ZM47.0462 39.1947L15.8516 8H28.3848L51.614 31.2292C50.5879 34.1741 49.0264 36.8681 47.0462 39.1947Z"
        fill="#B87333"
      />
      <rect
        x="27"
        y="53"
        width="2"
        height="16"
        rx="1"
        transform="rotate(-90 27 53)"
        fill="#A82300"
      />
      <rect
        x="26"
        y="55"
        width="6"
        height="6"
        rx="3"
        transform="rotate(-90 26 55)"
        fill="#A82300"
      />
      <rect
        x="13"
        y="56"
        width="8"
        height="16"
        rx="1"
        transform="rotate(-90 13 56)"
        fill="#FFD700"
      />
      <rect
        x="41"
        y="54"
        width="4"
        height="2"
        rx="1"
        transform="rotate(-90 41 54)"
        fill="#A82300"
      />
    </svg>
  </button>
</div>
