@use "../../../sass/variables.scss";
@use "sass:map";
.menu-icon {
  margin: 15px 15px 0px;
  @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
    display: none;
  }
}
::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  .mat-mdc-list-base .mat-mdc-list-item .mat-list-item-content {
    padding: 0 !important;
  }
  .sub-container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    flex: 1;
    overflow-y: auto;
    .sub-sidenav-content {
      border-radius: 8px;
      background: white;
      overflow-x: hidden;
    }
    .sub-sidenav {
      background-color: map.get(variables.$light-theme, "secondary-background");
      border-color: transparent;
    }
  }
  .mat-drawer-container {
    height: 100%;
    width: auto;
  }
  .main-mat-drawer-container {
    background-color: map.get(variables.$light-theme, "secondary-background");
    .full-layout-drawer-content {
      @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
        padding-bottom: 77px;
        overflow-y: auto;
      }
      &.hide-bottom-navbar {
        @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
          padding-bottom: 0;
        }
      }
    }
  }
  .main-drawer-label-text {
    margin-top: 5px;
    color: map.get(variables.$light-theme, "on-surface-variant");
  }
  .mat-mdc-list-item, .mdc-list-item {
    &.active {
      color: map.get(variables.$light-theme, "on-primary-container") !important;
      .main-drawer-label-text {
        color: map.get(variables.$light-theme, "on-primary-container");
      }
      .icon-hover {
        background: map.get(
          variables.$light-theme,
          "secondary-container"
        ) !important;
      }
    }
    &:focus {
      &::before {
        background-color: transparent !important;
      }
    }
  }
  .menu-icon-mobile {
    display: none !important;
    @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
      display: block !important;
    }
  }
  .mat-mdc-list-base {
    &.side-nav-mobile {
      display: flex !important;
      width: 100%;
      padding-top: 12px;
      padding-bottom: 16px;
      border-top: solid 1px
        map.get(variables.$light-theme, "inverse-on-surface");
      justify-content: space-between;
      background-color: map.get(variables.$light-theme, "main-background");
      /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
      .mat-list-item-content, .mdc-list-item__content {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center;
        padding: 0;
      }
      .icon-hover {
        width: 64px;
        height: 32px;
        border-radius: 20px;
      }
    }
  }
  .side-nav-mobile-wrapper {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 1;

    @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
      display: block !important;
    }
    .mat-nav-list .mat-mdc-list-item, .mdc-list-item {
      overflow: visible;
      text-align: center;
      &:focus {
        background: transparent;
      }
      &:hover::before {
        background-color: transparent;
      }
    }
  }
}

.number-time {
  font-size: 1rem;
}
