<mat-drawer-container class="caodaion-editor">
  <mat-drawer-content>
    <mat-toolbar *ngIf="isShowContronller && contentEditable"
      ><cp-toolbar-editor></cp-toolbar-editor
    ></mat-toolbar>
    <div class="drawer-content-wrapper" [id]="'caodaionEditorDrawer'">
      <cp-content-editor
        [renderDocument]="renderDocument"
        [contentEditable]="contentEditable"
        [pageSize]="pageSize"
      ></cp-content-editor>
    </div>
  </mat-drawer-content>
  <mat-drawer
    [mode]="'side'"
    [opened]="isShowContronller"
    [position]="'end'"
    class="editor-controller"
    *ngIf="contentEditable"
  >
    <div class="d-flex justify-content-between">
      <button mat-flat-button color="primary" (click)="onSave()">Lưu</button>
      <button mat-flat-button color="warn" (click)="onPrint()">
        <mat-icon>print</mat-icon>
      </button>
      <button mat-stroked-button color="default" (click)="onBack()">Thoát</button>
    </div>
    <mat-tab-group>
      <mat-tab [label]="formControlLabel"
        ><cp-editor-form-control
          [renderDocument]="renderDocument"
          (changeTrigerFormArray)="onChangeTrigerFormArray($event)"
        ></cp-editor-form-control
      ></mat-tab>
      <mat-tab [label]="'CHÈN'" *ngIf="contentEditable">
        <h1>Coming soon!!</h1>
      </mat-tab>
      <mat-tab [label]="'CÀI ĐẶT'" *ngIf="contentEditable">
        <h1>Coming soon!!</h1>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
</mat-drawer-container>
<button
  *ngIf="!isShowContronller && contentEditable"
  mat-fab
  [color]="'primary'"
  class="edit-content-fab"
  (click)="openBottomSheet(editorControllerBottomSheet)"
>
  <mat-icon>edit</mat-icon>
</button>
<ng-template #editorControllerBottomSheet>
  <div class="d-flex justify-content-between">
    <button mat-flat-button color="primary" (click)="onSave()">Lưu</button>
    <button mat-flat-button color="warn" (click)="onPrint()">
      <mat-icon>print</mat-icon>
    </button>
    <button
      mat-stroked-button
      color="default"
      (click)="editorControllerBottomSheetRef.dismiss()"
    >
      Thoát
    </button>
  </div>
  <mat-tab-group>
    <mat-tab [label]="formControlLabel"
      ><cp-editor-form-control
        [renderDocument]="renderDocument"
        (changeTrigerFormArray)="onChangeTrigerFormArray($event)"
      ></cp-editor-form-control
    ></mat-tab>
    <mat-tab [label]="'CHÈN'" *ngIf="contentEditable">
      <h1>Coming soon!!</h1>
    </mat-tab>
    <mat-tab [label]="'CÀI ĐẶT'" *ngIf="contentEditable">
      <h1>Coming soon!!</h1>
    </mat-tab>
  </mat-tab-group>
</ng-template>
