@font-face {
  font-family: "SP3 - Traveling Typewriter";
  src: url("/assets/fonts/SP3 - Traveling Typewriter.otf") format("opentype");
}

* {
  font-family: "SP3 - Traveling Typewriter";
}

::ng-deep {
  .no-children text {
    text-anchor: end !important;
    transform: translateX(65px);
  }
  [lcn="ig"].belinda text {
    text-anchor: start !important;
    transform: translateX(-65px);
    display: none;
  }
  [lcn="ig"] text {
    font-family: "SP3 - Traveling Typewriter";
  }

  [data-l-id*="Timing"] path {
    stroke: #ffca28 !important ;
  }

  [data-l-id*="Stakeholders"] path {
    stroke: #039be5 !important ;
  }

  [data-l-id*="Content"] path {
    stroke: #f57c00 !important ;
  }

  [data-l-id*="Go big ideas"] path {
    stroke: #33b864 !important ;
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

h1#counter100 {
  animation: counter 12s linear forwards;
  counter-reset: num var(--num);
}
h1::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
}
