<div class="p-4">
    <h3 class="p-3">Đơn giá / Vật liệu</h3>
    <div class="flex flex-wrap">

        <div class="w-full lg:w-1/3 px-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Chọn Năm</mat-label>
                <mat-select [(ngModel)]="addedData.year">
                    <mat-option *ngFor="let item of yearOptions" [value]="item?.solar">{{ item?.solar }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-full lg:w-1/3 px-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Chọn Tháng</mat-label>
                <mat-select [(ngModel)]="addedData.month">
                    <mat-option *ngFor="let item of monthOptions" [value]="item">{{
                        item
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-full lg:w-1/3 px-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Chọn Ngày</mat-label>
                <mat-select [(ngModel)]="addedData.date">
                    <mat-option *ngFor="let item of dayOptions" [value]="item">{{
                        item
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-full lg:w-1/4 p-3">
            <mat-form-field class="w-full" [appearance]="'outline'">
                <mat-label>Tên vật liệu</mat-label>
                <input matInput required placeholder="Tên Vật Liệu" [(ngModel)]="addedData.name">
                <mat-hint>Xi măng, gạch, đá, ...</mat-hint>
            </mat-form-field>
        </div>
        <div class="w-full lg:w-1/4 p-3">
            <mat-form-field class="w-full" [appearance]="'outline'">
                <mat-label>Đơn vị</mat-label>
                <input matInput required placeholder="Đơn vị" [(ngModel)]="addedData.unit">
                <mat-hint>Khối, tấn, viên, kg, m<sup>2</sup>, m<sup>3</sup>, ...</mat-hint>
            </mat-form-field>
        </div>
        <div class="w-full lg:w-1/4 p-3">
            <mat-form-field class="w-full" [appearance]="'outline'">
                <mat-label>Đơn giá</mat-label>
                <input matInput required placeholder="Đơn giá" [(ngModel)]="addedData.price">
                <span matTextSuffix>₫</span>
                <mat-hint>{{addedData.price | currency: 'VND'}}</mat-hint>
            </mat-form-field>
        </div>
        <div class="w-full lg:w-1/4 p-3">
            <mat-form-field class="w-full" [appearance]="'outline'">
                <mat-label>Cung cấp bởi</mat-label>
                <input matInput placeholder="Cung cấp bởi" [(ngModel)]="addedData.provider">
                <mat-hint>Nhập tên đơn vị cung cấp vật liệu ...</mat-hint>
            </mat-form-field>
        </div>
        <div class="w-full px-3">
            <button *ngIf="!googleFormPath" mat-flat-button [color]="'primary'" class="w-full" (click)="onSave()"
                [disabled]="!addedData.price || !addedData.unit || !addedData.name">
                <div class="flex items-center">
                    <span class="material-symbols-outlined">save</span><span class="ms-3">Lưu</span>
                </div>
            </button>
            <button *ngIf="googleFormPath" mat-stroked-button [color]="'primary'" class="w-full" (click)="clear()">
                <div class="flex items-center">
                    <span class="material-symbols-outlined">restart_alt</span><span class="ms-3">Làm mới</span>
                </div>
            </button>
        </div>
        <div class="w-full px-3">
            <iframe *ngIf="googleFormPath" [src]="
      googleFormPath | safe
    " class="w-full" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
    <div class="p-3">
        <mat-form-field class="w-full" [appearance]="'outline'">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput placeholder="Tìm kiếm" #searchPriceTextBox>
        </mat-form-field>
        <table class="w-full dienThoTable">
            <thead>
                <tr>
                    <th class="text-left">Tên vật liệu</th>
                    <th>Đơn vị</th>
                    <th class="text-left">Đơn giá</th>
                    <th>Đơn giá ngày</th>
                    <th>Cung cấp bởi</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of price | searchPrice: {searchText: searchPriceTextBox['value']}">
                    <td>{{item?.name}}</td>
                    <td class="text-center">{{item?.unit}}</td>
                    <td>{{item?.price | currency: 'VND'}}</td>
                    <td class="text-center">{{item?.logFrom | date: 'dd/MM/YYYY'}}</td>
                    <td class="text-center">{{item?.provider || '...'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>