::ng-deep {
  .quiz {
    cursor: pointer;
    .mat-grid-tile-content {
      padding: 0.5rem;
    }
    mat-card {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .mat-expansion-panel-header[aria-disabled=true] {
    color: #000000;
  }
  .mat-expansion-panel-header.mat-expanded {
    height: auto;
    min-height: 64px;
  }
  .quiz-option .mdc-list-item__primary-text {
    white-space: normal;
  }
  .quiz-question {
    margin-top: 1rem;
  }
  .mdc-list-item.mdc-list-item--with-one-line {
    height: auto;
  }
  .quiz-footer {
    padding: 1rem 0;
  }
  .quiz-question {
    .mat-expansion-panel {
      border: 2px solid transparent;
    }
    &.correct {
      .mat-expansion-panel {
        border: 2px solid #30c730;
      }
    }
    &.wrong {
      .mat-expansion-panel {
        border: 2px solid red;
      }
    }
  }
}
