::ng-deep {
  app-sync {
    @apply h-full flex flex-col;
    app-quiz-details {
      @apply flex-1 flex-1 flex-col;
    }
  }
  .quiz {
    cursor: pointer;
    .mat-grid-tile-content {
      padding: 0.5rem;
    }
    mat-card {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .mat-mdc-tab-body-wrapper {
    @apply h-full;
  }
  .mat-mdc-tab-disabled {
    opacity: 1 !important;
    .correctly {
      @apply text-[#4285f4];
    }
    .incorrectly {
      @apply text-[#f44a3e];
    }
  }
  .bottom-side {
    &.correctly {
      @apply bg-[#4285f41a];
    }
    &.incorrectly {
      @apply bg-[#f44a3e1a];
    }
  }
}
