<ng-container *ngIf="isLoading">
  <div class="h-full flex justify-center items-center">
    <mat-icon class="text-[300px] !h-[300px] !w-[300px] animate-bounce"
      >quiz</mat-icon
    >
  </div>
</ng-container>
<div class="container-fluid h-full">
  <ng-container *ngIf="!isLoading">
    <mat-grid-list [cols]="3" *ngIf="!article">
      <mat-grid-tile
        *ngFor="let item of quizListOfDoc"
        class="quiz"
        [routerLink]="item?.key"
      >
        <mat-card>
          <mat-card-title>{{ item?.name }}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="article" class="w-full h-full flex flex-col ">
      <!-- <h2>Quiz: {{ name }}</h2> -->
      <mat-tab-group class="w-full h-full">
        <ng-container *ngFor="let item of quizListOfDoc; let index = index">
          <mat-tab [disabled]="true" [label]="(index + 1).toString()">
            <div class="h-full flex flex-col justify-between">
              <h4>{{ item?.question }}</h4>
              <div class="w-full flex justify-around p-4">
                <button mat-flat-button [color]="'primary'">KIỂM TRA</button>
              </div>
            </div>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </ng-container>
</div>
