@use "./variables.scss";
@use "sass:map";
* {
  box-sizing: border-box;
}
body {
  user-select: none;
}
.d {
  &-flex {
    display: flex;
  }
  &-inline-block {
    display: inline-block;
  }
}
.justify-content {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-end {
    justify-content: flex-end;
  }
  &-start {
    justify-content: flex-start;
  }
}
.align-items {
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
  &-start {
    align-items: flex-start;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.d-inflex-col {
  display: inline-flex;
  flex-direction: column;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.display-large {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}
.display-medium {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 52px;
}
.display-small {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}
.headline-large {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
}
.headline-medium {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
}
.headline-small {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}
.title-large {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  margin-left: 1rem;
}
.title-medium {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.1px;
}
.title-small {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-large {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-medium {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}
.label-small {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.body-large {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.body-medium {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
.body-small {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dadce0;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dadce0;
}

.wrapper-container {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  .flex-1 {
    flex: 1 0 0;
  }
}
.top-pannel {
  .top-pannel-content {
    padding: 1rem;
  }
  h1 {
    .sub-name {
      opacity: 0.5;
    }
  }
}
.position {
  &-relative {
    position: relative;
  }
}

.container-fluid {
  padding: 0 1rem;
}
.cdk-overlay-container {
  z-index: 9999999999999;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}

@layer base {
  h1 {
    @apply my-5 text-5xl font-extrabold dark:text-white
  }
  h2 {
    @apply my-4 text-4xl font-bold dark:text-white
  }
  h3 {
    @apply my-3 text-3xl font-bold dark:text-white
  }
  h4 {
    @apply my-2 text-2xl font-bold dark:text-white
  }
  h5 {
    @apply my-1 text-xl font-bold dark:text-white
  }
  h6 {
    @apply text-lg font-bold dark:text-white
  }
}
