<div class="contribute-container p-4">
	<mat-card class="contribute-card">
		<mat-card-header>
			<div mat-card-avatar class="contribute-icon">
				<app-icon name="emoji_objects" size="24px"></app-icon>
			</div>
			<mat-card-title>Đóng góp cho cộng đồng</mat-card-title>
		</mat-card-header>
		<mat-card-content class="text-justify">
			<p>Bạn có thể đóng góp tài liệu, báo lỗi, hoặc đề xuất tính năng mới để giúp ứng dụng ngày càng hoàn thiện hơn.</p>
		</mat-card-content>
		<mat-card-actions class="mat-btn-contribute">
			<button mat-raised-button color="primary" class="btn-contribute" (click)="openContributionDialog()">
				Đóng góp ngay
			</button>
		</mat-card-actions>
	</mat-card>
</div>

