@use "../../../../sass/variables.scss";
@use "sass:map";
::ng-deep {
  .caodaion-logo {
    text-decoration: none;
    img {
      margin-right: 14px;
      @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
        margin: 0;
      }
    }
    span {
      color: map.get(variables.$light-theme, "on-surface");
      @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
        display: none;
      }
    }
  }
}
