@use "../../../../sass/variables.scss";
@use "sass:map";
::ng-deep {
  .main-toolbar {
    border-bottom: solid 1px transparent;
    background-color: map.get(variables.$light-theme, "secondary-background") !important;
    .wifi-logo {
      color: map.get(variables.$light-theme, "error") !important;
    }
    .mat-toolbar {
      color: map.get(variables.$light-theme, "on-surface-variant") !important;
    }
    .icon-hover {
      padding: 3px;
      transition: 0.3s;
      border-radius: 100px;
      &:hover {
        background: map.get(variables.$light-theme, "hover-background");
        cursor: pointer;
      }
    }
  }
}
