@use "../../../../sass/variables.scss";
@use "sass:map";
::ng-deep {
  .main-drawer {
    border-color: transparent;
    flex-direction: column;
    background-color: map.get(variables.$light-theme, "main-background");
    @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
      display: none !important;
    }
    .main-nav-list {
      padding-top: 20px;
    }
    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .mat-list-item-content {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center;
      padding: 0;
    }
    .mat-list-base .mat-list-item {
      color: map.get(variables.$light-theme, "on-surface-variant");
      height: auto;
      margin-bottom: 10px;
      border-radius: 32px;
      &:hover {
        background-color: transparent;
        .icon-hover {
          background: map.get(variables.$light-theme, "hover-background");
        }
      }
      &:focus {
        background-color: transparent;
        .icon-hover {
          background: map.get(variables.$light-theme, "hover-background");
        }
      }
      .icon-hover {
        transition: 0.3s;
        padding: 4px 0;
        border-radius: 32px;
      }
    }
  }
}
