<div class="event-list-container">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-tab-group
    [selectedIndex]="selectedIndex"
    (selectedTabChange)="selectedTabChange($event)"
  >
    <mat-tab [label]="'SỰ KIỆN'" #tabGroup>
      <div class="main-event-list">
        <div class="event-group happenning-event" *ngIf="todayEvents.event.length > 0">
          <div class="event-group-header d-flex justify-content-between align-items-center">
            <h1 class="event-group-title">HÔM NAY</h1>
            <button mat-button class="event-group-action"
                    *ngIf="todayEvents.event.length > 1"
                    (click)="todayEvents.showFullList = !todayEvents.showFullList">
              {{todayEvents.showFullList ? 'Ẩn bớt' : 'Xem thêm'}}
            </button>
          </div>
          <div class="event-group-list d-flex flex-column align-items-center">
            <div class="event-card d-flex" *ngFor="let item of todayEvents.event; let index = index"
                 (click)="viewEvent(item, index)"
                 [ngClass]="{'position-absolute': !todayEvents.showFullList && index !== 0}"
                 [ngStyle]="{transform: 'translateY(' + (!todayEvents.showFullList ? (index * 0.5 + 'rem') : '') + ')',
                 color: item.color || 'rgba(0, 0, 0, 0.87)',
                 background: item.backgroundColor,
                 width: !todayEvents.showFullList ? ((100 - (index * 5)) + '%') : '',
                 zIndex: !todayEvents.showFullList ? (todayEvents.event.length - index) : '',
                 opacity: !todayEvents.showFullList ? ((100 - (index * 5)) < 100 ? '0.' + ((100 - (index * 5)) - 30) : 1) : ''}">
              <div class="event-information">
                <div class="notification-subscribe">
                  <!-- <button class="notification-subscribe-btn" mat-icon-button aria-label="Bật/Tắt thông báo">
                    <mat-icon>notifications</mat-icon>
                  </button>
                  Nhận thông báo -->
                </div>
                <div class="event-name">{{item?.name}}</div>
                <div class="event-time">{{item?.startTime}}-{{item?.endTime}}</div>
                <div class="event-location">{{item?.location}}</div>
              </div>
            </div>
          </div>
          <mat-divider [ngStyle]="{marginTop: (todayEvents.event.length * 0.75) + 'rem' }"></mat-divider>
        </div>
      </div>
    </mat-tab>
    <mat-tab [label]="'CÀI ĐẶT'" #tabGroup *ngIf="contentEditable">
      <mat-accordion multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Sự kiện</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-grid-list [cols]="cols" rowHeight="1:1">
            <mat-grid-tile *ngFor="let event of eventList">
              <mat-card class="h-100 w-100" matRipple [routerLink]="'chinh-sua/' + event?.key">
                <mat-card-header>
                  <mat-card-title>{{ event?.name }}</mat-card-title>
                  <mat-card-subtitle>{{ event?.key }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{ event?.description }}</p>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="contentEditable">
              <mat-card class="h-100 w-100" matRipple [routerLink]="'them-moi'">
                <mat-card-header>
                  <mat-card-title>+ Thêm mới</mat-card-title>
                  <mat-card-subtitle>Thêm mới sự kiện</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>
