<div class="editor-toolbar d-flex justify-content-center align-items-center">
  <mat-select [placeholder]="'Kiểu chữ'">
    <mat-option *ngFor="let food of foods" [value]="food.value">{{
      food.viewValue
    }}</mat-option>
  </mat-select>
  <mat-select class="h-100" [placeholder]="'Phông chữ'">
    <mat-option *ngFor="let food of foods" [value]="food.value">{{
      food.viewValue
    }}</mat-option>
  </mat-select>
  <mat-select class="h-100 dropdown-font-size" [placeholder]="'Cỡ chữ'">
    <mat-option *ngFor="let food of foods" [value]="food.value">{{
      food.viewValue
    }}</mat-option>
  </mat-select>
  <button
    mat-icon-button
    matTooltip="Đậm"
    (click)="onChangeStyle({ type: 'fontWeight' })"
  >
    <app-icon name="format_bold"></app-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Nghiêng"
    (click)="onChangeStyle({ type: 'fontStyle' })"
  >
    <app-icon name="format_italic"></app-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Gạch chân"
    (click)="onChangeStyle({ type: 'textDecoration' })"
  >
    <app-icon name="format_underlined"></app-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Màu văn bản"
    [matMenuTriggerFor]="menuColor"
  >
    <app-icon name="format_color_text"></app-icon>
  </button>
  <mat-menu #menuColor class="horizontal-menu color-menu">
    <button mat-icon-button *ngFor="let color of colors">
      <app-icon [ngStyle]="{ color: color?.value }" [matTooltip]="color?.name"
        name="circle"></app-icon>
    </button>
  </mat-menu>
  <button mat-icon-button matTooltip="Chèn đường liên kết">
    <app-icon name="link"></app-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Căn chỉnh"
    [matMenuTriggerFor]="menuAlign"
  >
    <app-icon name="format_align_left"></app-icon>
  </button>
  <mat-menu #menuAlign class="horizontal-menu">
    <button mat-icon-button><app-icon name="format_align_left"></app-icon></button>
    <button mat-icon-button><app-icon name="format_align_center"></app-icon></button>
    <button mat-icon-button><app-icon name="format_align_right"></app-icon></button>
  </mat-menu>
  <button mat-icon-button matTooltip="Danh sách đánh số đầu dòng">
    <app-icon name="format_list_numbered"></app-icon>
  </button>
  <button mat-icon-button matTooltip="Danh sách có dấu đầu dòng">
    <app-icon name="format_list_bulleted"></app-icon>
  </button>
  <button mat-icon-button matTooltip="Thêm" [matMenuTriggerFor]="menuMore">
    <app-icon name="more_horiz"></app-icon>
  </button>
  <mat-menu #menuMore>
    <button mat-menu-item>More 1</button>
    <button mat-menu-item>More 2</button>
    <button mat-menu-item>More 3</button>
  </mat-menu>
</div>
