<div class="editor-toolbar d-flex justify-content-center align-items-center">
  <mat-select [placeholder]="'Kiểu chữ'">
    <mat-option *ngFor="let food of foods" [value]="food.value">{{
      food.viewValue
    }}</mat-option>
  </mat-select>
  <mat-select class="h-100" [placeholder]="'Phông chữ'">
    <mat-option *ngFor="let food of foods" [value]="food.value">{{
      food.viewValue
    }}</mat-option>
  </mat-select>
  <mat-select class="h-100 dropdown-font-size" [placeholder]="'Cỡ chữ'">
    <mat-option *ngFor="let food of foods" [value]="food.value">{{
      food.viewValue
    }}</mat-option>
  </mat-select>
  <button
    mat-icon-button
    matTooltip="Đậm"
    (click)="onChangeStyle({ type: 'fontWeight' })"
  >
    <mat-icon>format_bold</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Nghiêng"
    (click)="onChangeStyle({ type: 'fontStyle' })"
  >
    <mat-icon>format_italic</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Gạch chân"
    (click)="onChangeStyle({ type: 'textDecoration' })"
  >
    <mat-icon class="material-icons-outlined">format_underlined</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Màu văn bản"
    [matMenuTriggerFor]="menuColor"
  >
    <mat-icon class="material-icons-outlined">format_color_text</mat-icon>
  </button>
  <mat-menu #menuColor class="horizontal-menu color-menu">
    <button mat-icon-button *ngFor="let color of colors">
      <mat-icon [ngStyle]="{ color: color?.value }" [matTooltip]="color?.name"
        >circle</mat-icon
      >
    </button>
  </mat-menu>
  <button mat-icon-button matTooltip="Chèn đường liên kết">
    <mat-icon class="material-icons-outlined">link</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Căn chỉnh"
    [matMenuTriggerFor]="menuAlign"
  >
    <mat-icon class="material-icons-outlined">format_align_left</mat-icon>
  </button>
  <mat-menu #menuAlign class="horizontal-menu">
    <button mat-icon-button><mat-icon>format_align_left</mat-icon></button>
    <button mat-icon-button><mat-icon>format_align_center</mat-icon></button>
    <button mat-icon-button><mat-icon>format_align_right</mat-icon></button>
  </mat-menu>
  <button mat-icon-button matTooltip="Danh sách đánh số đầu dòng">
    <mat-icon class="material-icons-outlined">format_list_numbered</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Danh sách có dấu đầu dòng">
    <mat-icon class="material-icons-outlined">format_list_bulleted</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Thêm" [matMenuTriggerFor]="menuMore">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #menuMore>
    <button mat-menu-item>More 1</button>
    <button mat-menu-item>More 2</button>
    <button mat-menu-item>More 3</button>
  </mat-menu>
</div>
