.welcome-container {
  background-color: #eaf1fb !important ;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: right center !important;
}
