@use "../../../sass/variables.scss";
@use "sass:map";
::ng-deep {
  cp-creator-content {
    display: block;
    position: relative;
    [contenteditable][placeholder]:empty:before {
      content: attr(placeholder);
      position: absolute;
      color: gray;
      background-color: transparent;
    }
    .creator-content-editable {
      padding: 0.5rem;
      @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
        tab-size: 4 !important;
      }
    }
    .targetButton {
      position: absolute;
      right: calc(100% - 20px);
      top: 0;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
    }
    &:hover {
      .targetButton {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
