<h1>Cài đặt thông báo</h1>
<mat-accordion multi>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Cúng tứ thời</mat-panel-title>
      <mat-panel-description
        >Cài đặt thông báo cúng tứ thời</mat-panel-description
      >
    </mat-expansion-panel-header>
    <div>
      <mat-form-field [appearance]="'outline'">
        <mat-label>Báo trước (phút)</mat-label>
        <input
          type="number"
          matInput
          [(ngModel)]="pushNotificationsSettings.tuThoi.duration"
          (change)="changeSetting()"
        />
      </mat-form-field>
      <mat-selection-list [(ngModel)]="pushNotificationsSettings.tuThoi.pushed" (selectionChange)="changeSetting()">
        <mat-list-option *ngFor="let item of tuThoiEvents" [value]="item?.key">
          <span matListItemTitle>{{item?.name}}</span>
          <span matListItemLine>{{item?.startTime}} - {{item?.endTime}}</span>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>
