<div class="wrapper-container kinh-list-container">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="selectedTabChange($event)">
    <!-- <mat-tab [label]="'ÁP DỤNG BÂY GIỜ'" #tabGroup>
      <mat-accordion multi>
        <mat-expansion-panel
          #filterExansionPannel
          [expanded]="nowKinh.filterRequired"
          [hideToggle]="true"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              class="description-text"
              [ngClass]="!nowKinh.filterRequired ? 'filtered' : ''"
            >
              LỌC
            </mat-panel-title>
            <mat-panel-description class="justify-content-between">
              <span
                class="description-text"
                [ngClass]="!nowKinh.filterRequired ? 'filtered' : ''"
                >{{
                  nowKinh.filterRequired
                    ? "Lọc theo các điều kiện để lấy danh sách kinh"
                    : nowKinh.filterdMessage
                }}</span
              >
              <mat-icon
                class="description-text"
                [ngClass]="!nowKinh.filterRequired ? 'filtered' : ''"
                >filter_alt</mat-icon
              >
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="filter-group">
            <div class="form-group">
              <div [ngClass]="cols === 6 ? 'd-flex' : ''">
                <mat-form-field [appearance]="'fill'" class="w-100">
                  <mat-label>Giờ diễn ra</mat-label>
                  <mat-select
                    [(ngModel)]="nowKinh.time"
                    (selectionChange)="getNowKinh()"
                    [multiple]="true"
                  >
                    <mat-option
                      *ngFor="let item of commonTimes"
                      [value]="item?.key"
                      >{{ item?.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field [appearance]="'fill'" class="w-100">
                  <mat-label>Địa điểm</mat-label>
                  <mat-select
                    [(ngModel)]="nowKinh.locationType"
                    (selectionChange)="getNowKinh()"
                    [multiple]="true"
                  >
                    <mat-option
                      *ngFor="let item of commonLocationTypes"
                      [value]="item?.key"
                      >{{ item?.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <mat-list>
              <mat-list-item
                *ngFor="let item of nowKinh.eventList"
                (click)="getNowKinh(item)"
                matRipple
              >
                {{ item.event.name }}
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel
          [expanded]="true"
          [disabled]="true"
          class="kinh-list-pannel"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              DANH SÁCH KINH {{ nowKinh.selectedEvent?.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-grid-list [cols]="cols" rowHeight="1:1">
            <mat-grid-tile *ngFor="let kinh of nowKinh?.kinhList">
              <mat-card
                (click)="onOpenKinhContent(kinh)"
                class="w-100 h-100 d-flex flex-column align-items-center justify-content-center"
                matRipple
              >
                <mat-card-header class="w-100">
                  <mat-card-title>{{ kinh?.name }}</mat-card-title>
                </mat-card-header>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab> -->
    <mat-tab *ngFor="let filter of kinhFilter" [label]="filter?.name">
      <div class="sticky top-0 z-10 w-full bg-white">
        <div class="flex pt-3">
          <mat-form-field class="w-full" [appearance]="'outline'">
            <mat-label>Tìm kiếm</mat-label>
            <input type="text" matInput #searchKinhFormField>
          </mat-form-field>
          <div>
            <mat-button-toggle-group [(ngModel)]="mode" class="!rounded-full" (ngModelChange)="updateViewMode()">
              <mat-button-toggle value="list" [matTooltip]="'hiển thị kiểu danh sách'"><mat-icon
                  *ngIf="mode === 'list'">check</mat-icon><mat-icon>list</mat-icon></mat-button-toggle>
              <mat-button-toggle value="gird" [matTooltip]="'hiển thị kiểu lưới'"><mat-icon
                  *ngIf="mode === 'gird'">check</mat-icon><mat-icon>grid_view</mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="mode === 'list'">
        <mat-list>
          <mat-list-item
            *ngFor="let kinh of filter?.kinh | searchKinh: {searchText: searchKinhFormField['value']}; let index = index"
            (click)="
              nowKinh.filter.me = filter?.key;
              nowKinh.filter.e = filter?.key;
              onOpenKinhContent(kinh)
            " matRipple>
            <div class="w-full h-full flex flex-col justify-between">
              <div class="h-full flex items-center text-xl font-bold px-4">
                {{ kinh?.name }}
              </div>
              <mat-divider></mat-divider>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div *ngIf="mode === 'gird'">
        <mat-grid-list [cols]="cols" rowHeight="1:1">
          <mat-grid-tile *ngFor="let kinh of filter?.kinh">
            <mat-card appearance="outlined" (click)="
                nowKinh.filter.me = filter?.key;
                nowKinh.filter.e = filter?.key;
                onOpenKinhContent(kinh)
              " class="w-100 h-100 d-flex flex-column align-items-center justify-content-center" matRipple>
              <mat-card-header class="w-100">
                <mat-card-title>{{ kinh?.name }}</mat-card-title>
              </mat-card-header>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
    <mat-tab [label]="'CÀI ĐẶT'" *ngIf="contentEditable">
      <mat-accordion multi>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title> KINH </mat-panel-title>
            <mat-panel-description>KINH CÚNG TỨ-THỜI và QUANG-HÔN, TANG-TẾ</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-grid-list [cols]="cols" rowHeight="1:1">
            <mat-grid-tile *ngFor="let kinh of kinhList">
              <mat-card appearance="outlined" [routerLink]="kinh?.key"
                class="w-100 h-100 d-flex flex-column align-items-center justify-content-center" matRipple>
                <mat-card-header class="w-100">
                  <mat-card-title>{{ kinh?.name }}</mat-card-title>
                  <mat-card-subtitle>{{ kinh?.giongDoc }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="w-100" [ngStyle]="{ whiteSpace: 'pre-wrap' }">{{ kinh?.goiNho
                  }}</mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="contentEditable">
              <mat-card appearance="outlined" [routerLink]="'them-moi'"
                class="w-100 h-100 d-flex align-items-center justify-content-center" matRipple>
                <mat-card-header>
                  <mat-card-title>+ THÊM KINH MỚI</mat-card-title>
                </mat-card-header>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>