@use "../../../../sass/variables.scss";
@use "sass:map";
::ng-deep {
  .kinh-list-container {
    .description-text {
      color: red;
      &.filtered {
        color: green;
        font-weight: bold;
      }
    }
    .mat-grid-tile-content {
      padding: 0.5rem !important;
    }
    .mat-mdc-card {
      display: flex !important;
      cursor: pointer;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
    .mat-tab-body-content {
      padding: 0.5rem;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
    .mat-tab-body-wrapper {
      flex: 1;
    }
    .mat-mdc-tab-group {
      flex: 1;
      height: 100%;
      overflow: hidden;
      background-color: map.get(variables.$light-theme, "on-primary");
    }
    .kinh-list-pannel {
      .mat-expansion-panel-header-title {
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold;
      }
    }
  }
}
