<audio
  #gameWinSound
  src="assets/audios/sound-effect/mixkit-video-game-win-2016.wav"
></audio>
<audio
  #gameStartSound
  src="assets/audios/sound-effect/mixkit-race-countdown-1953.wav"
></audio>
<div class="container-fluid h-full">
  <div class="flex justify-between h-full">
    <div class="w-5/12">
      <app-challenger
        [position]="'start'"
        [fighting]="fighting"
        (setUser)="challengerLeft = $event"
        [youTurn]="turn === 'left'"
        (attack)="onAttack($event)"
      ></app-challenger>
    </div>
    <div class="w-2/12 flex justify-center items-center">
      <button
        *ngIf="
          fighting &&
          !turn &&
          challengerLeft?.fighting &&
          challengerRight?.fighting
        "
        class="bg-transparent border-0 text-[#34a853] animate-pulse"
        (click)="randomFirstTurn()"
      >
        <mat-icon class="!text-[100px] !h-[100px] !w-[100px]">shuffle</mat-icon>
      </button>
      <button
        class="bg-transparent border-0"
        [disabled]="disabledFight()"
        (click)="toggleFighting()"
        *ngIf="!fighting"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="100"
          viewBox="0 -960 960 960"
          width="100"
          class="animate-pulse"
          [ngClass]="{
            'text-[#ea4335] animate-pulse': disabledFight(),
            'text-[#34a853]': !disabledFight()
          }"
        >
          <path
            d="M762-96 645-212l-88 88-28-28q-23-23-23-57t23-57l169-169q23-23 57-23t57 23l28 28-88 88 116 117q12 12 12 28t-12 28l-50 50q-12 12-28 12t-28-12Zm118-628L426-270l5 4q23 23 23 57t-23 57l-28 28-88-88L198-96q-12 12-28 12t-28-12l-50-50q-12-12-12-28t12-28l116-117-88-88 28-28q23-23 57-23t57 23l4 5 454-454h160v160ZM334-583l24-23 23-24-23 24-24 23Zm-56 57L80-724v-160h160l198 198-57 56-174-174h-47v47l174 174-56 57Zm92 199 430-430v-47h-47L323-374l47 47Zm0 0-24-23-23-24 23 24 24 23Z"
            fill="currentColor"
          />
        </svg>
      </button>
    </div>
    <div class="w-5/12">
      <app-challenger
        [position]="'end'"
        [fighting]="fighting"
        *ngIf="challengerLeft?.userName"
        (setUser)="challengerRight = $event"
        [youTurn]="turn === 'right'"
        (attack)="onAttack($event)"
      ></app-challenger>
    </div>
  </div>
</div>

<div
  *ngIf="loading"
  class="z-50 absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center overflow-hidden bg-white"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="500"
    viewBox="0 -960 960 960"
    width="500"
    class="animate-ping text-[#4285f4]"
  >
    <path
      d="M762-96 645-212l-88 88-28-28q-23-23-23-57t23-57l169-169q23-23 57-23t57 23l28 28-88 88 116 117q12 12 12 28t-12 28l-50 50q-12 12-28 12t-28-12Zm118-628L426-270l5 4q23 23 23 57t-23 57l-28 28-88-88L198-96q-12 12-28 12t-28-12l-50-50q-12-12-12-28t12-28l116-117-88-88 28-28q23-23 57-23t57 23l4 5 454-454h160v160ZM334-583l24-23 23-24-23 24-24 23Zm-56 57L80-724v-160h160l198 198-57 56-174-174h-47v47l174 174-56 57Zm92 199 430-430v-47h-47L323-374l47 47Zm0 0-24-23-23-24 23 24 24 23Z"
      fill="currentColor"
    />
  </svg>
</div>

<div
  *ngIf="turnAnimation?.turn"
  class="z-50 absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center overflow-hidden bg-white"
>
  <mat-icon
    class="!text-[500px] !h-[500px] !w-[500px]"
    [ngStyle]="{
      color: turnAnimation?.turn?.color
    }"
    [class]="'turn-' + turnAnimation?.to"
    >{{ turnAnimation?.turn?.avatar }}</mat-icon
  >
</div>

<div
  *ngIf="attacking?.skill"
  class="z-50 absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center overflow-hidden bg-white"
>
  <div class="flex flex-col container">
    <h1 class="text-center">{{ attacking?.skill?.description }}</h1>
    <div class="flex">
      <div
        class="w-1/2 cursor-pointer border p-3 rounded-lg text-center"
        (click)="onRepsonse(responseData?.defense)"
      >
        <strong>Chống chịu</strong>
        <div class="text-center">
          -{{ responseData?.defense | number : "0.2-2" }}
        </div>
      </div>
      <div
        class="w-1/2 cursor-pointer border p-3 rounded-lg text-center"
        (click)="onRepsonse(responseData?.avoid)"
      >
        <strong>Né đòn</strong>
        <div class="text-center">
          -{{ responseData?.avoid | number : "0.2-2" }}
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="absolute top-0 right-0 bottom-0 left-0 bg-white z-50"
  *ngIf="winner?.purify"
>
  <div class="flex h-full w-full flex-col justify-center items-center">
    <p class="text-4xl">WINNER</p>
    <h1>{{ winner?.name }}</h1>
    <mat-icon
      class="!text-[300px] !h-[300px] !w-[300px]"
      [ngStyle]="{
        color: winner?.color
      }"
      >{{ winner?.avatar }}</mat-icon
    >
  </div>
</div>
