.turn-left {
  animation: turnLeft 1s forwards;
}

.turn-right {
  animation: turnRight 1s forwards;
}

@keyframes turnLeft {
  from {
    transform: translateX(100vw) scale(0);
  }
  to {
    transform: translateX(-100vw) scale(2);
  }
}

@keyframes turnRight {
  from {
    transform: translateX(-100vw) scale(0);
  }
  to {
    transform: translateX(100vw) scale(2);
  }
}
