<mat-divider></mat-divider>
<mat-nav-list class="bottom-navbar d-flex">
  <a
    mat-list-item
    (click)="onNavigate(prev)"
    *ngIf="prev?.navigate?.link !== '/'"
  >
    <div
      class="w-100 d-flex justify-content-center align-items-center"
    >
      <mat-icon>arrow_back</mat-icon> <span>{{prev?.text}}</span>
    </div>
  </a>
  <a
    mat-list-item
    (click)="onNavigate(next)"
    *ngIf="next?.navigate?.link !== '/'"
  >
    <div
      class="w-100 d-flex justify-content-center align-items-center"
    >
    <span>{{next?.text}}</span> <mat-icon>arrow_forward</mat-icon>
    </div>
  </a>
</mat-nav-list>
