<mat-divider></mat-divider>
<mat-nav-list class="bottom-navbar d-flex !pb-0">
  <a
    matRipple
    (click)="onNavigate(prev)"
    *ngIf="prev?.navigate?.link !== '/'"
    class="min-h-[50px] w-full flex items-center justify-between me-2"
  >
    <div
      class="w-100 d-flex justify-content-center align-items-center"
    >
      <app-icon class="me-2" name="chevron_left"></app-icon> <span class="text-center">{{prev?.text}}</span>
    </div>
  </a>
  <mat-divider vertical></mat-divider>
  <a
    matRipple
    (click)="onNavigate(next)"
    *ngIf="next?.navigate?.link !== '/'"
    class="min-h-[50px] w-full flex items-center justify-between ms-2"
  >
    <div
      class="w-100 d-flex justify-content-center align-items-center"
    >
    <span class="text-center">{{next?.text}}</span> <app-icon class="ms-2" name="chevron_right"></app-icon>
    </div>
  </a>
</mat-nav-list>
