<div class="container-fluid">
  <mat-divider></mat-divider>
  <div class="bai-thuong-yeu">
    <div class="bai-thuong-yeu-container">
      <div class="wood-wrapper">
        <div class="white-paper">
          <div class="content">
            <div class="top-name text-center">
              <h4>THÁNH NGÔN THẦY DẠY</h4>
              <h1 class="red-text">THƯƠNG YÊU</h1>
            </div>
            <p>
              THẦY là cha của sự thương yêu. Do bởi sự thương yêu mới tạo thành
              thế giới và sinh sản các con. Vậy các con sản xuất nơi sự thương
              yêu là cơ thể của sự thương yêu đó.
            </p>
            <p>
              Sự thương yêu là giềng bảo sanh của càn khôn thế giới. Bởi thương
              yêu mà vạn loại hoà bình, càn khôn an tịnh, đặng an tịnh mới không
              thù nghịch lẫn nhau, không thù nghịch lẫn nhau mới không tàn hại
              nhau, không tàn hại nhau mới giữ bền cơ sanh hoá.
            </p>
            <p>
              Kẻ nghịch của cơ sanh hoá là Quỷ Vương, là tay diệt hoá. Cũng như
              có sống của Thầy ắt có chết của Quỷ Vương, Quỷ Vương giục sự ghét
              mà tàn hại các con. Vì ghét nhau mà vạn loại mới khi nhau, vì ghét
              nhau vạn loại mới nghịch nhau, vì ghét nhau vạn loại mới tàn hại
              lẫn nhau mà tàn hại lẫn nhau thì là cơ diệt thế.
            </p>
            <p>
              Vậy Thầy cấm các con, từ đây ví không đủ sức thương nhau thì chẳng
              đặng phép ghét nhau, nghe à!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
