<div class="container-fluid">
  <mat-divider></mat-divider>
  <div class="bai-thuong-yeu">
    <div class="bai-thuong-yeu-container">
      <div class="wood-wrapper">
        <div class="white-paper">
          <div class="content">
            <div class="top-name text-center">
              <h3 class="text-lg font-bold">THÁNH NGÔN THẦY DẠY</h3>
              <h1 class="red-text text-4xl font-bold">THƯƠNG YÊU</h1>
            </div>
            <p>
              <span class="red-text">THẦY LÀ CHA CỦA SỰ</span> THƯƠNG YÊU.
              <span class="red-text">DO BỞI SỰ</span> THƯƠNG YÊU
              <span class="red-text"
                >MỚI TẠO THÀNH THẾ GIỚI VÀ SINH SẢN CÁC CON. VẬY CÁC CON SẢN
                SUẤT NƠI SỰ</span
              >
              THƯƠNG YÊU, <span class="red-text">LÀ CƠ THỂ CỦA SỰ </span>THƯƠNG
              YÊU<span class="red-text"> ĐÓ.</span>
            </p>
            <p>
              <span class="red-text">SỰ</span> THƯƠNG YÊU
              <span class="red-text"
                >LÀ GIỀNG BẢO SANH CỦA CÀN KHÔN THẾ GIỚI. BỞI</span
              >
              THƯƠNG YÊU
              <span class="red-text"
                >MÀ VẠN LOẠI HÒA BÌNH, CÀN KHÔN AN TỊNH. ĐẶNG AN TỊNH MỚI KHÔNG
                THÙ NGHỊCH LẪN NHAU, KHÔNG THÙ NGHỊCH LẪN NHAU MỚI KHÔNG TÀN HẠI
                NHAU, KHÔNG TÀN HẠI NHAU MỚI GIỮ BỀN CƠ SANH HÓA.</span
              >
            </p>
            <p>
              KẺ NGHỊCH CỦA CƠ SANH HÓA LÀ QUỈ VƯƠNG, LÀ TAY DIỆT HÓA, CŨNG NHƯ
              CÓ SỐNG CỦA <span class="red-text"> THẦY</span>, ẮT CÓ CHẾT CỦA
              QUỈ VƯƠNG.
            </p>
            <p>
              QUỈ VƯƠNG DỤC SỰ GHÉT MÀ TÀN HẠI CÁC CON. VÌ GHÉT NHAU VẠN LOẠI
              MỚI KHI NHAU, VÌ GHÉT NHAU VẠN LOẠI VỚI NGHỊCH NHAU, VÌ GHÉT NHAU
              VẠN LOẠI MỚI TÀN HẠI LẪN NHAU.<span class="red-text"> MÀ TÀN HẠI LẪN NHAU THÌ LÀ CƠ DIỆT THẾ.</span>
            </p>
            <p>
              <span class="red-text">VẬY THẦY CẤM CÁC CON. TỪ NAY VÍ KHÔNG ĐỦ SỨC THƯƠNG NHAU, THÌ CŨNG CHẲNG ĐẶNG GHÉT NHAU. NGHE À!</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
