<div class="container-fluid">
  <h1>Cài đặt thông báo</h1>
  <p
    >Hãy đảm bảo rằng bạn luôn mở ứng dụng để tính năng thông báo hoạt động được
    tốt nhất</p
  >
  <mat-accordion multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Cúng tứ thời</mat-panel-title>
        <mat-panel-description
          >Cài đặt thông báo cúng tứ thời</mat-panel-description
        >
      </mat-expansion-panel-header>
      <div>
        <mat-form-field [appearance]="'outline'">
          <mat-label>Báo trước (phút)</mat-label>
          <input
            type="number"
            matInput
            [(ngModel)]="pushNotificationsSettings.tuThoi.duration"
            (change)="changeSetting()"
          />
        </mat-form-field>
        <mat-selection-list
          [(ngModel)]="pushNotificationsSettings.tuThoi.pushed"
          (selectionChange)="changeSetting()"
        >
          <mat-list-option
            *ngFor="let item of tuThoiEvents"
            [value]="item?.key"
          >
            <span matListItemTitle>{{ item?.name }}</span>
            <span matListItemLine
              >{{ item?.startTime }} - {{ item?.endTime }}</span
            >
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Tự học đạo</mat-panel-title>
        <mat-panel-description
          >Thông báo thời gian thuận lợi để học hỏi thêm kiến thức
          mới</mat-panel-description
        >
      </mat-expansion-panel-header>
      <div>
        <div class="d-flex flex-wrap">
          <div class="form-group" style="margin: 22px 0;">
            <mat-slide-toggle
              [(ngModel)]="pushNotificationsSettings.study.active"
              (ngModelChange)="changeSetting()"
              >Kích hoạt</mat-slide-toggle
            >
          </div>
          <div class="form-group">
            <mat-form-field [appearance]="'outline'">
              <mat-label>Giờ báo</mat-label>
              <input
                #timeInput
                type="time"
                matInput
                [(ngModel)]="pushNotificationsSettings.study.time"
                (change)="changeSetting()"
                [disabled]="!pushNotificationsSettings.study.active"
              />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field [appearance]="'outline'">
              <mat-label>Báo trước (phút)</mat-label>
              <input
                type="number"
                matInput
                [(ngModel)]="pushNotificationsSettings.study.duration"
                (change)="changeSetting()"
                [disabled]="!pushNotificationsSettings.study.active"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
