@use "../../../../sass/variables.scss";
@use "sass:map";

.attendance {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
    display: block;
  }
  .attendance-table {
    min-width: 50%;
    max-width: 50%;
    padding-left: 1rem;
    @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
      min-width: 100%;
      max-width: 100%;
    }
    td,
    th {
      text-align: center;
      border-bottom: 1px solid #0000001f;
      padding: 0.5rem;
      @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
        padding: 0.5rem 0;
      }
    }
    tbody {
      tr {
        &:nth-child(2n + 2) {
          background-color: #fafafa;
        }
      }
    }
  }
}
