<h1>Điểm danh hành trình</h1>
<div class="attendance">
  <cp-qr-scanner (qrData)="scanComplete($event)"></cp-qr-scanner>
  <div class="attendance-table">
    <div *ngIf="attendanceList?.length > 0">
      Số lượng: {{ attendanceList?.length }}
    </div>
    <mat-list>
      <mat-list-item *ngFor="let item of attendanceList">
        <span matListItemTitle>{{ item?.na }}</span>
        <span matListItemLine>{{ item?.id }}</span>
        <span matListItemLine>{{ item?.ti }}</span>
        <mat-divider matListItemLine></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<ng-template #welcomeDialog>
  <div mat-dialog-title>Xin chào👋!</div>
  <mat-dialog-content class="mat-dialog-welcome-attendance">
    <div class="text-center">
      <span class="welcomeIcon">{{ welcomeIcon }}</span>
    </div>
    <div *ngIf="!isDuplicate">
      <h1>
        {{ journeyUser?.ti }} {{ journeyUser?.na }}
      </h1>
      <p *ngIf="journeyUser?.id">Mã số: {{ journeyUser?.id }}</p>
    </div>
    <div *ngIf="isDuplicate">
      <p>
        {{ journeyUser?.ti }} {{ journeyUser?.na }}
        <span *ngIf="journeyUser?.id"> | Mã số: {{ journeyUser?.id }}</span>
      </p>
      <h1>Bạn đã được ghi nhận hành trình rồi👌!</h1>
    </div>
  </mat-dialog-content>
</ng-template>
