<div class="container-fluid" *ngIf="currentUser?.userName">
  <h1>{{ currentUser?.holyName || currentUser?.name }}</h1>
  <p>@{{ currentUser?.userName }}</p>
  <div>
    <div class="block lg:flex" *ngIf="!currentUser.isGuest">
      <div class="w-full">
        <div class="text-2xl text-center">
          Mã QR đăng nhập/đồng bộ tài khoản
        </div>
        <div class="text-lg text-center">
          Quét mã tại trang đăng nhập để đăng nhập nhanh bằng mã QR
        </div>
        <div *ngIf="qrData" class="w-full flex flex-column items-center">
          <qrcode
            #parent
            [qrdata]="qrData"
            [width]="300"
            [imageHeight]="75"
            [imageWidth]="75"
            [cssClass]="'text-center'"
            [errorCorrectionLevel]="'M'"
            [colorDark]="'#000000ff'"
            [colorLight]="'#ffffffff'"
            [elementType]="'canvas'"
            [margin]="4"
            [scale]="128"
            [imageSrc]="'assets/icons/assets/circle-logo.svg'"
          ></qrcode>
          <div class="text-center">
            <button
              mat-raised-button
              color="primary"
              (click)="saveAsImage(parent)"
            >
              <mat-icon>download</mat-icon>
              Tải Mã QR
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentUser.isGuest">
      <button
        mat-flat-button
        [color]="'warn'"
        class="w-full"
        (click)="activeAccount()"
      >
        KÍCH HOẠT
      </button>
    </div>
    <div class="block lg:flex lg:flex-wrap mx-[-0.5rem] my-8">
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full">
          <mat-label>Tên đăng nhập</mat-label>
          <input
            [disabled]="!currentUser.isGuest"
            type="text"
            matInput
            [(ngModel)]="currentUser.userName"
          />
        </mat-form-field>
        <mat-error *ngIf="userNameRequired"
          >Bạn cần cập nhật Tên đăng nhập mới có thể kích hoạt. Nếu bạn không
          biết tạo tên gì? Hãy nhập thông tin của bạn, hệ thống sẽ giúp bạn tạo
          tên đăng nhập tự động.</mat-error
        >
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full">
          <mat-label>Họ và Tên</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="currentUser.name"
            (ngModelChange)="updateUserProfile()"
          />
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <div class="w-full">
          <mat-label>Giới tính</mat-label>
          <div>
            <mat-radio-group
              [(ngModel)]="currentUser.sex"
              (ngModelChange)="updateUserProfile()"
            >
              <mat-radio-button [value]="'male'">Nam</mat-radio-button>
              <mat-radio-button [value]="'female'">Nữ</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full">
          <mat-label>Ngày sinh</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="currentUser.birthday"
            (ngModelChange)="updateUserProfile()"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full">
          <mat-label>Chức đạo</mat-label>
          <mat-select
            [(ngModel)]="currentUser.title"
            (ngModelChange)="updateUserProfile()"
          >
            <mat-option *ngFor="let item of caodaiTitle" [value]="item?.key">{{
              item?.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="form-group w-full lg:w-1/5"
        *ngIf="currentUser.sex === 'male' && isHolyNameRequired"
      >
        <mat-form-field class="w-full">
          <mat-label>Sắc phái</mat-label>
          <mat-select
            [(ngModel)]="currentUser.color"
            (ngModelChange)="updateUserProfile()"
          >
            <mat-option
              *ngFor="let item of colors"
              [value]="item.key"
              [ngStyle]="{ background: item.color }"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5" *ngIf="isHolyNameRequired">
        <mat-form-field class="w-full">
          <mat-label>Thánh Danh</mat-label>
          <input
            type="text"
            matInput
            [required]="isHolyNameRequired"
            [(ngModel)]="currentUser.holyName"
            (ngModelChange)="updateUserProfile()"
          />
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full">
          <mat-label>Thánh Sở</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="currentUser.thanhSo"
            (ngModelChange)="updateUserProfile()"
          />
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full">
          <mat-label>Nhiệm vụ hành chánh</mat-label>
          <mat-select
            [(ngModel)]="currentUser.role"
            [multiple]="true"
            (ngModelChange)="updateUserProfile()"
          >
            <mat-option *ngFor="let item of roles" [value]="item?.key">{{
              item?.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div
  class="container-fluid text-center"
  *ngIf="!currentUser?.isGuest && !currentUser?.userName"
>
  <h1>Hãy đăng nhập để truy cập thông tin cá nhân.</h1>
  <button mat-flat-button [routerLink]="'/auth/dang-nhap'" [color]="'primary'">
    Đăng nhập
  </button>
</div>

<ng-template #passwordDialog>
  <div mat-dialog-title>Cập nhật nhật mật khẩu</div>
  <mat-dialog-content>
    <mat-form-field [appearance]="'outline'">
      <mat-label>Mật khẩu</mat-label>
      <input type="password" matInput [(ngModel)]="currentUser.password" />
    </mat-form-field>
    <mat-form-field [appearance]="'outline'">
      <mat-label>Nhập lại mật khẩu</mat-label>
      <input type="password" matInput [(ngModel)]="confirmPassword" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button [matDialogClose]="true">Hủy</button>
    <button
      mat-flat-button
      [color]="'primary'"
      [disabled]="
        currentUser.password && currentUser.password !== confirmPassword
      "
      [matDialogClose]="true"
    >
      Cập nhật
    </button>
  </mat-dialog-actions>
</ng-template>
