<mat-progress-bar mode="indeterminate" *ngIf="isFetchingData"></mat-progress-bar>
<div class="container-fluid" *ngIf="!isFetchingData && currentUser?.userName">
  <div class="flex flex-col lg:flex-row items-center justify-between">
    <div>
      <h1>{{ currentUser?.holyName ? (currentUser?.holyName + ' | ' + currentUser?.name) : currentUser?.name }}</h1>
      <p>&#64;{{ currentUser?.userName }}</p>
    </div>
    <div>
      <button mat-button (click)="onStartSyncDatawithRemote()"
        [matTooltip]="'Dữ liệu sẽ được đồng bộ trên toàn bộ thiết bị với tài khoản của bạn'">
        <app-icon name="cloud_sync"></app-icon>
        {{currentUser.isCloudSynced ? 'Đồng bộ dữ liệu với máy chủ' : 'Đăng ký đồng bộ với máy chủ'}}
        <span *ngIf="!isInvalidSyncData"
          class="animate-ping absolute top-0 left-0 h-full w-full bg-[#ea4335] opacity-75"></span>
      </button>
    </div>
  </div>
  <div>
    <!-- <div class="block lg:flex" *ngIf="!currentUser.isGuest">
      <div class="w-full">
        <div class="text-2xl text-center">
          Mã QR đăng nhập/đồng bộ tài khoản
        </div>
        <div class="text-lg text-center">
          Quét mã tại trang đăng nhập để đăng nhập nhanh bằng mã QR
        </div>
        <div *ngIf="qrData" class="w-full flex flex-col items-center">
          <img loading="lazy" #parent [src]="qrUrl" class="w-[300px] h-[300px]">
          <div class="text-center">
            <button mat-raised-button color="primary" (click)="saveAsImage(parent)">
              <app-icon name="download"></app-icon>
              Tải Mã QR
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <div *ngIf="currentUser.isGuest">
      <button mat-flat-button [color]="'warn'" class="w-full" (click)="activeAccount()">
        KÍCH HOẠT
      </button>
    </div>
    <div class="block lg:flex lg:flex-wrap mx-[-0.5rem] my-8">
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full" [appearance]="'outline'">
          <mat-label>Tên đăng nhập</mat-label>
          <input [disabled]="!currentUser.isGuest" type="text" matInput [(ngModel)]="currentUser.userName" />
        </mat-form-field>
        <mat-error *ngIf="userNameRequired">Bạn cần cập nhật Tên đăng nhập mới có thể kích hoạt. Nếu bạn không
          biết tạo tên gì? Hãy nhập thông tin của bạn, hệ thống sẽ giúp bạn tạo
          tên đăng nhập tự động.</mat-error>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full" [appearance]="'outline'">
          <mat-label>Họ và Tên</mat-label>
          <input type="text" matInput [(ngModel)]="currentUser.name" (ngModelChange)="updateUserProfile()" />
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <div class="w-full">
          <mat-label>Giới tính</mat-label>
          <div>
            <mat-radio-group [(ngModel)]="currentUser.sex" (ngModelChange)="updateUserProfile()">
              <mat-radio-button [value]="'male'">Nam</mat-radio-button>
              <mat-radio-button [value]="'female'">Nữ</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full" [appearance]="'outline'">
          <mat-label>Ngày sinh</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="currentUser.birthday"
            (ngModelChange)="updateUserProfile()" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full" [appearance]="'outline'">
          <mat-label>Thánh Sở</mat-label>
          <input type="text" matInput [(ngModel)]="currentUser.thanhSo" (ngModelChange)="updateUserProfile()" />
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full" [appearance]="'outline'">
          <mat-label>Phẩm đạo</mat-label>
          <mat-select [(ngModel)]="currentUser.title" (ngModelChange)="updateUserProfile()">
            <mat-option *ngFor="let item of caodaiTitle" [value]="item?.key">{{
              item?.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5" *ngIf="currentUser.sex === 'male' && isHolyNameRequired">
        <mat-form-field class="w-full" [appearance]="'outline'">
          <mat-label>Sắc phái</mat-label>
          <mat-select [(ngModel)]="currentUser.color" (ngModelChange)="updateUserProfile()">
            <mat-option *ngFor="let item of colors" [value]="item.key" [ngStyle]="{ background: item.color }">{{
              item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5" *ngIf="isHolyNameRequired">
        <mat-form-field class="w-full" [appearance]="'outline'">
          <mat-label>Thánh Danh</mat-label>
          <input type="text" matInput [required]="isHolyNameRequired" [(ngModel)]="currentUser.holyName"
            (ngModelChange)="updateUserProfile()" />
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full" [appearance]="'outline'">
          <mat-label>Nhiệm vụ hành chánh</mat-label>
          <mat-select [(ngModel)]="currentUser.role" [multiple]="true" (ngModelChange)="updateUserProfile()">
            <mat-option *ngFor="let item of roles" [value]="item?.key">{{
              item?.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field class="w-full" [appearance]="'outline'">
          <mat-label>Số điện thoại/Zalo</mat-label>
          <input type="text" matInput [(ngModel)]="currentUser.phone" (ngModelChange)="updateUserProfile()" />
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tỉnh/Thành phố</mat-label>
          <mat-select [(ngModel)]="currentUser.province" (ngModelChange)="updateUserProfile()">
            <input type="text" #provinceFilter class="w-full p-2 sticky top-0 bg-white z-10"
              [placeholder]="'Tìm kiếm hoặc tạo mới'" (keydown)="onPress($event)">
            <mat-option
              *ngFor="let item of provinces | divisionFilter: {level: 'province', searchText: provinceFilter['value']}"
              [value]="item?.id">{{ item?.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Quận/Huyện</mat-label>
          <mat-select [(ngModel)]="currentUser.district" (ngModelChange)="updateUserProfile()">
            <input type="text" #districtFilter class="w-full p-2 sticky top-0 bg-white z-10"
              [placeholder]="'Tìm kiếm hoặc tạo mới'" (keydown)="onPress($event)">
            <mat-option
              *ngFor="let item of districts | divisionFilter: {level: 'district', parent: currentUser.province, searchText: districtFilter['value']}"
              [value]="item?.id">{{ item?.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Phường/Xã</mat-label>
          <mat-select [(ngModel)]="currentUser.ward" (ngModelChange)="updateUserProfile()">
            <input type="text" #wardFilter class="w-full p-2 sticky top-0 bg-white z-10"
              [placeholder]="'Tìm kiếm hoặc tạo mới'" (keydown)="onPress($event)">
            <mat-option
              *ngFor="let item of wards | divisionFilter: {level: 'ward', parent: currentUser.district, searchText: wardFilter['value']}"
              [value]="item?.id">{{ item?.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group w-full lg:w-1/5">
        <mat-form-field [appearance]="'outline'" class="w-full">
          <mat-label>Thôn/Lộ</mat-label>
          <input type="text" matInput [(ngModel)]="currentUser.village" (ngModelChange)="updateUserProfile()" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center" *ngIf="!isFetchingData && !currentUser?.isGuest && !currentUser?.userName">
  <h1>Hãy đăng nhập để truy cập thông tin cá nhân.</h1>
  <button mat-flat-button [routerLink]="'/auth/dang-nhap'" [color]="'primary'">
    Đăng nhập
  </button>
</div>

<ng-template #passwordDialog>
  <div mat-dialog-title>Cập nhật nhật mật khẩu</div>
  <mat-dialog-content>
    <mat-form-field [appearance]="'outline'">
      <mat-label>Mật khẩu</mat-label>
      <input type="password" matInput [(ngModel)]="currentUser.password" />
    </mat-form-field>
    <mat-form-field [appearance]="'outline'">
      <mat-label>Nhập lại mật khẩu</mat-label>
      <input type="password" matInput [(ngModel)]="confirmPassword" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button [matDialogClose]="true">Hủy</button>
    <button mat-flat-button [color]="'primary'" [disabled]="
        currentUser.password && currentUser.password !== confirmPassword
      " [matDialogClose]="true">
      Cập nhật
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #syncRegistrationDialog>
  <div mat-dialog-title>Đăng ký đồng bộ dữ liệu của bạn với máy chủ</div>
  <mat-dialog-content>
    <p>
      <strong>LƯU Ý:</strong>
      Sau khi gửi thông tin đăng ký chúng mình sẽ tiến hành một số cấu hình. Cần liên hệ với bạn vì thế hãy cập nhật đầy
      đủ thông tin liên hệ bạn nhé!
    </p>
    <div class=" pt-3">
      <div class="form-group w-full">
        <mat-form-field class="w-full" [appearance]="'outline'">
          <mat-label>Số điện thoại/Zalo</mat-label>
          <input type="text" matInput required [(ngModel)]="currentUser.phone" (ngModelChange)="updateUserProfile()" />
        </mat-form-field>
      </div>
      <div *ngIf="admin" class="w-full">
        <div class="text-2xl mb-3">Hỗ trợ người dùng cập nhật dữ liệu</div>
        <div class="form-group w-full">
          <mat-form-field class="w-full" [appearance]="'outline'">
            <mat-label>Chọn tài khoản</mat-label>
            <mat-select [(ngModel)]="selectedUser" (ngModelChange)="onChangeSelectedUser()">
              <mat-option *ngFor="let item of users" [value]="item">
                {{ item.userName }} | {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="selectedUser">
          <div class="form-group w-full">
            <mat-form-field class="w-full" [appearance]="'outline'">
              <mat-label>Số điện thoại/Zalo</mat-label>
              <input type="text" matInput required [(ngModel)]="selectedUser.phone"
                (ngModelChange)="onChangeSelectedUser()" />
            </mat-form-field>
          </div>
          <div class="form-group w-full">
            <mat-form-field class="w-full" [appearance]="'outline'">
              <mat-label>Mật khẩu</mat-label>
              <input type="text" matInput required [(ngModel)]="selectedUser.password"
                (ngModelChange)="onChangeSelectedUser()" />
            </mat-form-field>
          </div>
          <div class="form-group w-full">
            <mat-form-field class="w-full" [appearance]="'outline'">
              <mat-label>Google Forms Id</mat-label>
              <input type="text" matInput required [(ngModel)]="selectedUser.googleFormsId"
                (ngModelChange)="onChangeSelectedUser()" />
            </mat-form-field>
          </div>
          <div class="form-group w-full">
            <mat-form-field class="w-full" [appearance]="'outline'">
              <mat-label>Google Sheets Id</mat-label>
              <input type="text" matInput required [(ngModel)]="selectedUser.sheetId"
                (ngModelChange)="onChangeSelectedUser()" />
            </mat-form-field>
          </div>
          <div class="form-group w-full">
            <mat-form-field class="w-full" [appearance]="'outline'">
              <mat-label>Token</mat-label>
              <textarea matInput [(ngModel)]="selectedToken"></textarea>
              <button matSuffix mat-icon-button (click)="copyToken()"><app-icon name="content_copy"></app-icon></button>
            </mat-form-field>
          </div>
        </div>
      </div>
      <iframe *ngIf="syncRegistrationGoogleFormPath && !this.admin" [src]="
      syncRegistrationGoogleFormPath | safe
    " class="w-full" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button [matDialogClose]="true" (click)="syncRegistrationGoogleFormPath = ''">Đóng</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #syncDialog>
  <div mat-dialog-title>Đồng bộ dữ liệu của bạn với máy chủ</div>
  <mat-dialog-content>
    <button *ngIf="admin" class="my-6 w-full" mat-flat-button [color]="'primary'"
      (click)="openSyncRegistrationDialog()">
      Hỗ trợ người dùng cập nhật dữ liệu
    </button>
    <p>Những thông tin sau đây sẽ được đồng bộ sau khoản năm phút, nên bạn không cần lo là nội dung chưa đồng bộ lên máy
      chủ nhé</p>
    <table class="w-full text-black">
      <thead>
        <tr>
          <th class="text-left">Nội dung</th>
          <th class="text-left px-3">Hiện tại</th>
          <th class="text-center">Tải lên/Tải xuống</th>
          <th class="text-left px-3">Trên máy chủ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of syncData">
          <td>
            <span class="font-bold me-3">{{item?.label || item?.key}}: </span>
          </td>
          <td class="px-3 rounded transition-all" [ngClass]="{'bg-[#34a853] text-white': item?.load === 'upload'}">
            <span>{{item?.currentDisplayData}}</span>
          </td>
          <td class="text-center">
            <mat-button-toggle-group [(ngModel)]="item.load" *ngIf="item.load" class="!rounded-full">
              <mat-button-toggle value="upload"><app-icon name="cloud_upload"></app-icon> Tải lên</mat-button-toggle>
              <mat-button-toggle value="download"><app-icon name="cloud_download"></app-icon> Tải xuống</mat-button-toggle>
            </mat-button-toggle-group>
          </td>
          <td class="px-3 rounded transition-all" [ngClass]="{'bg-[#34a853] text-white': item?.load === 'download'}">
            <span>{{item?.remoteDisplayData}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="my-6 w-full" mat-flat-button [color]="'primary'" (click)="startSync()">Bắt đầu đồng bộ</button>
    <iframe *ngIf="syncGoogleFormPath && !this.admin" [src]="
      syncGoogleFormPath | safe
    " class="w-full" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button [matDialogClose]="true" (click)="syncGoogleFormPath = ''">Đóng</button>
  </mat-dialog-actions>
</ng-template>