<mat-sidenav-container class="w-100" tosize>
  <mat-sidenav
    class="sub-sidenav"
    mode="side"
    [opened]="viewMissionService.isDrawerOpened"
    [mode]="drawerMode"
  >
    <mat-nav-list class="mat-list-sub-sidenav">
      <a
        mat-list-item
        class="icon-hover"
        [routerLink]="'/@' + currentUser?.userName"
        [routerLinkActive]="'active'"
        (click)="onToggleDrawer()"
      >
        <app-icon class="sub-sidenav-icon" name="account_circle"></app-icon>
        <span class="label-large">{{ currentUser?.name }}</span></a
      >
      <a
        mat-list-item
        class="icon-hover"
        *ngFor="let item of profileMenu"
        [routerLink]="item?.url"
        [routerLinkActive]="'active'"
        (click)="onToggleDrawer()"
      >
        <app-icon class="sub-sidenav-icon" [name]="item?.icon"></app-icon>
        <span class="label-large">{{ item?.label }}</span></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sub-sidenav-content" id="subSidenavContent">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
