<div class="container-fluid calendar-home-container flex flex-wrap">
  <div class="text-center w-full">
    <div class="time-lk">Thời {{ time.commonTime.kanji }}</div>
    <div>
      <div class="time-hm">
        <span class="time-as">{{ time.time | async | date : "aa" }}</span>
        {{ time.time | async | date : "hh:mm" }}
        <span class="time-as">{{ time.time | async | date : "ss'" }}</span>
      </div>
      <div class="time-hm"></div>
    </div>
  </div>
  <div class="w-full text-center text-xl">
    {{ dateWeek }} {{ nowDate?.solar | date : "dd/MM/YYYY" }}
  </div>
  <div class="w-full text-center text-xl">
    {{ nowDate?.lunar?.lunarDay | number : "2.0" }}/{{
      nowDate?.lunar?.lunarMonth | number : "2.0"
    }}{{ nowDate?.lunar?.lunarLeap ? " (nhuận)" : "" }}/{{
      nowDate?.lunar?.lunarYearName
    }}
  </div>
  <div class="w-full text-center text-lg">
    (Ngày {{ nowDate?.lunar?.lunarDayName }}) (Tháng
    {{ nowDate?.lunar?.lunarMonthName }})
  </div>
</div>
