<mat-tab-group>
    <mat-tab [label]="'Lý lịch Họ Đạo (Thánh Thất)'">
        <div class="p-3">
            <h3>Nhập liệu Lý Lịch Họ Đạo (Thánh Thất)</h3>
            <div>
                <h4>I. NGUỒN GỐC RA ĐỜI:</h4>
                <div class="flex flex-wrap">
                    <div class="p-3 w-full lg:w-1/2">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Tên gọi trước đây</mat-label>
                            <input required matInput [(ngModel)]="thanhSoData.originName" />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/2">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Tên gọi hiện nay</mat-label>
                            <input required matInput [(ngModel)]="thanhSoData.currentName" />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/2">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Năm thành lập</mat-label>
                            <input [placeholder]="'Năm âm lịch (Năm dương lịch)'" required matInput
                                [(ngModel)]="thanhSoData.foundedAt" />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Tỉnh/Thành phố</mat-label>
                            <mat-select [(ngModel)]="thanhSoData.province">
                                <input type="text" #provinceFilter class="w-full p-2 sticky top-0 bg-white z-10"
                                    [placeholder]="'Tìm kiếm hoặc tạo mới'" (keydown)="onPress($event)">
                                <mat-option
                                    *ngFor="let item of provinces | divisionFilter: {level: 'province', searchText: provinceFilter['value']}"
                                    [value]="item?.id">{{ item?.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Quận/Huyện</mat-label>
                            <mat-select [(ngModel)]="thanhSoData.district">
                                <input type="text" #districtFilter class="w-full p-2 sticky top-0 bg-white z-10"
                                    [placeholder]="'Tìm kiếm hoặc tạo mới'" (keydown)="onPress($event)">
                                <mat-option
                                    *ngFor="let item of districts | divisionFilter: {level: 'district', parent: thanhSoData.province, searchText: districtFilter['value']}"
                                    [value]="item?.id">{{ item?.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Phường/Xã</mat-label>
                            <mat-select [(ngModel)]="thanhSoData.ward">
                                <input type="text" #wardFilter class="w-full p-2 sticky top-0 bg-white z-10"
                                    [placeholder]="'Tìm kiếm hoặc tạo mới'" (keydown)="onPress($event)">
                                <mat-option
                                    *ngFor="let item of wards | divisionFilter: {level: 'ward', parent: thanhSoData.district, searchText: wardFilter['value']}"
                                    [value]="item?.id">{{ item?.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Địa chỉ (thôn/đường)</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.address" matInput />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <h5>Thánh Thất thành lập do:</h5>
                <div class="flex flex-wrap">
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Đạo lịnh số</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.daoLinhNumber" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Ngày Đạo lịnh</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.daoLinhDate" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Tháng Đạo lịnh</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.daoLinhMonth" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Năm Đạo lịnh</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.daoLinhYear" matInput />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="py-3">
                <h4>II. VỀ NGƯỜI SÁNG LẬP THÁNH THẤT VÀ NGƯỜI HIẾN ĐẤT XÂY DỰNG THÁNH THẤT:</h4>
                <div class="flex flex-wrap" *ngFor="let person of thanhSoData?.founders; let index = index">
                    <div class="p-3 w-full lg:w-1/2">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Họ và Tên</mat-label>
                            <input type="text" [(ngModel)]="person.name" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/2">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Phẩm Đạo sau cùng</mat-label>
                            <input type="text" [(ngModel)]="person.lastTitle" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-label>Là người sáng Lập</mat-label>
                        <mat-checkbox [(ngModel)]="person.isFounder"></mat-checkbox>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-label>Là người hiến Đất</mat-label>
                        <mat-checkbox [(ngModel)]="person.isDonor"></mat-checkbox>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Diện Tích m<sup>2</sup></mat-label>
                            <input type="text" [(ngModel)]="person.donatedM2" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-label>Còn sống hay đã liễu?</mat-label>
                        <div>
                            <mat-radio-group [(ngModel)]="person.isInAlive">
                                <mat-radio-button [value]="true">Còn sống</mat-radio-button>
                                <mat-radio-button [value]="false">Đã liễu</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="p-3 w-full">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Ghi chú</mat-label>
                            <textarea matInput [(ngModel)]="person.note"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full flex justify-end">
                        <button mat-button (click)="onRemovePerson(index)"><mat-icon>delete</mat-icon>Xoá</button>
                    </div>
                    <div class="w-full">
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <button mat-stroked-button class="w-full" [color]="'primary'" (click)="addMorePerson()">
                    <mat-icon>add</mat-icon>Thêm người
                </button>
            </div>
            <mat-divider></mat-divider>
            <div class="py-3">
                <h4>III. VỀ ĐẤT ĐAI VÀ CÁC CÔNG TRÌNH XÂY DỰNG:</h4>
                <div class="flex flex-wrap">
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Tổng diện tích Họ Đạo hiện có</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.totalArea" matInput />
                            <span class="p-3" matSuffix>m<sup>2</sup></span>
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Số địa bộ (QSDĐ)</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.qSDD" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/2"></div>
                    <div class="p-3 w-full lg:w-1/2">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Tên người đứng bộ (thay mặt cho Đạo)</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.representativeName" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Từ năm</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.representativeFromYear" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/4">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Đến năm</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.representativeToYear" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/3">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Diện tích do bổn Đạo phụng hiến</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.donatedArea" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/3">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Diện tích do Họ Đạo tạo mãi</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.taoMaiArea" matInput />
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/3">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Diện tích các công trình xây dựng</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.buildingArea" matInput />
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <h5>Thống kê diện tích đất vào các công trình xây dựng</h5>
                    <div *ngFor="let building of thanhSoData?.buildings">
                        <h6>{{building?.name}}</h6>
                        <div class="flex flex-wrap">
                            <div class="p-3 w-full lg:w-1/4">
                                <mat-label>Không có {{building?.name}}</mat-label>
                                <mat-checkbox [(ngModel)]="building.isNotExist"></mat-checkbox>
                            </div>
                            <div class="p-3 w-full lg:w-1/4">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Diện tích m<sup>2</sup></mat-label>
                                    <input type="text" [(ngModel)]="building.buildingArea" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/4">
                                <mat-label>Kết cấu</mat-label>
                                <div>
                                    <mat-radio-group [(ngModel)]="building.structure">
                                        <mat-radio-button [value]="'solid'">Gạch/Bê tông</mat-radio-button>
                                        <mat-radio-button [value]="'leaft'">Cây lá</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="p-3 w-full lg:w-1/4">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Hiện trạng</mat-label>
                                    <input type="text" [(ngModel)]="building.status" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/4">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Sửa chữa/Xây mới mấy lần?</mat-label>
                                    <input type="text" [(ngModel)]="building.count" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/4">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Vào năm</mat-label>
                                    <input type="text" [(ngModel)]="building.history" matInput />
                                    <mat-hint>Ví dụ nhập: 1950,2003,...</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full">
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="p-3 w-full lg:w-1/3">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Diện tích đất phước điền</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.farmArea" matInput />
                            <span class="p-3" matSuffix>m<sup>2</sup></span>
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/3">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Diện tích đất nghĩa địa</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.cemeteryArea" matInput />
                            <span class="p-3" matSuffix>m<sup>2</sup></span>
                        </mat-form-field>
                    </div>
                    <div class="p-3 w-full lg:w-1/3">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Diện tích đất dùng vào mục đích khác</mat-label>
                            <input type="text" [(ngModel)]="thanhSoData.otherArea" matInput />
                            <span class="p-3" matSuffix>m<sup>2</sup></span>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="py-3">
                <h4>IV. VỀ NHÂN SỰ:</h4>
                <div>
                    <h5>Đầu Họ Đạo qua các thời kỳ:</h5>
                    <div *ngFor="let leader of thanhSoData?.leaders; let index= index">
                        <mat-label>{{index + 1 | number: '2.0-0'}}</mat-label>
                        <div class="flex flex-wrap">
                            <div class="p-3 w-full lg:w-1/5">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Họ và Tên</mat-label>
                                    <input type="text" [(ngModel)]="leader.name" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/5">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Năm sinh</mat-label>
                                    <input type="text" [(ngModel)]="leader.birthday" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/5">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Thánh danh</mat-label>
                                    <input type="text" [(ngModel)]="leader.holyName" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/5">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Giáo Phẩm</mat-label>
                                    <input type="text" [(ngModel)]="leader.title" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/5">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Giai đoạn</mat-label>
                                    <input type="text" [(ngModel)]="leader.stage" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full flex justify-end">
                                <button mat-button
                                    (click)="onRemoveLeader(index)"><mat-icon>delete</mat-icon>Xoá</button>
                            </div>
                            <div class="w-full">
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                    <button mat-stroked-button class="w-full" [color]="'primary'" (click)="addMoreLeader()">
                        <mat-icon>add</mat-icon>Thêm Đầu Họ Đạo
                    </button>
                </div>
                <div>
                    <h5>Danh sách 3 Ban nhiệm kỳ VI (2022-2027): Ban Đầu họ, Ban Cai Quản, Ban Trị sự:</h5>
                    <div *ngFor="let worker of thanhSoData?.workers; let index= index">
                        <h6>{{worker?.role}}</h6>
                        <div class="flex flex-wrap">
                            <div class="p-3 w-full lg:w-1/5">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Nhiệm vụ</mat-label>
                                    <input type="text" [(ngModel)]="worker.role" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/5">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Họ và Tên</mat-label>
                                    <input type="text" [(ngModel)]="worker.name" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/5">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Năm sinh</mat-label>
                                    <input type="text" [(ngModel)]="worker.birthday" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/5">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Thánh danh</mat-label>
                                    <input type="text" [(ngModel)]="worker.holyName" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full lg:w-1/5">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Giáo Phẩm</mat-label>
                                    <input type="text" [(ngModel)]="worker.title" matInput />
                                </mat-form-field>
                            </div>
                            <div class="p-3 w-full flex justify-end">
                                <button mat-button
                                    (click)="onRemoveWorker(index)"><mat-icon>delete</mat-icon>Xoá</button>
                            </div>
                            <div class="w-full">
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                    <button mat-stroked-button class="w-full" [color]="'primary'" (click)="addMoreWorker()">
                        <mat-icon>add</mat-icon>Thêm Chức việc
                    </button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <button mat-flat-button [color]="'primary'" (click)="onSave()"><mat-icon>save</mat-icon> Lưu</button>
        </div>
    </mat-tab>
    <mat-tab [label]="'Thông Qui 4 Hạng Chức Sắc'">

    </mat-tab>
</mat-tab-group>