@use "../../../../sass/variables.scss";
@use "sass:map";
::ng-deep {
  .tuan-cuu-container {
    .tuan-cuu-title {
      margin: 2rem 0;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
    .mat-tab-body-content, .mat-mdc-tab-body-content {
      padding: 1rem 0.5rem;
    }
    .form-group {
      padding: 0 1rem;
      @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
        width: 100%;
      }
    }
    .button-calc {
      margin: 2rem 0;
      button {
        margin-left: 1rem;
      }
    }
  }
  .qr-area {
    margin-bottom: 1rem;
  }
}
