<div class="wrapper-container tuan-cuu-container">
  <h1 class="text-center tuan-cuu-title">Tính tuần cửu</h1>
  <mat-tab-group [selectedIndex]="selectedIndex">
    <mat-tab label="Tính Tuần Cửu mới">
      <div class="form-group">
        <h3>Hãy chọn ngày từ trần</h3>
      </div>
      <div class="d-flex flex-wrap">
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Chọn Năm</mat-label>
            <mat-select [(ngModel)]="selectedDate.year">
              <mat-option *ngFor="let item of yearOptions" [value]="item?.solar"
                >{{ item?.solar }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Chọn Tháng</mat-label>
            <mat-select [(ngModel)]="selectedDate.month">
              <mat-option *ngFor="let item of monthOptions" [value]="item">{{
                item
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Chọn Ngày</mat-label>
            <mat-select [(ngModel)]="selectedDate.date">
              <mat-option *ngFor="let item of dayOptions" [value]="item">{{
                item
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-accordion multi class="event-accordion">
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title> Thông tin bổ sung</mat-panel-title>
          </mat-expansion-panel-header>
          <h3>Thông tin người vừa từ trần</h3>
          <div class="d-flex flex-wrap">
            <div class="form-group">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Họ và tên</mat-label>
                <input
                  type="text"
                  matInput
                  required
                  [(ngModel)]="calculatedTuanCuu.details.name"
                />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tuổi</mat-label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="calculatedTuanCuu.details.age"
                />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-label>Giới tính</mat-label>
              <div>
                <mat-radio-group [(ngModel)]="calculatedTuanCuu.details.sex">
                  <mat-radio-button [value]="'Nam'">Nam</mat-radio-button>
                  <mat-radio-button [value]="'Nữ'">Nữ</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="form-group d-flex justify-content-end button-calc">
        <button
          mat-raised-button
          (click)="saveTuanCuu()"
          *ngIf="tuanCuuEvents.length > 0"
          [disabled]="!calculatedTuanCuu.details.name"
          [color]="'primary'"
        >
          Lưu
        </button>
        <button
          mat-raised-button
          (click)="calculateTuanCuu()"
          [color]="'primary'"
        >
          Tính toán
        </button>
      </div>
      <div *ngIf="tuanCuuEvents.length > 0">
        <table mat-table [dataSource]="tuanCuuEvents">
          <!-- eventName Column -->
          <ng-container matColumnDef="eventName">
            <th mat-header-cell *matHeaderCellDef>Tuần</th>
            <td mat-cell *matCellDef="let element">{{ element.eventName }}</td>
          </ng-container>
          <!-- day Column -->
          <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef>Thứ</th>
            <td mat-cell *matCellDef="let element">{{ element.day }}</td>
          </ng-container>
          <!-- lunar Column -->
          <ng-container matColumnDef="lunar">
            <th mat-header-cell *matHeaderCellDef>Ngày âm lịch</th>
            <td mat-cell *matCellDef="let element">
              {{ element.lunar.lunarDay | number : "2.0-0" }}-{{
                element.lunar.lunarMonth | number : "2.0-0"
              }} {{
                element.lunar.lunarLeap ? 'nhuận' : ''
              }}
              {{ element.lunar.lunarYearName }}
            </td>
          </ng-container>
          <!-- solar Column -->
          <ng-container matColumnDef="solar">
            <th mat-header-cell *matHeaderCellDef>Ngày dương lịch</th>
            <td mat-cell *matCellDef="let element">
              {{ element.solar | date : "dd-MM-yyyy" }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab
      *ngFor="let item of tuanCuuList; let index = index"
      [label]="item?.name"
    >
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
          <h3>Lịch cúng cửu cho {{ item?.name }}</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button-share [title]="item?.title" [url]="item?.location">
              <button mat-menu-item><mat-icon>share</mat-icon>Chia sẻ</button>
            </button-share>
            <button mat-menu-item (click)="deleteTuanCuu(item)">
              <mat-icon>delete</mat-icon>Xóa
            </button>
          </mat-menu>
        </div>
        <p>
          Từ trần: ngày {{ item?.date?.lunarDay }} tháng
          {{ item?.date?.lunarMonth }} năm {{ item?.date?.lunarYearName }}
        </p>
        <div *ngIf="item?.event?.length > 0">
          <table mat-table [dataSource]="item?.event">
            <!-- eventName Column -->
            <ng-container matColumnDef="eventName">
              <th mat-header-cell *matHeaderCellDef>Tuần</th>
              <td mat-cell *matCellDef="let element">
                {{ element.eventName }}
              </td>
            </ng-container>
            <!-- day Column -->
            <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef>Thứ</th>
              <td mat-cell *matCellDef="let element">{{ element.day }}</td>
            </ng-container>
            <!-- lunar Column -->
            <ng-container matColumnDef="lunar">
              <th mat-header-cell *matHeaderCellDef>Ngày âm lịch</th>
              <td mat-cell *matCellDef="let element">
                {{ element.lunar.lunarDay | number : "2.0-0" }}-{{
                  element.lunar.lunarMonth | number : "2.0-0"
                }} {{element.lunar.lunarLeap ? 'nhuận' : ''}}
                {{ element.lunar.lunarYearName }}
              </td>
            </ng-container>
            <!-- solar Column -->
            <ng-container matColumnDef="solar">
              <th mat-header-cell *matHeaderCellDef>Ngày dương lịch</th>
              <td mat-cell *matCellDef="let element">
                {{ element.solar | date : "dd-MM-yyyy" }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
