<div class="wrapper-container tuan-cuu-container">
  <h1 class="text-center tuan-cuu-title">Tính tuần cửu</h1>
  <mat-tab-group [selectedIndex]="selectedIndex">
    <mat-tab label="Tính Tuần Cửu mới">
      <div class="form-group">
        <h3>Hãy chọn ngày từ trần</h3>
      </div>
      <div class="d-flex flex-wrap">
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Chọn Năm</mat-label>
            <mat-select
              [(ngModel)]="selectedDate.year"
              (ngModelChange)="onUpdateInfomation()"
            >
              <mat-option
                *ngFor="let item of yearOptions"
                [value]="item?.solar"
                >{{ item?.solar }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Chọn Tháng</mat-label>
            <mat-select
              [(ngModel)]="selectedDate.month"
              (ngModelChange)="onUpdateInfomation()"
            >
              <mat-option *ngFor="let item of monthOptions" [value]="item">{{
                item
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Chọn Ngày</mat-label>
            <mat-select
              [(ngModel)]="selectedDate.date"
              (ngModelChange)="onUpdateInfomation()"
            >
              <mat-option *ngFor="let item of dayOptions" [value]="item">{{
                item
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="calculatedLunarDate">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Âm lịch</mat-label>
            <input
              type="text"
              matInput
              [value]="calculatedLunarDate"
              [disabled]="true"
            />
          </mat-form-field>
        </div>
      </div>
      <mat-accordion multi class="event-accordion">
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title> Thông tin bổ sung</mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ eventSummary }}</p>
          <h3>Thông tin người vừa từ trần</h3>
          <div class="d-flex flex-wrap">
            <div class="form-group">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Họ và Tên</mat-label>
                <input
                  type="text"
                  matInput
                  required
                  [(ngModel)]="calculatedTuanCuu.details.name"
                  (input)="onUpdateInfomation()"
                  (ngModelChange)="onUpdateInfomation()"
                />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-label>Giới tính</mat-label>
              <div>
                <mat-radio-group
                  [(ngModel)]="calculatedTuanCuu.details.sex"
                  (ngModelChange)="onUpdateInfomation()"
                >
                  <mat-radio-button [value]="'male'">Nam</mat-radio-button>
                  <mat-radio-button [value]="'female'">Nữ</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Chức Đạo</mat-label>
                <mat-select
                  [(ngModel)]="calculatedTuanCuu.details.title"
                  (ngModelChange)="onUpdateInfomation()"
                >
                  <mat-option
                    *ngFor="let item of caoDaiTitle"
                    [value]="item.key"
                    >{{ item.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="subTitles?.length > 0">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Chức Vụ</mat-label>
                <mat-select
                  [(ngModel)]="calculatedTuanCuu.details.subTitle"
                  (ngModelChange)="onUpdateInfomation()"
                >
                  <mat-option
                    *ngFor="let item of subTitles"
                    [value]="item.key"
                    >{{ item.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div
              class="form-group"
              *ngIf="
                calculatedTuanCuu.details.sex === 'male' && isHolyNameRequired
              "
            >
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Sắc phái</mat-label>
                <mat-select
                  [(ngModel)]="calculatedTuanCuu.details.color"
                  (ngModelChange)="onUpdateInfomation()"
                >
                  <mat-option
                    *ngFor="let item of colors"
                    [value]="item.key"
                    [ngStyle]="{ background: item.color }"
                    >{{ item.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="isHolyNameRequired">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Thánh Danh</mat-label>
                <input
                  type="text"
                  matInput
                  [required]="isHolyNameRequired"
                  [(ngModel)]="calculatedTuanCuu.details.holyName"
                  (ngModelChange)="onUpdateInfomation()"
                />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tuổi</mat-label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="calculatedTuanCuu.details.age"
                  (ngModelChange)="onUpdateInfomation()"
                />
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="form-group d-flex justify-content-end button-calc">
        <button
          mat-raised-button
          (click)="saveTuanCuu()"
          *ngIf="tuanCuuEvents.length > 0"
          [disabled]="!calculatedTuanCuu.details.name"
          [color]="'primary'"
        >
          Lưu
        </button>
        <button
          mat-raised-button
          (click)="calculateTuanCuu()"
          [color]="'primary'"
        >
          Tính toán
        </button>
      </div>
      <div *ngIf="tuanCuuEvents.length > 0">
        <table mat-table [dataSource]="tuanCuuEvents">
          <!-- eventName Column -->
          <ng-container matColumnDef="eventName">
            <th mat-header-cell *matHeaderCellDef>Tuần</th>
            <td mat-cell *matCellDef="let element">{{ element.eventName }}</td>
          </ng-container>
          <!-- day Column -->
          <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef>Thứ</th>
            <td mat-cell *matCellDef="let element">{{ element.day }}</td>
          </ng-container>
          <!-- lunar Column -->
          <ng-container matColumnDef="lunar">
            <th mat-header-cell *matHeaderCellDef>Ngày âm lịch</th>
            <td mat-cell *matCellDef="let element">
              {{ element.lunar.lunarDay | number : "2.0-0" }}-{{
                element.lunar.lunarMonth | number : "2.0-0"
              }}
              {{ element.lunar.lunarLeap ? "nhuận" : "" }}
              {{ element.lunar.lunarYearName }}
            </td>
          </ng-container>
          <!-- solar Column -->
          <ng-container matColumnDef="solar">
            <th mat-header-cell *matHeaderCellDef>Ngày dương lịch</th>
            <td mat-cell *matCellDef="let element">
              {{ element.solar | date : "dd-MM-yyyy" }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab
      *ngFor="let item of tuanCuuList; let index = index"
      [label]="item?.tab"
    >
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
          <h3>Lịch {{ item?.name }}</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button-share [title]="item?.title" [url]="item?.location">
              <button mat-menu-item><mat-icon>share</mat-icon>Chia sẻ</button>
            </button-share>
            <button mat-menu-item (click)="onCallPrint(item)">
              <mat-icon>print</mat-icon>In
            </button>
            <button mat-menu-item (click)="deleteTuanCuu(item)">
              <mat-icon>delete</mat-icon>Xóa
            </button>
          </mat-menu>
        </div>
        <p>
          Từ trần ngày
          {{
            item?.date?.lunarDay < 10
              ? "0" + item?.date?.lunarDay
              : item?.date?.lunarDay
          }}
          tháng
          {{
            item?.date?.lunarMonth < 10
              ? "0" + item?.date?.lunarMonth
              : item?.date?.lunarMonth
          }}
          năm {{ item?.date?.lunarYearName }} ({{
            item?.date?.date < 10 ? "0" + item?.date?.date : item?.date?.date
          }}/{{
            item?.date?.month < 10
              ? "0" + item?.date?.month
              : item?.date?.month
          }}/{{ item?.date?.year }})
        </p>
        <div *ngIf="item?.event?.length > 0" [id]="item?.key">
          <table
            mat-table
            [dataSource]="item?.event"
            style="width: 100%"
            class="tableContent"
            cellspacing="0"
          >
            <!-- eventName Column -->
            <ng-container matColumnDef="eventName">
              <th mat-header-cell *matHeaderCellDef>Tuần</th>
              <td mat-cell *matCellDef="let element">
                {{ element.eventName }}
              </td>
            </ng-container>
            <!-- day Column -->
            <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef>Thứ</th>
              <td mat-cell *matCellDef="let element">{{ element.day }}</td>
            </ng-container>
            <!-- lunar Column -->
            <ng-container matColumnDef="lunar">
              <th mat-header-cell *matHeaderCellDef>Ngày âm lịch</th>
              <td mat-cell *matCellDef="let element">
                {{ element.lunar.lunarDay | number : "2.0-0" }}-{{
                  element.lunar.lunarMonth | number : "2.0-0"
                }}
                {{ element.lunar.lunarLeap ? "nhuận" : "" }}
                {{ element.lunar.lunarYearName }}
              </td>
            </ng-container>
            <!-- solar Column -->
            <ng-container matColumnDef="solar">
              <th mat-header-cell *matHeaderCellDef>Ngày dương lịch</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex justify-between items-center">
                  {{ element.solar | date : "dd-MM-yyyy" }}
                  <button
                    mat-icon-button
                    class="btn-share-item"
                    [matTooltip]="'Tải ảnh chia sẻ'"
                    (click)="showShareImage(element, item)"
                    *ngIf="isShowDownLoadImage"
                  >
                    <mat-icon>download</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #expiriedEventDialog>
  <div mat-dialog-title>Sự kiện đã hết hạn</div>
  <mat-dialog-content class="tuan-cuu">
    <mat-list>
      <mat-list-item *ngFor="let item of expiriedEvent">
        <div class="tuan-cuu-e">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              Lịch cúng cửu cho {{ item?.details?.name }}
              {{ item?.details?.age }} tuổi <br />
              Đã hết hạn lúc
              {{
                item?.event[item?.event?.length - 1]?.solar
                  | date : "dd/MM/YYYY"
              }}
            </div>
            <button
              mat-flat-button
              [mat-dialog-close]="true"
              [color]="'primary'"
              (click)="deleteTuanCuu(item)"
            >
              Xóa
            </button>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Đóng</button>
    <button
      mat-flat-button
      [color]="'primary'"
      (click)="deleteAllExpiriedEvent()"
      [mat-dialog-close]="true"
    >
      Xóa tất cả
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #printBottomSheet>
  <h3 class="text-3xl my-3 font-semibold">Xác nhận in</h3>
  <div class="container-fluid">
    <p>Xác nhận in lịch cúng cửu cho {{ printedInfo?.name }}</p>
    <p>
      Từ trần ngày {{ printedInfo?.date?.lunarDay }} tháng
      {{ printedInfo?.date?.lunarMonth }} năm
      {{ printedInfo?.date?.lunarYearName }} ({{
        printedInfo?.date.date | number : "2.0-0"
      }}/{{ printedInfo?.date.month | number : "2.0-0" }}/{{
        printedInfo?.date.year
      }})
    </p>
    <div class="qr-area">
      <qrcode
        #parent
        [qrdata]="printedInfo?.location"
        [width]="300"
        [imageHeight]="75"
        [imageWidth]="75"
        [cssClass]="'flex justify-center'"
        [errorCorrectionLevel]="'M'"
        [colorDark]="'#000000ff'"
        [colorLight]="'#ffffffff'"
        [elementType]="'canvas'"
        [margin]="4"
        [scale]="128"
        [imageSrc]="'assets/icons/assets/circle-logo.svg'"
      ></qrcode>
      <div class="text-center">
        <button
          mat-raised-button
          color="primary"
          (click)="onPrint(printedInfo, parent)"
        >
          <mat-icon>print</mat-icon> Xác nhận in
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #shareBottomSheet>
  <h3 class="text-3xl my-3 font-semibold">Tải ảnh chia sẻ</h3>
  <div class="container-fluid">
    <mat-form-field class="w-full">
      <mat-label>Thời gian cúng</mat-label>
      <mat-select [(ngModel)]="shareItem.time">
        <mat-option *ngFor="let item of timeZone" [value]="item.name">{{
          item.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div #shareImage class="p-8 max-w-[720px]" [id]="shareItem.id">
      <h1 class="text-2xl font-bold text-center mb-8">
        {{ shareItem?.element?.eventName?.toUpperCase() }} CHO
        {{ shareItem?.item?.tab?.toUpperCase() }}
      </h1>
      <p class="text-center text-xl font-bold mb-8">
        {{ shareItem?.element?.day }}
        Ngày {{ shareItem?.element?.lunar?.lunarDay | number : "2.0-0" }} tháng
        {{ shareItem?.element?.lunar?.lunarMonth | number : "2.0-0" }}
        {{ shareItem?.element?.lunar?.lunarLeap ? "nhuận" : "" }}
        năm {{ shareItem?.element?.lunar?.lunarYearName }} ({{
          shareItem?.element?.solar | date : "dd/MM/yyyy"
        }})
      </p>
      <p class="text-center text-xl font-bold">THỜI {{ shareItem.time }}</p>
    </div>
    <div class="text-center">
      <button
        mat-raised-button
        color="primary"
        (click)="saveAsImage(shareItem)"
        [disabled]="downloading"
      >
        <mat-icon>download</mat-icon> Tải ảnh chia sẻ
      </button>
    </div>
  </div>
</ng-template>
