<div class="p-3">
    <h4 class="text-center">Ăn chay cùng CaoDaiON</h4>
    <div class="flex gap-1 justify-center mb-4">
        @if (data?.showAnChay['luc-trai']) {
        <div class="an-chay">lục trai</div>
        }
        @if (data?.showAnChay['thap-trai']) {
        <div class="an-chay">thập trai</div>
        }
        @if (data?.showAnChay['thien-nguon']) {
        <div class="an-chay">thiên ngươn</div>
        }
    </div>
    <h5 class="text-center">Hôm nay ăn gì?</h5>
    @if (randomVideo) {
    <div class="video-container mb-4">
        @if (randomVideo.isTiktokLink) {
        <div [innerHTML]="randomVideo?.html"></div>
        } @else {
        <iframe class="w-full h-[500px] md:h-[600px]" src="https://www.youtube.com/embed/{{ randomVideo.id }}"
            frameborder="0" allowfullscreen></iframe>
        }
    </div>
    } @else {
    <p class="text-center">Chưa có video ăn chay nào được cập nhật.</p>
    }
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Lục trai, thập trai, thiên ngươn, và trường trai là gì?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="list-decimal ml-[1rem] text-lg text-justify">
            <li><strong>Lục trai:</strong> 6 ngày (1, 8, 14, Rằm, 23, 29/30) - Tín đồ</li>
            <li>
                <strong>Thập trai:</strong> 10 ngày (1, 8, 14, Rằm, 18, 23, 24, 27/28(2 ngày trước cuối tháng), 29/30
                (ngày cuối tháng)) - Tín đồ, chức việc.
            </li>
            <li>
                <strong>Thiên ngươn:</strong> 16 ngày (1, 4, 6, 8, 9, 14, Rằm, 16, 18, 19,
                23, 24, 25, 27/28, 29, 30) - Phẩm trung thừa, Lễ sanh.
            </li>
            <li><strong>Trường trai:</strong> - Phẩm Thượng thừa, hay tự nguyện.</li>
        </ul>
    </mat-expansion-panel>

</div>