::ng-deep {
  app-kinh-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    .kinh-content-title {
      padding: 2rem;
      margin: 0;
    }

    .kinh-container {
      &-wrapper {
        flex: 1;
        overflow: hidden;
      }
    }

    .kinh-header {
      overflow: hidden;
      white-space: normal;
      width: 100%;

      .header-description {
        line-height: 1;
        margin-bottom: .5rem;
      }
    }
  }
}
