<div class="wrapper-container kinh-content-container">
  <app-header
    class="header"
    [prevPage]="{
      navigate: { link: 'trang-chu/kinh' }
    }"
  >
    <div class="kinh-header">
      <app-header-title>{{ content?.name }}</app-header-title
      ><app-header-sub-title>{{
        getFormValue("ten-khac-phan-loai")
          ? " - " + getFormValue("ten-khac-phan-loai")
          : ""
      }}</app-header-sub-title>
      <div class="header-description">
        <app-header-description>{{
          getFormValue("giong-doc")
        }}</app-header-description>
      </div>
    </div>
  </app-header>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <div
    class="kinh-container-wrapper"
    (touchstart)="swipe($event, 'start')"
    (touchend)="swipe($event, 'end')"
  >
    <div *ngIf="content" class="h-100 overflow-auto relative">
      <div class="sticky top-0 w-full">
        <mat-form-field class="w-full">
          <mat-label>Cỡ chữ</mat-label>
          <mat-select
            [(ngModel)]="fontSize"
            (ngModelChange)="updateFontSize()"
          >
            <mat-option *ngFor="let item of fontSizeRange" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-3">
        <markdown
          *ngIf="content.data"
          class="variable-binding w-full lg:w-1/2 text-justify select-text"
          [data]="content.data"
          [ngClass]="{ 'lg:w-full': !contentEditable }"
          [ngStyle]="{
            fontSize: fontSize + 'px'
          }"
        ></markdown>
      </div>
    </div>
  </div>
  <app-bottom-navigator
    *ngIf="!authService.contentEditable || content?.type == 'block'"
    [prev]="{
      text: 'Trước đó',
      navigate: { link: navigate.prev.link, queryParams: queryParams }
    }"
    [next]="{
      text: 'Tiếp theo',
      navigate: { link: navigate.next.link, queryParams: queryParams }
    }"
  ></app-bottom-navigator>
</div>
