<audio src="assets/audios/sound-effect/mixkit-correct-answer-notification-947.wav" #correctAnswer></audio>
<audio src="assets/audios/sound-effect/mixkit-tech-break-fail-2947.wav" #inCorrectAnswer></audio>
<audio src="assets/audios/sound-effect/mixkit-negative-answer-lose-2032.wav" #lose></audio>
<audio src="assets/audios/sound-effect/mixkit-achievement-bell-600.wav" #almostWin></audio>
<audio src="assets/audios/sound-effect/mixkit-fantasy-game-success-notification-270.wav" #win></audio>
<div class="flex flex-col h-full">
    <mat-toolbar class="!bg-[#eaf1fb] sticky top-0 z-10">
        <button mat-icon-button [routerLink]="'/tac-vu/quiz/' + section?.key"><mat-icon>arrow_back</mat-icon></button>
        <div class="flex-1"></div>
        <div>{{lesson?.setting?.name}}</div>
        <div class="flex-1"></div>
        <button-share [title]="lesson?.setting?.name">
            <button mat-icon-button [color]="'primary'" [matTooltip]="'Chia sẻ ngay'">
                <mat-icon>share</mat-icon>
            </button>
        </button-share>
    </mat-toolbar>
    <div class="flex-1 flex flex-col justify-between w-full pb-0 max-h-full overflow-auto py-4 px-0 lg:p-4">
        <div class="flex items-center px-2 lg:px-0">
            <div class="w-full h-6 bg-gray-100 rounded-full">
                <div class="h-full rounded-full bg-[#4285f4]" [ngStyle]="{'width': calculatedProgressBar()}"></div>
            </div>
            <mat-form-field class="w-full" *ngIf="section?.setting?.allowToEdit">
                <mat-label>Tài liệu tham khảo</mat-label>
                <input type="text" matInput [(ngModel)]="lesson.setting.references">
            </mat-form-field>
            <button mat-stroked-button [color]="'primary'" *ngIf="lesson?.setting?.references && !isPhone"
                [matTooltip]="'Đọc tài liệu tham khảo'" (click)="onViewReferences()"
                class="whitespace-nowrap !min-w-[auto] ml-4"><mat-icon>library_books</mat-icon>
                <span class="hidden lg:inline-block">Tài liệu</span></button>
            <button mat-icon-button [color]="'primary'" *ngIf="lesson?.setting?.references && isPhone"
                [matTooltip]="'Đọc tài liệu tham khảo'" (click)="onViewReferences()"
                class="whitespace-nowrap !min-w-[auto] ml-4"><mat-icon>library_books</mat-icon>
            </button>
            <button *ngIf="section?.setting?.allowToEdit" mat-flat-button [color]="'primary'" (click)="updateQuestion()"
                class="!min-w-[auto]">
                <mat-icon>add</mat-icon>
                <span class="whitespace-nowrap">Thêm câu hỏi</span>
            </button>
        </div>
        <ng-container *ngFor="let item of lesson?.questions; let index = index">
            <ng-container *ngIf="answeredIndex === index">
                <div class="flex-1 flex flex-col items-center max-h-full overflow-auto justify-start pt-12">
                    <ng-container *ngIf="section?.setting?.allowToEdit">
                        <mat-form-field [appearance]="'outline'" class="w-full">
                            <mat-label>Mã câu hỏi</mat-label>
                            <input type="text" matInput disabled [(ngModel)]="item.key">
                        </mat-form-field>
                        <mat-form-field [appearance]="'outline'" class="w-full">
                            <mat-label>Câu hỏi</mat-label>
                            <textarea class="text-center" matInput [(ngModel)]="item.question"
                                (input)="onUpdateQuestion(item, index)"></textarea>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="item.question">
                        <div class="flex flex-wrap justify-around items-center w-full">
                            <ng-container *ngIf="section?.setting?.allowToEdit">
                                <div class="w-full lg:w-1/4 p-4">
                                    <mat-form-field [appearance]="'outline'" class="w-full">
                                        <mat-label>Câu hỏi hình ảnh</mat-label>
                                        <input type="text" matInput [(ngModel)]="item.setting.image">
                                    </mat-form-field>
                                </div>
                                <div class="w-full lg:w-1/4 p-4">
                                    <mat-form-field [appearance]="'outline'" class="w-full">
                                        <mat-label>Video YouTube</mat-label>
                                        <input type="text" matInput [(ngModel)]="item.setting.youtube">
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                        <iframe *ngIf="item?.setting?.youtube" class="w-full"
                            [src]="item?.setting?.youtube | safe" frameborder="0" allowfullscreen></iframe>
                        <div *ngIf="item?.setting?.image" class="max-h-80 rounded-md bg-slate-100"
                            [ngClass]="{'bg-transparent': item?.setting?.loaded, 'animate-pulse': !item?.setting?.loaded}">
                            <img [src]="item.setting.image" [alt]="item.question" [ngStyle]="{
                                'opacity': item?.setting?.loaded ? '1' : '0'
                                }" class="max-h-80 w-full object-contain object-center rounded-md"
                                (load)="updatedImage(item.setting, $event)">
                        </div>

                    </ng-container>
                    <div class="p-4">
                        <app-cp-markdown [data]="item.question" [classes]="'text-center'"></app-cp-markdown>
                    </div>
                    <mat-radio-group [(ngModel)]="item.answer" class="w-full flex flex-wrap justify-around mb-9">
                        <ng-container *ngFor="let asnwer of item?.option; let index = index">
                            <div class="p-2 lg:p-4 w-1/2 lg:w-1/4" (click)="item.selected = asnwer?.text">
                                <div class="flex border rounded-2xl p-2 lg:p-6 justify-between items-center cursor-pointer"
                                    [ngClass]="{'selectedOption': item.selected == asnwer?.text}">
                                    <mat-radio-button *ngIf="section?.setting?.allowToEdit"
                                        [value]="asnwer?.text"></mat-radio-button>
                                    <div
                                        class="border rounded-2xl min-h-[40px] h-10 min-w-[40px] w-10 flex justify-center items-center font-bold">
                                        {{index + 1 |
                                        number: '2.0-0'}}</div>
                                    <div class="w-full h-full flex items-center justify-center flex-col">
                                        <div class="whitespace-break-spaces ml-2 lg:ml-4 text-center font-bold">
                                            {{asnwer?.text}}
                                        </div>
                                        <ng-container *ngIf="section?.setting?.allowToEdit">
                                            <mat-form-field [appearance]="'outline'" class="w-full ml-4 text-center">
                                                <mat-label>Câu trả lời</mat-label>
                                                <input type="text" matInput [(ngModel)]="asnwer.text">
                                            </mat-form-field>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="section?.setting?.allowToEdit">
                            <div class="p-4 w-1/2 lg:w-1/4">
                                <button *ngIf="section?.setting?.allowToEdit" mat-flat-button [color]="'primary'"
                                    (click)="updateAnswer(item)" class="w-full">
                                    <mat-icon>add</mat-icon>
                                    <span class="whitespace-nowrap">Thêm đáp án</span>
                                </button>
                            </div>
                        </ng-container>
                    </mat-radio-group>
                </div>
                <div class="container-fluid bottom-side lg:!px-12 sticky bottom-0 border-t-4" [ngClass]="{
                          'correctly border-[#4285f4]': item.correctly === true,
                          'incorrectly border-[#f44a3e]': item.correctly === false
                        }">
                    <div class="w-full flex justify-between flex-col lg:flex-row items-center p-4 lg:py-10">
                        <div>
                            <div *ngIf="item.correctly === true">
                                <div class="flex items-center">
                                    <mat-icon
                                        class="text-[#4285f4] font-bold !text-[5rem] !h-[5rem] !w-[5rem]">check_circle</mat-icon>
                                    <div class="text-[#4285f4] ms-4">
                                        <h4 class="font-bold">Chính xác</h4>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="item.correctly === false">
                                <div class="flex items-center">
                                    <mat-icon
                                        class="text-[#f44a3e] font-bold !text-[5rem] !h-[5rem] !w-[5rem]">cancel</mat-icon>
                                    <div class="text-[#f44a3e] ms-4">
                                        <h4 class="font-bold">Chưa chính xác</h4>
                                        <strong>Đáp án là: </strong>{{ item?.answer }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full lg:w-auto mt-4 lg:mt-0">
                            <button mat-flat-button [color]="item.correctly === false ? 'warn' : 'primary'"
                                (click)="answeredIndex = answeredIndex - 1"
                                *ngIf="answeredIndex !== 0 && section?.setting?.allowToEdit"
                                class="w-full lg:w-auto mx-4">
                                TRƯỚC ĐÓ
                            </button>
                            <button mat-flat-button [color]="item.correctly === false ? 'warn' : 'primary'"
                                (click)="checkAnswer(item)" [disabled]="!item.selected" *ngIf="
                                item.correctly !== true && item.correctly !== false
                              " class="w-full lg:w-auto">
                                KIỂM TRA
                            </button>
                            <button mat-flat-button [color]="item.correctly === false ? 'warn' : 'primary'"
                                (click)="onNext()" [disabled]="!section?.setting?.allowToEdit && !item.selected" *ngIf="
                                (item.correctly === true || item.correctly === false) || section?.setting?.allowToEdit
                              " class="w-full lg:w-auto">
                                TIẾP TỤC
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <div class="h-full flex flex-col justify-between" *ngIf="calculatedProgressBar() == '100%'">
            <div class="container-fluid h-full flex flex-col items-center justify-center">
                <h3 class="text-center mb-8">{{ message }}</h3>
                <div class="w-full justify-around items-center flex-wrap lg:!px-12">
                    <div class="border-4 border-[#4285f4] rounded-2xl w-[150px] h-[100px] mb-4">
                        <div class="text-center font-bold text-[#4285f4]">ĐÚNG</div>
                        <div class="text-center font-bold text-[#4285f4] text-6xl">
                            {{ correctlyCount }}
                        </div>
                    </div>
                    <div class="border-4 border-[#f44a3e] rounded-2xl w-[150px] h-[100px] mb-4">
                        <div class="text-center font-bold text-[#f44a3e]">
                            KHÔNG ĐÚNG
                        </div>
                        <div class="text-center font-bold text-[#f44a3e] text-6xl">
                            {{ inCorrectlyCount }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid bottom-side lg:!px-12 sticky bottom-0 border-t-4">
                <div class="w-full flex justify-between items-center p-4 lg:py-10">
                    <div></div>
                    <div>
                        <button mat-flat-button [color]="'primary'" (click)="onCompleted()">
                            TIẾP TỤC
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button *ngIf="section?.setting?.allowToEdit" mat-flat-button [color]="'primary'" (click)="saveNewData()"
            class="w-full">
            <mat-icon>save</mat-icon>
            <span class="whitespace-nowrap">Lưu bài học</span>
        </button>
    </div>
</div>

<ng-template #updateContent>
    <div mat-dialog-title>Cập nhật {{googleFormsPaths[updatingDataIndex]?.dialogData?.type}}</div>
    <mat-dialog-content>
        <div>Nội dung cập nhật là: {{googleFormsPaths[updatingDataIndex]?.dialogData?.answer}}</div>
        <iframe *ngIf="googleFormsPaths[updatingDataIndex]?.path" [src]="
              googleFormsPaths[updatingDataIndex]?.path | safe
            " class="w-full lg:min-w-[1000px]" height="520" frameborder="0" marginheight="0"
            marginwidth="0">Loading…</iframe>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="w-full" mat-button matDialogClose>Đóng</button>
    </mat-dialog-actions>
</ng-template>