<mat-sidenav-container class="w-100" tosize>
    <mat-sidenav
      class="sub-sidenav"
      mode="side"
      [opened]="viewMissionService.isDrawerOpened"
      [mode]="drawerMode"
    >
      <mat-nav-list class="mat-list-sub-sidenav">
        <a
          mat-list-item
          class="icon-hover"
          [routerLink]="'/@' + currentUser?.userName"
          (click)="onToggleDrawer()"
        >
          <mat-icon class="sub-sidenav-icon">account_circle</mat-icon>
          <span class="label-large">{{ currentUser?.name }}</span></a
        >
        <a
          mat-list-item
          class="icon-hover active"
          *ngFor="let item of profileMenu"
          [routerLink]="'/@' + currentUser?.userName + '/guong'"
          (click)="onToggleDrawer()"
        >
          <mat-icon class="sub-sidenav-icon">{{ item?.icon }}</mat-icon>
          <span class="label-large">{{ item?.label }}</span></a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sub-sidenav-content overflow-x-hidden" id="subSidenavContent">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  