<div class="cp-creator-toolbar">
  <div>
    <button (click)="saveData()" mat-raised-button color="primary">
      Lưu
    </button>
  </div>
  <div class="toolbar-content">
    <mat-tab-group>
      <mat-tab label="Cài đặt">
        <div class="w-100 form-group">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Mã định danh</mat-label>
            <input matInput [(ngModel)]="data.key" disabled>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Tên</mat-label>
            <input matInput [(ngModel)]="data.name">
          </mat-form-field>
          <ng-container *ngFor="let form of data?.formGroup">
            <ng-container *ngIf="form?.type == 'radio'">
              <div class="w-100">
                <mat-label>{{form?.label}}</mat-label>
              </div>
              <mat-radio-group [(ngModel)]="form.value">
                <mat-radio-button *ngFor="let choose of form?.data" [value]="choose">{{choose}}</mat-radio-button>
              </mat-radio-group>
            </ng-container>
            <ng-container *ngIf="form?.type == 'shortText'">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{form?.label}}</mat-label>
                <input matInput [(ngModel)]="form.value">
              </mat-form-field>
            </ng-container>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab label="Chèn">
        <div class="w-100 form-group">
          <button mat-icon-button (click)="addNewBlock()" [disabled]="!focusedBlock || focusedBlock?.type == 'contentBlock'">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button (click)="addNewContentBlock()">
            <mat-icon>text_fields</mat-icon>
          </button>
          <button mat-icon-button (click)="openAudioDialog(audioDialog)">
            <mat-icon>music_note</mat-icon>
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #audioDialog>
  <div mat-dialog-title>Chỉnh sửa âm thanh</div>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Nguồn</mat-label>
      <input type="text" matInput [(ngModel)]="data.audio.src">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Đóng</button>
    <button
      mat-flat-button
      [color]="'primary'"
      (click)="addContentAudio()"
      [mat-dialog-close]="true"
    >
      Lưu
    </button>
  </mat-dialog-actions>
</ng-template>
