<div class="cp-creator-toolbar">
  <div class="flex justify-around items-center">
    <button
      *ngIf="contentEditable"
      (click)="saveData()"
      mat-raised-button
      color="primary"
    >
      <mat-icon>save</mat-icon>Lưu
    </button>
    <button
      *ngIf="contentEditable"
      (click)="reset.emit()"
      mat-stroked-button
      color="primary"
    >
      <mat-icon>refresh</mat-icon>Tải lại
    </button>
  </div>
  <div class="toolbar-content">
    <mat-tab-group>
      <mat-tab label="Cài đặt">
        <div class="w-100 form-group">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Mã định danh</mat-label>
            <input matInput [(ngModel)]="data.key" disabled />
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Tên</mat-label>
            <input matInput [(ngModel)]="data.name" />
          </mat-form-field>
          <div class="w-100">
            <mat-label>Công bố</mat-label>
            <mat-checkbox [(ngModel)]="data.published"></mat-checkbox>
          </div>
          <ng-container *ngFor="let form of data?.formGroup">
            <ng-container *ngIf="form?.type == 'radio'">
              <div class="w-100">
                <mat-label>{{ form?.label }}</mat-label>
              </div>
              <mat-radio-group [(ngModel)]="form.value">
                <mat-radio-button
                  *ngFor="let choose of form?.data"
                  [value]="choose"
                  >{{ choose }}</mat-radio-button
                >
              </mat-radio-group>
            </ng-container>
            <ng-container
              *ngIf="form?.type == 'shortText' || form?.type == 'text'"
            >
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{ form?.label }}</mat-label>
                <input matInput [(ngModel)]="form.value" />
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="form?.type == 'checkbox'">
              <div class="w-100">
                <mat-label>{{ form.label }}</mat-label>
                <mat-checkbox [(ngModel)]="form.value"></mat-checkbox>
              </div>
            </ng-container>
            <ng-container *ngIf="form?.type == 'textarea'">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{ form?.label }}</mat-label>
                <textarea matInput [(ngModel)]="form.value"></textarea>
              </mat-form-field>
            </ng-container>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab label="Chèn">
        <div class="w-100 form-group">
          <button
            mat-icon-button
            (click)="addNewBlock()"
            [disabled]="!focusedBlock || focusedBlock?.type == 'contentBlock'"
            [matTooltip]="'Thêm khối'"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="addNewContentBlock()"
            [matTooltip]="'Thêm nội dung'"
          >
            <mat-icon>text_fields</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="openAudioDialog(audioDialog)"
            [matTooltip]="'Thêm âm thanh'"
          >
            <mat-icon>music_note</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="openAddNewInputField(newFieldDialog)"
            [matTooltip]="'Thêm trường'"
          >
            <mat-icon>input</mat-icon>
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #audioDialog>
  <div mat-dialog-title>Chỉnh sửa âm thanh</div>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Nguồn</mat-label>
      <input type="text" matInput [(ngModel)]="data.audio.src" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Đóng</button>
    <button
      mat-flat-button
      [color]="'primary'"
      (click)="addContentAudio()"
      [mat-dialog-close]="true"
    >
      Lưu
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #newFieldDialog>
  <div mat-dialog-title>Thêm trường mới</div>
  <mat-dialog-content>
    <div class="w-full !my-4">
      <mat-form-field class="w-full" [appearance]="'outline'">
        <mat-label>Mã định danh trường</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="addedFormField.key"
          [required]="true"
          [disabled]="true"
        />
      </mat-form-field>
      <mat-form-field class="w-full" [appearance]="'outline'">
        <mat-label>Tiêu đề của trường</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="addedFormField.label"
          [required]="true"
          (input)="updateAddedFormFieldKey()"
        />
      </mat-form-field>
    </div>
    <button
      [type]="'button'"
      class="w-full block my-4 p-2 border rounded"
      [disabled]="!addedFormField.key"
      (click)="addedFormField.type = 'text'"
      [ngClass]="{ selectedType: addedFormField.type === 'text' }"
    >
      <div class="px-2 mb-2">
        <div class="text-xl font-bold mb-2">Trường nhập dữ liệu</div>
        <mat-divider></mat-divider>
        <div class="mt-2">
          Nhập nội dung ngắn bằng cách gõ bàn phím vào trường được thêm vào
        </div>
      </div>
    </button>
    <button
      [type]="'button'"
      class="w-full block my-4 p-2 border rounded"
      [disabled]="!addedFormField.key"
      (click)="addedFormField.type = 'textarea'"
      [ngClass]="{ selectedType: addedFormField.type === 'textarea' }"
    >
      <div class="px-2 mb-2">
        <div class="text-xl font-bold mb-2">Trường nhập dữ liệu dài</div>
        <mat-divider></mat-divider>
        <div class="mt-2">
          Nhập nội dung dài bằng cách gõ bàn phím vào trường được thêm vào
        </div>
      </div>
    </button>
    <button
      [type]="'button'"
      class="w-full block my-4 p-2 border rounded"
      [disabled]="!addedFormField.key"
      (click)="addedFormField.type = 'checkbox'"
      [ngClass]="{ selectedType: addedFormField.type === 'checkbox' }"
    >
      <div class="px-2 mb-2">
        <div class="text-xl font-bold mb-2">Hộp kiểm</div>
        <mat-divider></mat-divider>
        <div class="mt-2">Giá trị của trường sẽ hiển thị khi ấn chọn vào</div>
      </div>
    </button>
    <button
      [type]="'button'"
      class="w-full block my-4 p-2 border rounded"
      [disabled]="!addedFormField.key"
      (click)="addedFormField.type = 'comboLocation'"
      [ngClass]="{ selectedType: addedFormField.type === 'comboLocation' }"
    >
      <div class="px-2 mb-2">
        <div class="text-xl font-bold mb-2">Khối địa chỉ</div>
        <mat-divider></mat-divider>
        <div class="mt-2">
          Khối địa chỉ sẽ giúp cập nhật thông tin về địa chỉ
        </div>
        <div class="mt-2">
          Hãy chọn một trong các kiểu hiển thị địa chỉ như dưới đây
        </div>
        <div class="mt-2">
          <mat-radio-group
            [(ngModel)]="addedFormField.mode"
            [disabled]="addedFormField.type !== 'comboLocation'"
          >
            <mat-radio-button class="w-full block" [value]="'PpDdWwA'"
              >Lâm Đồng tỉnh, Đà Lạt thành phố, đệ thất phường, Đa Thành
              thôn</mat-radio-button
            >
            <mat-radio-button class="w-full block" [value]="'pPdDwWA'"
              >tỉnh Lâm Đồng, thành phố Đà Lạt, phường 7, thôn Đa
              Thành</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
    </button>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-flat-button
      [color]="'primary'"
      [disabled]="disabledAddFormField()"
      [matDialogClose]="true"
      (click)="addNewInputField()"
    >
      Thêm
    </button>
  </mat-dialog-actions>
</ng-template>
