@use "../../../../sass/variables.scss";
@use "sass:map";
::ng-deep {
  .event-content-container {
    background-color: map.get(variables.$light-theme, "on-primary");
    .event-accordion {
      padding: 0.5rem !important;
    }
    .mat-grid-tile-content {
      padding: 0.5rem !important;
    }

    .mat-card {
      cursor: pointer;
    }
    .information-data {
      margin-bottom: 0.5rem;
      mat-icon {
        margin-right: 0.5rem;
      }
    }
  }
}
