<div class="wrapper-container event-content-container">
  <app-header
    class="header"
    [prevPage]="{
      navigate: { link: '/lich/su-kien' }
    }"
  >
    <div class="kinh-header">
      <app-header-title>{{ event?.name }}</app-header-title>
    </div>
  </app-header>
  <div class="wrapper-container event-container-wrapper">
    <div class="flex-1 wrapper-container event-container">
      <div class="event-accordion">
        <h1>{{ event?.name }}</h1>
        <div class="d-flex align-items-center information-data">
          <mat-icon>event</mat-icon>
          {{
            event?.date === "yearly-monthly-daily"
              ? "Mỗi ngày"
              : event?.date !== "yearly-monthly-daily" &&
                event?.date.includes("yearly-monthly-")
              ? "Ngày " + event?.date.split("-")[2] + " mỗi tháng"
              : event?.date !== "yearly-monthly-daily" &&
                !event?.date.includes("yearly-monthly-") &&
                event?.date.includes("yearly-")
              ? "Ngày " +
                event?.date.split("-")[2] +
                " tháng " +
                event?.date.split("-")[1] +
                " mỗi năm"
              : event?.date !== "yearly-monthly-daily" &&
                !event?.date.includes("yearly-monthly-") &&
                event?.date.includes("yearly-")
              ? "Ngày " +
                event?.date.split("-")[2] +
                " tháng " +
                event?.date.split("-")[1] +
                " năm" +
                event?.date.split("-")[0]
              : ""
          }}
        </div>
        <div class="d-flex align-items-center information-data">
          <mat-icon>schedule</mat-icon>
          {{ event?.time }}
        </div>
      </div>
      <mat-accordion multi class="event-accordion">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Áp dụng kinh</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-grid-list [cols]="cols" rowHeight="1:1">
            <mat-grid-tile *ngFor="let item of currentKinhList">
              <mat-card
                appearance="outlined"
                class="h-100 w-100"
                matRipple
                [routerLink]="'/trang-chu/kinh/' + item?.key"
              >
                <mat-card-header>
                  <mat-card-title>{{ item?.name }}</mat-card-title>
                </mat-card-header>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
