<div class="day-cell" [class.today]="isToday" [class.other-month]="!isCurrentMonth" [class.selected]="isSelected">
  <div class="date-container">
    <div class="w-full flex items-center justify-between cursor-pointer" [matMenuTriggerFor]="dayCellMenu">
      <div class="solar-date">{{ calendarDate.solar.day }}</div>
      <div class="text-center">
        <div class="lunar-day">
          {{ calendarDate.lunar.day }}/{{ calendarDate.lunar.month }}
          {{ calendarDate.lunar.isLeapMonth ? "NH" : "" }}
        </div>
      </div>
    </div>
    <mat-menu #dayCellMenu="matMenu">
      <button mat-menu-item (click)="onDayClick()">
        Xem ngày
      </button>
      <button mat-menu-item (click)="onAddEventClick()">
        <app-icon name="add"></app-icon> Thêm sự kiện
      </button>
      <button mat-menu-item (click)="onAddTuanCuu()">
        <app-icon name="date_range"></app-icon> Tính tuần cửu
      </button>
    </mat-menu>
    <div class="lunar-date" [class.can-chi-visible]="showCanChi">
      <div class="can-chi" *ngIf="showCanChi">
        <span [ngStyle]="{
            color: 'var(--primary-color)'
          }">{{ calendarDate.canChi.day }}</span>
        • {{ calendarDate.canChi.month }} • {{ calendarDate.canChi.year }}
      </div>
    </div>
  </div>

  <div class="flex gap-[1px]" (click)="onAnChayClick()">
    <div class="an-chay" *ngIf="isShowAnChay('luc-trai')" [matTooltip]="'Ăn chay lục trai (6 ngày)'">6</div>
    <div class="an-chay" *ngIf="isShowAnChay('thap-trai')" [matTooltip]="'Ăn chay thập trai (10 ngày)'">10</div>
    <div class="an-chay" *ngIf="isShowAnChay('thien-nguon')" [matTooltip]="'Ăn chay thiên ngươn (16 ngày)'">16</div>
  </div>

  <div class="events-container" *ngIf="calendarDate.events && calendarDate.events.length > 0">
    <div class="event-list">
      <div class="event-marker clickable" *ngFor="let event of visibleEvents" [style.background-color]="event?.color"
        [matTooltip]="event.title" [style.color]="event?.textColor" (click)="onEventClick(event, $event)">
        {{ event.title }}
      </div>
    </div>
    <div class="more-indicator" *ngIf="calendarDate.events.length > maxEvents">
      +{{ calendarDate.events.length - maxEvents }}
    </div>
  </div>
</div>