<div class="wrapper-container soan-so-content-container">
  <app-header
    class="header"
    [prevPage]="{
      navigate: { link: '/tac-vu/phong-le' }
    }"
  >
    <div class="soan-so-header">
      <app-header-title>{{ editData?.name }}</app-header-title>
    </div>
  </app-header>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <div class="soan-so-container-wrapper">
    <div *ngIf="editData" class="h-100">
      <mat-tab-group
        class="h-full"
        (selectedIndexChange)="onChangeSelectedIndex($event)"
      >
        <mat-tab [label]="'Chỉnh sửa'">
          <cp-content-creator
            #contentCreator
            [rootContent]="content"
            [data]="content"
            (save)="onSaveContent()"
            [contentEditable]="contentEditable"
            [isShowFontSizeSelect]="false"
          ></cp-content-creator>
        </mat-tab>
        <mat-tab [label]="'Xem trước'">
          <cp-content-creator
            [rootContent]="previewContent"
            [data]="previewContent"
            [contentEditable]="contentEditable"
            [isShowFontSizeSelect]="false"
          ></cp-content-creator>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
