<div class="p-4" *ngIf="quiz?.length > 0">
    <div *ngFor="let section of quiz" class="mb-4 lg:mb-6 p-4 lg:p-6 border rounded-2xl w-full">
        <div class="flex flex-wrap">
            <div class="flex flex-col justify-between w-full lg:w-1/2">
                <div class="w-full">
                    <div class="text-3xl font-bold mb-4 lg:mb-6">{{section?.name}}</div>
                    <app-cp-markdown [data]="section?.setting?.description"></app-cp-markdown>
                </div>
                <div class="w-full">
                    <div class="w-full h-8 bg-gray-50 rounded-full relative" *ngIf="section?.xp > 0">
                        <div class="w-full h-full flex justify-center items-center">00/{{section?.xp | number:
                            '2.0-0'}}</div>
                        <!-- TODO: <div></div> -->
                    </div>
                    <div class="flex justify-between items-center mt-4">
                        <!-- <button mat-stroked-button [color]="'primary'" [routerLink]="section?.key">Ôn tập</button> -->
                        <button mat-flat-button [color]="'primary'" [routerLink]="section?.key">Học tập</button>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-1/2">
                <div class="flex justify-center flex-col items-center w-full relative">
                    <div class="animate-pulse w-full lg:w-1/2 h-80 bg-slate-100 rounded-2xl" *ngIf="!section?.loaded">
                    </div>
                    <img loading="lazy" class="w-full lg:w-1/2 h-80 object-contain" [src]="section?.setting?.logo" [ngStyle]="{
                            'opacity': section?.loaded ? '1' : '0',
                            'height': section?.loaded ? '320px' : '0'
                            }" [alt]="section?.name" (load)="updatedImage(section, $event)">
                </div>
            </div>
        </div>
    </div>
</div>