<div
  class="flex items-center justify-between border-b p-3 sticky top-0 z-20 bg-white"
>
  <div
    *ngIf="prev"
    class="w-full cursor-pointer flex items-center justify-start"
    [routerLink]="'/kids/vuon-trai/' + prev.key"
  >
    <mat-icon>arrow_back_ios</mat-icon>
    {{ prev?.subject }}
  </div>
  <div class="w-[1px] h-6 bg-[#e5e7eb]"></div>
  <div
    *ngIf="next"
    class="w-full cursor-pointer flex items-center justify-end"
    [routerLink]="'/kids/vuon-trai/' + next.key"
  >
    {{ next?.subject }}
    <mat-icon>arrow_forward_ios</mat-icon>
  </div>
</div>
<div class="container-fluid">
  <h1 class="text-center">{{ article?.subject }}</h1>
  <audio
    [src]="article?.audio"
    [controls]="true"
    class="w-100"
    [autoplay]="true"
  ></audio>
  <div class="flex flex-col lg:flex-row">
    <div class="p-3 w-full lg:w-1/2 relative lg:sticky top-0 h-fit">
      <div class="preview">
        <img loading="lazy"
          [src]="article?.preview"
          [alt]="article?.subject"
          class="w-full object-contain"
        />
        <div class="flex flex-wrap">
          <ng-container *ngFor="let item of article?.images">
            <img loading="lazy"
              [src]="item.src"
              [alt]="article?.subject"
              class="w-1/6 lg:w-1/12 border-[3px] cursor-pointer rounded border-transparent"
              (click)="article.preview = item.src"
              [ngClass]="{'!border-[#4285f4]': article.preview === item.src}"
            />
          </ng-container>
        </div>
      </div>
    </div>
    <div class="flex w-full lg:w-1/2 relative lg:sticky top-0 h-fit">
      <textarea
        *ngIf="contentEditable"
        class="variable-textarea w-1/2 p-3 border"
        [(ngModel)]="article.article"
        placeholder="Update the article content"
      ></textarea>
      <markdown
        *ngIf="article.article"
        class="variable-binding w-full lg:w-1/2 p-3 text-justify bg-white"
        [data]="article.article"
        [ngClass]="{ 'lg:w-full': !contentEditable }"
      ></markdown>
    </div>
  </div>
  <div #videoFrame class="aspect-video"></div>
</div>
