<div class="container-fluid">
  <div class="block lg:flex flex-wrap justify-around items-center mb-4">
    <img loading="lazy"
      src="/assets/game/dao-lam-con.jpg"
      alt="Đạo làm con"
      class="w-full lg:w-1/3"
    />
    <div class="lg:w-1/3 block lg:flex justify-center">
      <blockquote
        class="text-xl italic font-semibold relative w-fit px-4 h-fit"
      >
        <span class="absolute text-3xl bottom-full left-0">"</span>
        <p>Đạo làm con, thánh nhân dạy</p>
        <p>Trước hiếu thuận, sau cẩn tín</p>
        <p>Thương mọi người, kết bạn tốt</p>
        <p>Lại nỗ lực, học tập thêm.</p>
        <span class="absolute right-0 text-3xl top-full">"</span>
      </blockquote>
    </div>
    <img loading="lazy"
      src="/assets/game/truoc-hieu-thuan.jpg"
      alt="Trước hiếu thuận"
      class="w-full lg:w-1/3"
    />
    <img loading="lazy"
      src="/assets/game/thuong-moi-nguoi.jpg"
      alt="Thương mọi người"
      class="w-full lg:w-1/3"
    />
    <img loading="lazy"
      src="/assets/game/ket-ban-tot.jpg"
      alt="Kết bạn tốt"
      class="w-full lg:w-1/3"
    />
    <img loading="lazy"
      src="/assets/game/hoc-tap-them.jpg"
      alt="Lại nỗ lực, học tập thêm."
      class="w-full lg:w-1/3"
    />
  </div>
  <hr />
  <div class="mt-4">
    <mat-grid-list [cols]="cols" [gutterSize]="'1rem'">
      <mat-grid-tile *ngFor="let item of quaList" [routerLink]="item?.key">
        <div
          class="border w-full h-full p-3 rounded cursor-pointer overflow-hidden"
        >
          <img loading="lazy" [src]="item?.preview" [alt]="item?.subject" />
          <div class="content">{{ item?.subject }}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
