<div class="w-full min-h-full relative flex flex-col justify-between overflow-hidden max-h-full">
    <div class="p-4 bg-white w-full sticky top-0 pb-0">
        <div class="flex">
            <div class="flex flex-col justify-between items-center px-3">
                <app-icon name="trip_origin"></app-icon>
                <app-icon name="more_vert"></app-icon>
                <app-icon name="sports_score"></app-icon>
                <button mat-icon-button [color]="'primary'" *ngIf="route?.googleMapsUrl"
                    matTooltip="Xem trên Google Maps" (click)="openWithGoogleMaps()" class="w-full mt-4 relative">
                    <img loading="lazy" src="/assets/icons/assets/Google_Maps_icon_(2020).svg" alt="Google_Maps_icon">
                    <span
                        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75 top-0 left-0"></span>
                </button>
            </div>
            <div>
                <mat-form-field class="rounded-full w-full" [appearance]="'outline'">
                    <mat-label>Bắt đầu</mat-label>
                    <input type="text" matInput #startBox [value]="route?.inputWaypoints[0]?.name" [disabled]="true">
                    <button matSuffix mat-icon-button
                        (click)="startBox['value'] = ''; endBox['value'] = ''; onRemoveWayRouting()">
                        <app-icon name="close"></app-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="rounded-full w-full" [appearance]="'outline'">
                    <mat-label>Kết thúc</mat-label>
                    <input type="text" matInput #endBox [value]="route?.inputWaypoints[1]?.name" [disabled]="true">
                    <button matSuffix mat-icon-button
                        (click)="startBox['value'] = ''; endBox['value'] = ''; onRemoveWayRouting()">
                        <app-icon name="close"></app-icon>
                    </button>
                </mat-form-field>
                <button mat-stroked-button [color]="'primary'" (click)="infoDrawer?.toggle()" class="w-full">
                    <app-icon name="map"></app-icon>Xem bản đồ
                </button>
            </div>
        </div>
    </div>
    <div class="flex-1 max-h-full overflow-auto relative">
        <div class="w-full bg-white sticky top-0 pt-4 px-4 z-10 flex justify-between">
            <div class="text-2xl pb-4">CHỈ ĐƯỜNG</div> <span>khoản {{route?.summary?.totalDistance/1000 | number:
                '0.0-0'}}km</span>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let instruction of route?.instructions" class="!h-max !cursor-pointer"
                (click)="onViewInstruction(instruction)">
                <app-icon matListItemIcon [name]="instruction?.icon"></app-icon>
                <div matListItemTitle class="!whitespace-normal !overflow-visible">{{ instruction?.translatedText}}
                </div>
                <div matListItemLine class="!whitespace-normal !overflow-visible">{{instruction?.text}}</div>
            </mat-list-item>
        </mat-list>
    </div>
</div>