<mat-form-field appearance="outline" class="w-full">
    <mat-label>Thánh Sở</mat-label>
    <mat-select [(ngModel)]="selectedThanhSo" (ngModelChange)="onUpdateSelectedThanhSo()">
        <mat-option *ngFor="let thanhSo of memberThanhSo" [value]="thanhSo">
            {{ thanhSo?.thanhSo }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-progress-bar *ngIf="!setting?.googleFormsId" [mode]="'indeterminate'"></mat-progress-bar>
<!-- <mat-accordion *ngIf="setting?.googleFormsId">
    <mat-expansion-panel [expanded]="isEditor" *ngIf="isEditor && memberThanhSo?.length > 0">
        <mat-expansion-panel-header>
            <mat-panel-title>Cập nhật sự kiện</mat-panel-title>
            <mat-panel-description>Cập nhật sự kiện cho {{selectedThanhSo?.thanhSo}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="w-full flex flex-wrap">
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Mã sự kiện</mat-label>
                    <input type="text" matInput [disabled]="true" required [(ngModel)]="newEvent.key" />
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Loại sự kiện</mat-label>
                    <mat-select [(ngModel)]="newEvent.eventType">
                        <mat-optgroup *ngFor="let item of eventTypes" [label]="item?.group">
                            <mat-option *ngFor="let op of item?.data" [value]="op">
                                {{ op?.name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/2 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Tên sự kiện</mat-label>
                    <input type="text" matInput required [(ngModel)]="newEvent.name" />
                    <mat-hint>Tên sự kiện tạo tự động hoặc nhập vào</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <ng-container *ngIf="newEvent.eventType?.key?.includes('ky-niem')">
            <app-update-ky-niem [newEvent]="newEvent"></app-update-ky-niem>
        </ng-container>
        <p>
            <strong class="text-[red] font-bold underline">LƯU Ý:</strong>
            Hãy liên hệ chúng mình tại để được hỗ trợ tốt nhất bạn nhé!
            <br />
            Facebook:
            <a href="https://www.facebook.com/caodaion" class="underline" target="_blank">facebook.com/caodaion</a>
        </p>
        <iframe *ngIf="googleFormsPath" [src]="
              googleFormsPath | safe
            " class="w-full" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="!isEditor">
        <mat-expansion-panel-header>
            <mat-panel-title>Đăng ký thành viên lịch</mat-panel-title>
            <mat-panel-description>
                Đăng ký thành viên lịch để hiển thị sự kiện Thánh Sở của bạn trên lịch của CaoDaiON
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="w-full flex flex-wrap">
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Mã Thánh Sở</mat-label>
                    <input type="text" disabled matInput required [(ngModel)]="newRegister.thanhSoKey" />
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Tên người dùng</mat-label>
                    <input type="text" matInput disabled required [(ngModel)]="newRegister.userName" />
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Họ và Tên</mat-label>
                    <input type="text" matInput required [(ngModel)]="newRegister.name" (input)="onUpdateName()" />
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Năm Sinh</mat-label>
                    <input type="number" matInput [(ngModel)]="newRegister.birthday" (input)="onUpdateName()" />
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Tên Thánh Sở</mat-label>
                    <input type="text" matInput required [(ngModel)]="newRegister.thanhSo" (input)="onUpdateName()" />
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Tỉnh/Thành phố</mat-label>
                    <mat-select [(ngModel)]="newRegister.address.province">
                        <input type="text" #provinceFilter class="w-full p-2" [placeholder]="'Tìm kiếm hoặc tạo mới'"
                            (keydown)="onPress($event)">
                        <mat-option
                            *ngFor="let item of provinces | divisionFilter: {level: 'province', searchText: provinceFilter['value']}"
                            [value]="item?.id">{{ item?.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Quận/Huyện</mat-label>
                    <mat-select [(ngModel)]="newRegister.address.district">
                        <input type="text" #districtFilter class="w-full p-2" [placeholder]="'Tìm kiếm hoặc tạo mới'"
                            (keydown)="onPress($event)">
                        <mat-option
                            *ngFor="let item of districts | divisionFilter: {level: 'district', parent: newRegister.address.province, searchText: districtFilter['value']}"
                            [value]="item?.id">{{ item?.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Phường/Xã</mat-label>
                    <mat-select [(ngModel)]="newRegister.address.ward">
                        <input type="text" #wardFilter class="w-full p-2" [placeholder]="'Tìm kiếm hoặc tạo mới'"
                            (keydown)="onPress($event)">
                        <mat-option
                            *ngFor="let item of wards | divisionFilter: {level: 'ward', parent: newRegister.address.district, searchText: wardFilter['value']}"
                            [value]="item?.id">{{ item?.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Địa chỉ (thôn/đường)</mat-label>
                    <input type="text" [(ngModel)]="newRegister.address.address" matInput />
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Mã cơ sở dữ liệu</mat-label>
                    <input type="text" [(ngModel)]="newRegister.thanhSoSheet" matInput />
                </mat-form-field>
            </div>
        </div>
        <p>
            <strong class="text-[red] font-bold underline">LƯU Ý:</strong>
            Hãy liên hệ chúng mình tại để được hỗ trợ tốt nhất bạn nhé!
            <br />
            Facebook:
            <a href="https://www.facebook.com/caodaion" class="underline" target="_blank">facebook.com/caodaion</a>
        </p>
        <div class="w-full">
            <button mat-flat-button [color]="'primary'" [disabled]="!newRegister?.userName || !newRegister?.thanhSoKey"
                (click)="onRunRegistration(!!registrationGoogleFormsPath)" class="w-full">
                <mat-icon *ngIf="!registrationGoogleFormsPath">save</mat-icon>
                <mat-icon *ngIf="registrationGoogleFormsPath">close</mat-icon>
                {{registrationGoogleFormsPath ? 'Đóng' : 'Lưu Đăng Ký'}}
            </button>
        </div>
        <iframe *ngIf="registrationGoogleFormsPath" [src]="
              registrationGoogleFormsPath | safe
            " class="w-full" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </mat-expansion-panel>
</mat-accordion> -->
<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Cập nhật sự kiện</mat-panel-title>
            <mat-panel-description>Cập nhật sự kiện cho {{selectedThanhSo?.thanhSo}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="w-full flex justify-between flex-wrap">
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Mã sự kiện</mat-label>
                    <input type="text" matInput [disabled]="true" required [(ngModel)]="newEvent.key" />
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/4 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Loại sự kiện</mat-label>
                    <mat-select [(ngModel)]="newEvent.eventType">
                        <mat-optgroup *ngFor="let item of eventTypes" [label]="item?.group">
                            <mat-option *ngFor="let op of item?.data" [value]="op">
                                {{ op?.name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full lg:w-1/2 p-2">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Tên sự kiện</mat-label>
                    <input type="text" matInput required [(ngModel)]="newEvent.name" />
                    <mat-hint>Tên sự kiện tạo tự động hoặc viết tay</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <ng-container *ngIf="newEvent.eventType?.key?.includes('ky-niem')">
            <app-update-ky-niem [newEvent]="newEvent"></app-update-ky-niem>
        </ng-container>
        <p>
            <strong class="text-[red] font-bold underline">LƯU Ý:</strong>
            Hãy liên hệ chúng mình tại để được hỗ trợ tốt nhất bạn nhé!
            <br />
            Facebook:
            <a href="https://www.facebook.com/caodaion" class="underline" target="_blank">facebook.com/caodaion</a>
        </p>
        <iframe *ngIf="googleFormsPath" [src]="
              googleFormsPath | safe
            " class="w-full" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </mat-expansion-panel>
</mat-accordion>