<mat-toolbar class="!bg-[#eaf1fb] sticky top-0 z-10">
    <button mat-icon-button [routerLink]="'/tac-vu/quiz'"><mat-icon>arrow_back</mat-icon></button>
    <div class="flex-1"></div>
    <div>{{section?.name}}</div>
    <div class="flex-1"></div>
</mat-toolbar>
<div class="p-4 w-full pb-16">
    <div *ngIf="section" class="mb-4 lg:mb-6 p-4 lg:p-6 border rounded-2xl w-full">
        <div class="flex flex-wrap">
            <div class="flex flex-col justify-between w-full lg:w-1/2">
                <div class="w-full">
                    <div class="text-3xl font-bold mb-4 lg:mb-6">{{section?.name}}</div>
                    <p class="whitespace-break-spaces" [innerHTML]="section?.setting?.description"></p>
                </div>
                <div class="w-full h-8 bg-gray-50 rounded-full relative" *ngIf="section?.gates?.length > 0">
                    <div class="w-full h-full flex justify-center items-center">/{{section?.gates?.length | number:
                        '2.0-0'}}
                    </div>
                    <!-- TODO: <div></div> -->
                </div>
                <div *ngIf="section?.setting?.references?.length > 0">
                    <strong>Tài liệu tham khảo: </strong>
                    <a *ngFor="let ref of section?.setting?.references; let index = index"
                        [ngClass]="{'underline': ref?.link && ref?.name}" [href]="ref?.link" target="_blank">
                        {{ref?.name}}{{index == section?.setting?.references?.length - 1 ? '.' : ', '}}
                    </a>
                </div>
            </div>
            <div class="w-full lg:w-1/2">
                <div class="flex justify-center flex-col items-center w-full relative">
                    <div class="animate-pulse w-full lg:w-1/2 h-80 bg-slate-100 rounded-2xl" *ngIf="!section?.loaded">
                    </div>
                    <img class="w-full lg:w-1/2 h-80 object-contain" [src]="section?.setting?.logo"
                        [alt]="section?.name" [ngStyle]="{
                            'opacity': section?.loaded ? '1' : '0',
                            'height': section?.loaded ? '320px' : '0'
                            }" (load)="updatedImage(section, 'logo')">
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="w-full">
        <ng-container *ngFor="let gate of section?.gates">
            <div class="border rounded-2xl my-4 lg:my-6 p-4 lg:p-6">
                <div class="text-2xl font-bold mb-4 lg:mb-6">{{gate?.setting?.name}}</div>
                <ng-container *ngIf="gate?.key !== updatedGate?.key">
                    <div [innerHTML]="gate?.setting?.description"></div>
                </ng-container>
                <ng-container *ngIf="gate?.key === updatedGate?.key">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Mô tả cửa</mat-label>
                        <textarea matInput [(ngModel)]="updatedGate.setting.description"></textarea>
                    </mat-form-field>
                </ng-container>
            </div>
            <div class="my-4 lg:my-6">
                <div class="flex flex-wrap justify-around">
                    <div class="w-1/2 lg:w-1/4 flex flex-col items-center justify-between mt-4 lg:mt-6 mb-6"
                        *ngFor="let lesson of gate?.lesson">
                        <div class="w-20 lg:w-40 h-20 lg:h-40 rounded-full overflow-hidden bg-slate-100"
                            [ngClass]="{'bg-transparent': lesson?.setting?.loaded, 'animate-pulse': !lesson?.setting?.loaded}">
                            <img *ngIf="lesson.setting.image" class="w-full h-full object-cover cursor-pointer"
                                [routerLink]="gate?.key + '/' + lesson?.key" [src]="lesson.setting.image"
                                [alt]="lesson?.setting?.name" [ngStyle]="{
                                    'opacity': lesson?.setting?.loaded ? '1' : '0'
                                    }" (load)="updatedImage(lesson.setting, $event)">
                        </div>
                        <div class="text-center pt-4 font-bold cursor-pointer"
                            [routerLink]="gate?.key + '/' + lesson?.key">
                            {{lesson?.setting?.name}}
                        </div>
                        <mat-form-field *ngIf="section?.setting?.allowToEdit">
                            <mat-label>Ảnh</mat-label>
                            <input type="text" matInput [(ngModel)]="lesson.setting.image">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-wrap mt-6" *ngIf="section?.setting?.allowToEdit">
                    <mat-form-field class="w-full lg:w-3/4" appearance="outline">
                        <mat-label>Thêm bài học mới với tên là</mat-label>
                        <input type="text" matInput #newLessonName (keypress)="onPress($event)">
                    </mat-form-field>
                    <button mat-flat-button [color]="'primary'" class="w-full lg:w-1/4"
                        [disabled]="!newLessonName['value']"
                        (click)="onUpdateLesson(gate, {name: newLessonName['value']}); newLessonName['value'] = ''">
                        <mat-icon>add</mat-icon>
                        Thêm bài học
                    </button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </ng-container>
    </div>
    <div class="flex flex-wrap mt-6" *ngIf="!updatedGate?.key && section?.setting?.allowToEdit">
        <mat-form-field class="w-full lg:w-3/4" appearance="outline">
            <mat-label>Thêm cửa mới với tên là</mat-label>
            <input type="text" matInput #newGateName (keypress)="onPress($event)">
        </mat-form-field>
        <button mat-flat-button *ngIf="section?.setting?.allowToEdit" [color]="'primary'" class="w-full lg:w-1/4"
            [disabled]="!newGateName['value']"
            (click)="onUpdateGate({name: newGateName['value']}); newGateName['value'] = ''">
            <mat-icon>add</mat-icon>
            Thêm Cửa
        </button>
    </div>
    <button mat-flat-button *ngIf="section?.setting?.allowToEdit" [color]="'primary'" class="w-full"
        (click)="saveNewData()">
        <mat-icon>save</mat-icon>
        Lưu thông tin
    </button>
</div>

<ng-template #updateContent>
    <div mat-dialog-title>Cập nhật {{googleFormsPaths[updatingDataIndex]?.dialogData?.type}}</div>
    <mat-dialog-content>
        <div>Nội dung cập nhật là: {{googleFormsPaths[updatingDataIndex]?.dialogData?.answer}}</div>
        <iframe *ngIf="googleFormsPaths[updatingDataIndex]?.path" [src]="
              googleFormsPaths[updatingDataIndex]?.path | safe
            " class="w-full lg:min-w-[1000px]" height="520" frameborder="0" marginheight="0"
            marginwidth="0">Loading…</iframe>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="w-full" mat-button matDialogClose>Đóng</button>
    </mat-dialog-actions>
</ng-template>