@use "../../../../../sass/variables.scss";
@use "sass:map";
::ng-deep {
  .lunar-calendar-container {
    .selected-month-calendar {
      .dates {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        .date {
          width: calc(100% / 7);
          border-right: #dadce0 1px solid;
          border-bottom: #dadce0 1px solid;
          overflow: hidden;
          button {
            padding: 3px;
            line-height: 1;
            min-width: 0;
            width: 62px;
            height: 36px;
            border-radius: 6px;
            @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
              width: 32px;
              height: 32px;
            }
          }
          .solar-date {
            font-size: 14px;
            @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
              font-size: 12px;
            }
          }
          .lunar-date {
            font-size: 11px;
            @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
              font-size: 10px;
            }
          }
          .current-date {
            background-color: map.get(variables.$light-theme, "primary");
            color: map.get(variables.$light-theme, "on-primary");
          }
          .date-event {
            height: 100%;
            overflow: auto;
            .mat-mdc-list-base {
              /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
              .mat-mdc-list-item,
              .mat-list-option {
                height: auto;
                padding: 3px;
                border-radius: 3px;
                margin-bottom: 3px;
                font-size: 12px;
                @media only screen and (max-width: map.get(variables.$small-361-600, "layout-region-off")) {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
