<audio
  #loanSound
  crossOrigin="anonymous"
  src="assets/audios/sound-effect/mixkit-player-boost-recharging-2040.wav"
></audio>
<audio
  #selectSound
  crossOrigin="anonymous"
  src="assets/audios/sound-effect/mixkit-player-select-notification-2037.mp3"
></audio>
<audio
  #player1ReadySound
  crossOrigin="anonymous"
  src="assets/audios/sound-effect/player1-ready.m4a"
></audio>
<audio
  #player2ReadySound
  crossOrigin="anonymous"
  src="assets/audios/sound-effect/player2-ready.m4a"
></audio>
<div class="wrapper-container">
  <ng-container *ngIf="!kid?.userName">
    <cp-qr-scanner (qrData)="scanComplete($event)"></cp-qr-scanner>
  </ng-container>
  <ng-container *ngIf="kid?.userName">
    <div class="w-full">
      <div class="text-4xl flex items-center justify-{{ position }} py-3">
        <ng-container *ngIf="position === 'start'">
          <mat-icon
            class="!text-[36px] !h-[36px] !w-[36px]"
            [ngStyle]="{ color: kid?.color }"
            >{{ kid?.avatar }}</mat-icon
          >
        </ng-container>
        <span class="px-3">{{ kid?.name }}</span>
        <ng-container *ngIf="position === 'end'">
          <mat-icon
            class="!text-[36px] !h-[36px] !w-[36px]"
            [ngStyle]="{ color: kid?.color }"
            >{{ kid?.avatar }}</mat-icon
          >
        </ng-container>
      </div>
      <div class="flex">
        <ng-container *ngIf="position === 'end'">
          {{ kid?.fightingPurify?.length | number : "2.0" }}
        </ng-container>
        <div
          class="relative bg-[#d9d9d9] w-full h-5 overflow-hidden rounded-full"
        >
          <div
            class="absolute h-5 bg-[#34a853]"
            [ngStyle]="{ width: (kid?.deducted / kid?.totalScore) * 100 + '%' }"
          ></div>
          <div class="absolute w-full h-5 text-center">
            {{ kid?.deducted | number : "0.2-2" }}/{{
              kid?.totalScore | number : "0.2-2"
            }}
          </div>
        </div>
        <ng-container *ngIf="position === 'start'">
          {{ kid?.fightingPurify?.length | number : "2.0" }}
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="!fighting">
      <div class="flex-[1] overflow-hidden">
        <div class="overflow-auto h-full max-h-full">
          <mat-selection-list
            #selectedPurify
            (selectionChange)="updateSelectedPurify(selectedPurify)"
          >
            <mat-list-option
              *ngFor="let item of purifyList"
              class="!h-auto"
              [value]="item?.purify?.key"
            >
              <div class="w-full flex">
                <div class="w-1/3">
                  <app-purify-card
                    [saveCard]="true"
                    [purify]="item?.purify"
                  ></app-purify-card>
                </div>
                <div class="w-2/3 px-2">
                  <strong class="text-lg">{{ item?.purify?.name || 0 }}</strong>
                  <p><strong>Máu: </strong> {{ item?.purify?.hp || 0 }}</p>
                  <p>
                    <strong>Tấn công: </strong> {{ item?.purify?.attack || 0 }}
                  </p>
                  <p>
                    <strong>Chống chịu: </strong> {{ item?.purify?.def || 0 }}
                  </p>
                  <p>
                    <strong>Tốc độ: </strong> {{ item?.purify?.speed || 0 }}
                  </p>
                  <p class="flex items-center">
                    <strong>Hệ: </strong>
                    <img
                      [src]="
                        'assets/game/purify/element/element.' +
                        item?.purify?.elm +
                        '.svg'
                      "
                      [alt]="item?.purify?.elm"
                      class="h-[16px] w-[16px] ms-3"
                    />
                  </p>
                </div>
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="fighting">
      <div class="w-full">
        <div class="flex flex-wrap justify-{{ position }}">
          <div
            *ngFor="let item of kid?.fightingPurify"
            class="w-1/6 border-4 border-transparent rounded-lg relative"
            (click)="chooseFightingPurify(item)"
            [ngClass]="{
              '!border-[#4285f4]':
                fightingPurify?.purify?.key === item?.purify?.key,
              'cursor-not-allowed pointer-events-none':
                item?.purify?.deducted === 0
            }"
          >
            <div
              class="z-10 absolute top-0 right-0 bottom-0 left-0 bg-black bg-opacity-50 text-white flex justify-center items-center"
              *ngIf="item?.purify?.deducted === 0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="36"
                viewBox="0 -960 960 960"
                width="36"
              >
                <path
                  d="M240-80v-170q-39-17-68.5-45.5t-50-64.5q-20.5-36-31-77T80-520q0-158 112-259t288-101q176 0 288 101t112 259q0 42-10.5 83t-31 77q-20.5 36-50 64.5T720-250v170H240Zm80-80h40v-80h80v80h80v-80h80v80h40v-142q38-9 67.5-30t50-50q20.5-29 31.5-64t11-74q0-125-88.5-202.5T480-800q-143 0-231.5 77.5T160-520q0 39 11 74t31.5 64q20.5 29 50.5 50t67 30v142Zm100-200h120l-60-120-60 120Zm-80-80q33 0 56.5-23.5T420-520q0-33-23.5-56.5T340-600q-33 0-56.5 23.5T260-520q0 33 23.5 56.5T340-440Zm280 0q33 0 56.5-23.5T700-520q0-33-23.5-56.5T620-600q-33 0-56.5 23.5T540-520q0 33 23.5 56.5T620-440ZM480-160Z"
                  fill="currentColor"
                />
              </svg>
            </div>
            <app-purify-card
              [saveCard]="true"
              [purify]="item?.purify"
            ></app-purify-card>
          </div>
        </div>
        <div *ngIf="fightingPurify?.purify?.key" class="w-full">
          <div class="flex">
            <ng-container *ngIf="position === 'end'">
              <div class="w-1/12 flex flex-col justify-center items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="36"
                  viewBox="0 -960 960 960"
                  width="36"
                  class="animate-bounce"
                  [ngStyle]="{ color: kid?.color }"
                  *ngIf="youTurn"
                >
                  <path
                    d="M762-96 645-212l-88 88-28-28q-23-23-23-57t23-57l169-169q23-23 57-23t57 23l28 28-88 88 116 117q12 12 12 28t-12 28l-50 50q-12 12-28 12t-28-12Zm118-628L426-270l5 4q23 23 23 57t-23 57l-28 28-88-88L198-96q-12 12-28 12t-28-12l-50-50q-12-12-12-28t12-28l116-117-88-88 28-28q23-23 57-23t57 23l4 5 454-454h160v160ZM334-583l24-23 23-24-23 24-24 23Zm-56 57L80-724v-160h160l198 198-57 56-174-174h-47v47l174 174-56 57Zm92 199 430-430v-47h-47L323-374l47 47Zm0 0-24-23-23-24 23 24 24 23Z"
                    fill="currentColor"
                  />
                </svg>
                <img
                  *ngIf="fightingPurify.return === 0.5"
                  [src]="
                    'assets/game/purify/element/element.' + halfElement + '.svg'
                  "
                  [alt]="halfElement"
                  class="h-[36px] w-[18px] object-cover mb-3 object-right"
                  [matTooltip]="getElementValue(halfElement)"
                />
                <ng-container
                  *ngFor="let initElement of fightingPurify?.purify?.init"
                >
                  <img
                    [src]="
                      'assets/game/purify/element/element.' +
                      initElement +
                      '.svg'
                    "
                    [alt]="initElement"
                    class="h-[36px] w-[36px] mb-3"
                    [matTooltip]="getElementValue(initElement)"
                  />
                </ng-container>
              </div>
            </ng-container>
            <div
              class="w-11/12 relative"
              [ngClass]="{
                'cursor-not-allowed pointer-events-none':
                  !youTurn || fightingPurify?.purify?.deducted === 0
              }"
            >
              <div class="flex">
                <div
                  class="relative bg-[#d9d9d9] w-full h-5 overflow-hidden rounded-full"
                >
                  <div
                    class="absolute h-5 bg-[#34a853]"
                    [ngStyle]="{
                      width:
                        (fightingPurify?.purify?.deducted /
                          fightingPurify?.purify?.hp) *
                          100 +
                        '%'
                    }"
                  ></div>
                  <div class="absolute w-full h-5 text-center">
                    {{ fightingPurify?.purify?.deducted | number : "0.2-2" }}/{{
                      fightingPurify?.purify?.hp | number : "0.2-2"
                    }}
                  </div>
                </div>
              </div>
              <div class="flex justify-between">
                <ng-container *ngIf="position === 'end'">
                  <div class="flex flex-wrap items-center">
                    <img
                      *ngFor="let elm of kid.loan"
                      [src]="
                        'assets/game/purify/element/element.' + elm + '.svg'
                      "
                      [alt]="elm"
                      class="h-[36px] w-[36px] me-3 cursor-pointer"
                      [matTooltip]="'đã vay 1 ' + getElementValue(elm)"
                    />
                    <span>đã vay</span>
                  </div>
                </ng-container>
                <div class="flex flex-wrap">
                  <img
                    *ngFor="let elm of sumElement"
                    [src]="'assets/game/purify/element/element.' + elm + '.svg'"
                    [alt]="elm"
                    class="h-[36px] w-[36px] me-3 cursor-pointer"
                    [matTooltip]="'vay 1 ' + getElementValue(elm)"
                    (click)="borrowOneElement(elm)"
                  />
                </div>
                <ng-container *ngIf="position === 'start'">
                  <div class="flex flex-wrap items-center">
                    <span class="me-3">đã vay</span>
                    <img
                      *ngFor="let elm of kid.loan"
                      [src]="
                        'assets/game/purify/element/element.' + elm + '.svg'
                      "
                      [alt]="elm"
                      class="h-[36px] w-[36px] me-3 cursor-pointer"
                      [matTooltip]="'đã vay 1 ' + getElementValue(elm)"
                    />
                  </div>
                </ng-container>
              </div>
              <div
                class="z-10 absolute top-0 right-0 bottom-0 left-0 bg-black bg-opacity-50 text-white flex justify-center items-center"
                *ngIf="fightingPurify?.purify?.deducted === 0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="36"
                  viewBox="0 -960 960 960"
                  width="36"
                >
                  <path
                    d="M240-80v-170q-39-17-68.5-45.5t-50-64.5q-20.5-36-31-77T80-520q0-158 112-259t288-101q176 0 288 101t112 259q0 42-10.5 83t-31 77q-20.5 36-50 64.5T720-250v170H240Zm80-80h40v-80h80v80h80v-80h80v80h40v-142q38-9 67.5-30t50-50q20.5-29 31.5-64t11-74q0-125-88.5-202.5T480-800q-143 0-231.5 77.5T160-520q0 39 11 74t31.5 64q20.5 29 50.5 50t67 30v142Zm100-200h120l-60-120-60 120Zm-80-80q33 0 56.5-23.5T420-520q0-33-23.5-56.5T340-600q-33 0-56.5 23.5T260-520q0 33 23.5 56.5T340-440Zm280 0q33 0 56.5-23.5T700-520q0-33-23.5-56.5T620-600q-33 0-56.5 23.5T540-520q0 33 23.5 56.5T620-440ZM480-160Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
              <app-purify-card
                [saveCard]="true"
                [fightingMode]="true"
                [purify]="fightingPurify?.purify"
                (attack)="onAttack($event)"
              ></app-purify-card>
            </div>
            <ng-container *ngIf="position === 'start'">
              <div class="w-1/12 flex flex-col justify-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="36"
                  viewBox="0 -960 960 960"
                  width="36"
                  class="animate-bounce"
                  [ngStyle]="{ color: kid?.color }"
                  *ngIf="youTurn"
                >
                  <path
                    d="M762-96 645-212l-88 88-28-28q-23-23-23-57t23-57l169-169q23-23 57-23t57 23l28 28-88 88 116 117q12 12 12 28t-12 28l-50 50q-12 12-28 12t-28-12Zm118-628L426-270l5 4q23 23 23 57t-23 57l-28 28-88-88L198-96q-12 12-28 12t-28-12l-50-50q-12-12-12-28t12-28l116-117-88-88 28-28q23-23 57-23t57 23l4 5 454-454h160v160ZM334-583l24-23 23-24-23 24-24 23Zm-56 57L80-724v-160h160l198 198-57 56-174-174h-47v47l174 174-56 57Zm92 199 430-430v-47h-47L323-374l47 47Zm0 0-24-23-23-24 23 24 24 23Z"
                    fill="currentColor"
                  />
                </svg>
                <img
                  *ngIf="fightingPurify.return === 0.5"
                  [src]="
                    'assets/game/purify/element/element.' + halfElement + '.svg'
                  "
                  [alt]="halfElement"
                  class="h-[36px] w-[18px] object-cover mb-3 object-left"
                  [matTooltip]="getElementValue(halfElement)"
                />
                <ng-container
                  *ngFor="let initElement of fightingPurify?.purify?.init"
                >
                  <img
                    [src]="
                      'assets/game/purify/element/element.' +
                      initElement +
                      '.svg'
                    "
                    [alt]="initElement"
                    class="h-[36px] w-[36px] mb-3"
                    [matTooltip]="getElementValue(initElement)"
                  />
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
