<ng-content></ng-content>
<ng-template #shareBottomSheet>
  <h3>{{title}}</h3>
  <div class="container-fluid">
    <h4 class="text-2xl my-2 font-semibold">Sao chép liên kết chia sẻ</h4>
    <mat-form-field class="w-100">
      <mat-label>Liên kết</mat-label>
      <input
        type="text"
        matInput
        [value]="sharedUrl"
        [disabled]="true"
      />
      <button
        mat-icon-button
        matSuffix
        [matTooltip]="'Sao chép liên kết'"
        (click)="copyLink()"
      >
        <app-icon name="link"></app-icon>
      </button>
    </mat-form-field>
    <div class="qr-area flex flex-col items-center">
      <img loading="lazy" #parent [src]="qrSharedUrl" class="w-[300px] h-[300px]">
      <div class="text-center">
        <button mat-raised-button color="primary" (click)="saveAsImage(parent)">
          <app-icon name="download"></app-icon> Tải Mã QR chia sẻ
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <!-- <mat-nav-list>
      <a mat-list-item (click)="shareTo('facebook')">
        <span matListItemTitle>Chia sẻ lên Facebook</span>
        <span matLine>Chia sẻ lịch cúng cửu này lên Facebook</span>
      </a>
    </mat-nav-list> -->
  </div>
</ng-template>
