@use "../../../../sass/variables.scss";
@use "sass:map";
::ng-deep {
  .form-group {
    mat-panel-description {
      margin-bottom: 1rem;
    }
    .hint-max-lenght {
      white-space: nowrap;
    }
    mat-radio-group {
      margin: 1.34375em 0;
    }
    .layout-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    mat-radio-button {
      margin: 5px;
    }
    cp-input-form-field,
    cp-number-form-field {
      min-width: 0;
    }
    .form-array {
      mat-divider {
        margin-bottom: 1rem;
      }
    }
  }
  .error-message-dialog {
    text-align: center;
    .mat-icon {
      font-size: 80px;
      height: 80px;
      width: 80px;
    }
  }
  .triger-form-array {
    margin-bottom: 2rem;
  }
}
