<div class="d-flex">
  <div class="text-setting-group d-flex" *ngIf="data.type == 'contentBlock'">
    <button mat-icon-button (click)="formatContent({ fontWeight: 'bold' })">
      <mat-icon>format_bold</mat-icon>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
  </div>
  <!--  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngIf="data.type == 'contentBlock'">-->
  <!--    <mat-button-toggle value="left"><mat-icon>format_align_left</mat-icon></mat-button-toggle>-->
  <!--    <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>-->
  <!--    <mat-button-toggle value="right"><mat-icon>format_align_right</mat-icon></mat-button-toggle>-->
  <!--    <mat-button-toggle value="justify"><mat-icon>format_align_justify</mat-icon></mat-button-toggle>-->
  <!--  </mat-button-toggle-group>-->
  <div class="text-setting-group d-flex" *ngIf="data.type == 'contentBlock'">
    <button mat-icon-button [matMenuTriggerFor]="alignContentMenu">
      <mat-icon>format_align_{{ textAlign }}</mat-icon>
    </button>
    <mat-menu #alignContentMenu="matMenu">
      <button
        (click)="formatContent({ textAlign: 'left' })"
        mat-menu-item
        [disabled]="textAlign == 'left'"
      >
        <mat-icon>format_align_left</mat-icon>
      </button>
      <button
        (click)="formatContent({ textAlign: 'center' })"
        mat-menu-item
        [disabled]="textAlign == 'center'"
      >
        <mat-icon>format_align_center</mat-icon>
      </button>
      <button
        (click)="formatContent({ textAlign: 'right' })"
        mat-menu-item
        [disabled]="textAlign == 'right'"
      >
        <mat-icon>format_align_right</mat-icon>
      </button>
      <button
        (click)="formatContent({ textAlign: 'justify' })"
        mat-menu-item
        [disabled]="textAlign == 'justify'"
      >
        <mat-icon>format_align_justify</mat-icon>
      </button>
    </mat-menu>
    <mat-divider [vertical]="true"></mat-divider>
  </div>
  <!--  <mat-divider [vertical]="true"></mat-divider>-->
  <button mat-icon-button (click)="isShowSetting = !isShowSetting">
    <mat-icon>settings</mat-icon>
  </button>
  <div class="d-flex" *ngIf="isShowSetting">
    <mat-divider [vertical]="true"></mat-divider>
    <button mat-icon-button (click)="addKnollContent()">
      <svg
        width="64"
        height="64"
        viewBox="0 0 64 64"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3 10C3 8.89543 3.89543 8 5 8H51C52.1046 8 53 8.89543 53 10V23C53 36.8071 41.8071 48 28 48V48C14.1929 48 3 36.8071 3 23V10Z"
          fill="#FF992B"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M11.1182 8H14.8819L46.5937 39.7118C46.0001 40.3719 45.3719 41.0001 44.7119 41.5937L11.1182 8ZM9.37695 8H10.1485L44.1947 42.0462C44.0556 42.1645 43.9153 42.2814 43.7737 42.3967L9.37695 8ZM47.0462 39.1947L15.8516 8H28.3848L51.614 31.2292C50.5879 34.1741 49.0264 36.8681 47.0462 39.1947Z"
          fill="#B87333"
        />
        <rect
          x="27"
          y="53"
          width="2"
          height="16"
          rx="1"
          transform="rotate(-90 27 53)"
          fill="#A82300"
        />
        <rect
          x="26"
          y="55"
          width="6"
          height="6"
          rx="3"
          transform="rotate(-90 26 55)"
          fill="#A82300"
        />
        <rect
          x="13"
          y="56"
          width="8"
          height="16"
          rx="1"
          transform="rotate(-90 13 56)"
          fill="#FFD700"
        />
        <rect
          x="41"
          y="54"
          width="4"
          height="2"
          rx="1"
          transform="rotate(-90 41 54)"
          fill="#A82300"
        />
      </svg>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-form-field appearance="fill" class="setting-form-field">
      <mat-label>Mã định danh</mat-label>
      <input matInput [value]="data.key" (blur)="changeKey($event)" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="setting-form-field">
      <mat-label>Liên kết định danh</mat-label>
      <input matInput [value]="data.attrs.hash" (blur)="changeHash($event)" />
    </mat-form-field>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <button mat-icon-button (click)="showAudioTimeStamp()">
    <mat-icon>music_note</mat-icon>
  </button>
  <div class="d-flex" *ngIf="isShowAudioTimeStamp">
    <mat-form-field appearance="fill" class="setting-form-field">
      <mat-label>Bắt đầu</mat-label>
      <input matInput [(ngModel)]="data.audio.start" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="setting-form-field">
      <mat-label>Kết thúc</mat-label>
      <input matInput [(ngModel)]="data.audio.end" />
    </mat-form-field>
  </div>
</div>
