@use "../../../sass/variables.scss";
@use "sass:map";

::ng-deep {
  cp-creator-block-toolbar {
    position: absolute;
    bottom: 100%;
    left: 0;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%), 0px 1px 5px 0px rgb(0 0 0 / 20%);
    padding: 0.5rem 0;

    * {
      color: black;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .setting-form-field {
      margin-right: 0.5rem;
    }

    .mat-mdc-icon-button {
      height: 24px;
      width: 24px;
      padding: 0;

      .mat-mdc-button-touch-target {
        height: 24px;
        width: 24px;
      }
    }
  }
}
