.login-form-container {
  width: 100%;
  max-width: 700px;
  min-width: 100px;
  padding: 2rem;
  border: solid 1px #f4eff4;
  border-radius: 1rem;
  margin-top: 3rem;
  position: relative;
  .form-control {
    width: 100%;
    margin-top: 2rem;
  }
  .button-group {
    margin-top: 2rem;
  }
  .backad {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: red;
    top: 0;
    left: 0;
    visibility: hidden;
    cursor: pointer;
  }
}
