<div class="container-fluid">
  <mat-divider></mat-divider>
  <div class="bai-thuong-yeu">
    <div class="bai-thuong-yeu-container">
      <div class="wood-wrapper">
        <div class="white-paper">
          <div class="content">
            <div class="top-name text-center">
              <h4>THÁNH NGÔN THẦY DẠY</h4>
              <h1 class="red-text">THƯƠNG YÊU</h1>
            </div>
            <p>
              THẦY là cha của sự thương yêu. Do bởi sự thương yêu mới tạo thành
              thế giới và sinh sản các con. Vậy các con sản xuất nơi sự thương
              yêu là cơ thể của sự thương yêu đó.
            </p>
            <p>
              Sự thương yêu là giềng bảo sanh của càn khôn thế giới. Bởi thương
              yêu mà vạn loại hoà bình, càn khôn an tịnh, đặng an tịnh mới không
              thù nghịch lẫn nhau, không thù nghịch lẫn nhau mới không tàn hại
              nhau, không tàn hại nhau mới giữ bền cơ sanh hoá.
            </p>
            <p>
              Kẻ nghịch của cơ sanh hoá là Quỷ Vương, là tay diệt hoá. Cũng như
              có sống của Thầy ắt có chết của Quỷ Vương, Quỷ Vương giục sự ghét
              mà tàn hại các con. Vì ghét nhau mà vạn loại mới khi nhau, vì ghét
              nhau vạn loại mới nghịch nhau, vì ghét nhau vạn loại mới tàn hại
              lẫn nhau mà tàn hại lẫn nhau thì là cơ diệt thế.
            </p>
            <p>
              Vậy Thầy cấm các con, từ đây ví không đủ sức thương nhau thì chẳng
              đặng phép ghét nhau, nghe à!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <mat-divider></mat-divider>
  <h1 class="text-center">LỜI MINH THỆ NHẬP MÔN</h1>
  <h2 class="text-center">NGŨ LÔI HỒNG THỆ</h2>
  <div>
    <p class="indent-2">Nam Mô Cao Đài Tiên Ông Đại Bồ Tát Ma Ha Tát</p>
    <p class="indent-2">Nam Mô Cửu Thiên Cảm Ứng Lôi Thinh Phổ Hóa Thiên Tôn</p>
    <p class="indent-2">Nam Mô Chư Phật, Tiên, Thánh, Thần,</p>
    <p class="indent-2">
      Đệ tử tên họ . . . . . . . . . . . . , . . . . . . tuổi, ở tại . . . . . .
      . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
    </p>
    <p class="indent-2">Quì trước Bửu Pháp NGũ Lôi thề rằng:</p>
    <p class="indent-2">
      Từ đây tôi biết một Đạo Cao Đài Ngọc Đế, chẳng đổi dạ đổi lòng, hiệp cùng
      chư môn đề gìn luật lệ Hội Thánh Đạo Cao Đài. Như ngày sau tôi có lòng
      hai, thề có Ngũ Lôi tru diệt.
    </p>
    <p class="text-right">Nay Nguyện.</p>
  </div>
  <h2 class="text-center">HỘ PHÁP HỒNG THỆ</h2>
  <div>
    <p class="indent-2">
      Đệ tử tên họ . . . . . . . . . . . . , . . . . . . tuổi, ở tại . . . . . .
      . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
    </p>
    <p class="indent-2">Quì trước Hộ Pháp thề rằng:</p>
    <p class="indent-2">
      Từ đây tôi giữ một Đạo Cao Đài Ngọc Đế, chẳng đổi dạ đổi lòng, hiệp cùng
      chư môn đề gìn luật lệ Hội Thánh Đạo Cao Đài. Như ngày sau tôi có lòng
      hai, thề có Hộ Pháp hành pháp, đọa Tam Đồ bất năng thoát tục.
    </p>
    <p class="text-right">Nay Nguyện.</p>
  </div>
</div>
<div class="container-fluid">
  <mat-divider></mat-divider>
</div>
<div class="w-full px-4 my-4 select-text">
  <h1 class="text-center">TRAI GIỚI VÀ CÁC BẬC TRAI GIỚI</h1>
  <p class="text-center">Thể hiện đức háo sanh của Thượng Đế</p>
  <ul class="list-decimal ml-[1rem] text-lg text-justify">
    <li><strong>Lục trai:</strong> 6 ngày (1, 8, 14, Rằm, 23, 30) - Tín đồ</li>
    <li>
      <strong>Thập trai:</strong> 10 ngày (1, 8, 14, Rằm, 18, 23, 24, 27/28, 29,
      30) - Tín đồ, chức việc.
    </li>
    <li>
      <strong>Thiên ngươn:</strong> 16 ngày (1, 4, 6, 8, 9, 14, Rằm, 16, 18, 19,
      23, 24, 25, 27/28, 29, 30) - Phẩm trung thừa, Lễ sanh.
    </li>
    <li><strong>Trường trai:</strong> - Phẩm Thượng thừa, hay tự nguyện.</li>
  </ul>
</div>
<hr />
<div class="w-full px-4 my-4 select-text">
  <h1 class="text-center">Tam quy</h1>
  <p class="text-center">Quy y Phật, Quy y Pháp, Quy y Tăng</p>
  <p class="text-center">Hay là: Nam Mô Phật, Nam Mô Pháp, Nam Mô Tăng</p>
  <p>
    Có nghĩa là làm theo lời dạy của Thầy, tu theo Tân pháp của Thầy, tùng theo
    sự lãnh đạo của Đức Lý Giáo Tông và Hội Thánh. Vì
    <span class="italic">"Hội Thánh là hình thể của Đức Chí Tôn tại thế"</span>
    và Thầy dạy:
  </p>
  <blockquote class="italic">
    <p>"Phật Trời, Trời Phật cũng là ta,</p>
    <p>Nhánh nhóc chia ba cũng một già</p>
    <p>Thích, Lão, Gia-Tô tay chưởng quản,</p>
    <p>Thương dân xuống thệ độ lần ba."</p>
  </blockquote>
</div>
<hr />
<div class="w-full px-4 my-4 select-text">
  <h1 class="text-center">NGŨ GIỚI CẤM</h1>
  <ol class="list-decimal ml-[1rem] text-lg text-justify">
    <li>Nhất bất sát sanh</li>
    <li>Nhì bất du đạo</li>
    <li>Tam bất tà dâm</li>
    <li>Tứ bất tửu nhục</li>
    <li>Ngũ bất vọng ngữ</li>
  </ol>
</div>
<hr />
<div class="w-full px-4 my-4 select-text">
  <h1 class="text-center">TỨ ĐẠI ĐIỀU QUY</h1>
  <ol class="list-decimal ml-[1rem] text-lg text-justify">
    <li>
      Phải tuân theo lời dạy của bề trên, chẳng hỗ chịu cho bậc thấp hơn điều
      độ. Lấy lễ hòa người, lỡ lầm lỗi phải ăn năng chịu thiệt thiệt.
    </li>
    <li>
      Chớ khoe tài, đừng cao ngạo, quên mình mà làm nên cho người, giúp người
      nên Đạo. Đừng nhớ cừu riêng. Chớ che lấp người hiền.
    </li>
    <li>
      Bạc tiền xuất nhập phân minh, đừng mượn vay không trả. Đối với trên, dưới
      đừng lờn dễ, trên dạy dưới lấy lễ, dưới gián trên đừng thất khiêm cung.
    </li>
    <li>
      Trước mặt sau lưng cũng đồng một bực, đừng kính trước rồi lại khi sau.
      Đừng thấy đồng đạo tranh đua ngồi mà xem không để lời hòa giải. Đừng lấy
      chung mà làm riêng, đừng vụ riêng mà bỏ việc chung. Pháp luật phải tuân,
      đừng lấy ý riêng mà trái trên dễ dưới. Đừng cậy quyền mà yểm tài người.
    </li>
  </ol>
</div>
<hr />
<div class="w-full px-4 my-4 select-text">
  <h1 class="text-center">LỜI KHUYÊN CẦN YẾU</h1>
  <ol class="list-decimal ml-[1rem] text-lg text-justify">
    <li>Phải thương hết mọi người dầu người thù nghịch với mình cũng vậy.</li>
    <li>Đừng tham của thế gian.</li>
    <li>Đừng giận, đừng ghét một ai hết.</li>
    <li>Đừng nói việc xấu của người, phải dè dặt lời nói, ít nói tốt hơn.</li>
    <li>Thường ngày phải tập tưởng lành, nói lành và làm lành.</li>
  </ol>
</div>
<hr />
<div class="w-full px-4 my-4 select-text">
  <h1 class="text-center">THẾ LUẬT</h1>
  <div class="text-lg text-justify">
    <p>
      <strong>Điều thứ nhứt:</strong> <br />
      Hễ thọ giáo với một Thầy thì tỉ như con một cha, phải thương yêu nhau,
      liên lạc nhau, giúp đỡ nhau, lấy lòng thành thật mà đối đãi nhau, dìu dắt
      nhau trong đường Đạo và đường Đời.
    </p>
    <p>
      <strong>Điều thứ hai:</strong> <br />
      Nhập đạo rồi thì phải quên những việc oán thù nhau khi trước, phải tránh
      việc ganh ghét tranh đua và kiện cáo; phải nhẫn nhịn và hòa thuận với
      nhau. Rủi có điều chi xích mích, phải vui nghe người làm đầu trong Họ phân
      giải.
    </p>
    <p>
      <strong> Điều thứ ba: </strong> <br />
      Phải giữ Tam Cang Ngũ Thường là nguồn cội của Nhơn Đạo, nam thì hiếu để,
      trung tín, lễ nghĩa, liêm sĩ; nữ thì tùng phụ tùng phu, tùng tử và công,
      dung, ngôn, hạnh.
    </p>
    <p>
      <strong> Điều thứ tư: </strong> <br />
      Ra giao thiệp với đời thì phải tập và giữ tánh, ôn, lương, cung, kiệm, nhượng.
    </p>
    <p>
      <strong>Điều thứ năm:</strong> <br />
      Đối với hàng đạo hữu phải nuôi nấng cái tình thù tạc với nhau, cho khắn
      khít cái dây liên lạc. Trong hàng tín đồ còn ở thế phải nhớ 2 dịp là tang
      và hôn.
    </p>
    <p>
      <strong>Điều thứ sáu:</strong> <br />
      Việc hôn là việc rất trọng đời người. Phải chọn hôn trong người đồng đạo;
      trừ ra khi nào người ngoài ưng thuận nhập môn thì mới được kết làm giai
      ngẫu.
    </p>
    <p>
      <strong>Điều thứ bảy:</strong> <br />
      Tám ngày trước lễ Sính, chủ hôn trai phải dán bố cáo nơi Thánh Thất sở tại
      cho trong bổn đạo hay, sau khỏi điều trắc trở.
    </p>
    <p>
      <strong>Điều thứ tám:</strong> <br />
      Làm lễ Sính rồi hai đàn trai và gái phải đến Thánh Thất mà cầu lễ “Chứng
      Hôn”.
    </p>
    <p>
      <strong>Điều thứ chín:</strong> <br />
      Cấm người trong Đạo, từ ngày ban hành luật này về sau, không được cưới hầu
      thiếp. Rủi có chích lẻ giữa đường thì được chấp nối. <br />Thoảng như phụ
      nữ kia không con nối hậu thì Thầy cũng rộng cho đặng phép cưới thiếp song
      chính mình chánh thê đứng cưới mới đặng.
    </p>
    <p>
      <strong>Điều thứ mười:</strong> <br />
      Trừ ra có ngoại tình hay là thất hiếu với công cô, vợ chồng người đạo
      không được để bỏ nhau.
    </p>
    <p>
      <strong>Điều thứ mười một:</strong> <br />
      Con nít mới sanh phải chọn cha và mẹ đỡ đầu cho nó, phòng sau bảo hộ nó
      lúc rủi phải thân côi.
    </p>
    <p>
      <strong>Điều thứ mười hai:</strong> <br />
      Đứa con nít khi được một tháng sắp lên phải đem đến Thánh Thất sở tại mà
      xin làm lễ “Tắm Thánh” và ghi vào bộ sanh của bổn đạo.
    </p>
    <p>
      <strong>Điều thứ mười ba:</strong> <br />
      Buộc cha mẹ con nít từ 6 tuổi, chí 12 tuổi phải cho con vào trường học chữ
      hay là học đạo.
    </p>
    <p>
      <strong>Điều thứ mười bốn:</strong> <br />
      Trong bổn đạo xảy có người mãn phần qui vị thì chư tín đồ trong họ phải
      chung cùng đến giúp và chia buồn với tang chủ.
      <br />
      Mỗi Họ cũng nên lập một Nghĩa Địa riêng.
    </p>
    <p>
      <strong>Điều thứ mười lăm:</strong> <br />
      Người làm đầu trong Họ, khi tang chủ mời, phải đến hiệp với chư tín đồ
      trong Họ, làm lễ Cầu Siêu cho vong linh theo Tân Luật và đưa xác đến mộ
      phần.
    </p>
    <p>
      <strong>Điều thứ mười sáu:</strong> <br />
      Trong việc tống chung, không nên xa xỉ, không nên để lâu ngày, không nên
      dùng đồ âm công lòe loẹt, chỉ dùng toàn đồ trắng, không nên đãi đằng rần
      rộ mà mất sự nghiêm tịnh và mất dấu bi ai.
    </p>
    <p>
      <strong>Điều thứ mười bảy:</strong> <br />
      Trong việc cúng tế vong linh không nên dùng hi sanh, dùng toàn đồ chay thì
      được phước hơn; không cấm lễ nhạc, song phải dùng lễ nhạc theo Tân Luật.
      Tang phục thì y như xưa.
    </p>
    <p>
      <strong>Điều thứ mười tám:</strong> <br />
      Việc cầu siêu cho vong linh trong tuần cửu Cửu và đến lúc Tiểu, Đại tường
      thì do nơi Thánh Thất sở tại mà cầu lễ.
      <br />
      Bổn đạo trong Họ, nếu có mời, phải đến mà cầu nguyện.
    </p>
    <p>
      <strong>Điều thứ mười chín:</strong> <br />
      Một người trong đạo gặp tai nạn thình lình, thì bổn đạo trong Họ hãy tùy
      hỉ chung nhau, tư trợ cho qua lúc ngặt nghèo.
    </p>
    <p>
      <strong>Điều thứ hai mươi:</strong> <br />
      Kể từ ngày ban hành luật này, người bổn đạo chẳng nên chuyên nghề gì làm
      cho sát sanh, hại vật, chẳng được làm nghề gì mà đồi phong bại tục, chẳng
      được soạn hay là ấn hành những truyện phong tình, huê nguyệt, không đặng
      buôn bán các thứ rượu mạnh và á phiện là vật độc làm cho giảm chất con
      người.
      <br />
      Người nào đã lầm lỡ rồi, hãy kiếm thế giải nghệ.
    </p>
    <p>
      <strong>Điều thứ hai mươi mốt:</strong> <br />
      Người bổn đạo ăn mặc phải cần kiệm, tùy phận tùy dươn, cũng nên dùng đồ
      vải bô và giảm bớt hàng lụa.
    </p>
    <p>
      <strong>Điều thứ hai mươi hai:</strong> <br />
      Người nào trong đạo phạm một hay nhiều điều răn cấm trên đây, thì mấy
      người khác trong bổn đạo hay biết phải khuyên giải. Nếu chẳng nghe, phải
      đến tỏ cho người làm đầu trong Họ hay, cho người để lời khuyến dạy.
    </p>
    <p>
      <strong>Điều thứ hai mươi ba:</strong> <br />
      Nếu tái phạm hoặc không bỏ nết hư và nghiệp quấy thì phải trục xuất. Trong
      bổn đạo không ai đặng nhìn nhận là đạo hữu nữa.
    </p>
    <p>
      <strong>Điều thứ hai mươi bốn:</strong> <br />
      Hội Công Đồng có Đầu Sư một phái làm đầu và hai chức sắc hai phái kia nghị
      sự phán đoán về hình trục xuất theo lời của người làm đầu trong Họ xin.
      <br />
      Lịnh này sẽ dán nơi Thánh Thất sở tại cho chư tín đồ rõ biết.
    </p>
  </div>
</div>