<div
  class="dashboard-welcome"
  *ngIf="!localStorageData || localStorageData?.length == 0"
>
  <span class="dashboard-welcome-icon">🤔</span>
  <h2>Có vẻ như bạn chưa thực hiện ghi dấu vào sổ tay hành trình của mình</h2>
  <button
    mat-flat-button
    [color]="'primary'"
    class="w-100"
    (click)="onShowLog()"
  >
    <mat-icon>add</mat-icon>
    Ghi dấu hành trình ngay!
  </button>
</div>
<div
  class="dashboard-chart rating-pie-chart"
  *ngIf="isShowChart && ratingPieChartLabels.length > 1"
>
  <h2>
    Biểu đồ độ hài lòng
    <button
      mat-icon-button
      [matTooltip]="'Tải lại thống kê'"
      (click)="getData()"
    >
      <mat-icon>replay</mat-icon>
    </button>
  </h2>
  <canvas
    baseChart
    [type]="'pie'"
    [datasets]="ratingPieChartDatasets"
    [labels]="ratingPieChartLabels"
    [options]="ratingPieChartOptions"
    [plugins]="ratingPieChartPlugins"
    [legend]="ratingPieChartLegend"
  >
  </canvas>
</div>
<div
  class="dashboard-chart type-pie-chart"
  *ngIf="isShowChart && typePieChartLabels.length > 1"
>
  <h2>
    Biểu đồ loại ghi dấu
    <button
      mat-icon-button
      [matTooltip]="'Tải lại thống kê'"
      (click)="getData()"
    >
      <mat-icon>replay</mat-icon>
    </button>
  </h2>
  <canvas
    baseChart
    [type]="'pie'"
    [datasets]="typePieChartDatasets"
    [labels]="typePieChartLabels"
    [options]="typePieChartOptions"
    [plugins]="typePieChartPlugins"
    [legend]="typePieChartLegend"
  >
  </canvas>
</div>
<div
  class="dashboard-chart device-pie-chart"
  *ngIf="isShowChart && devicePieChartLabels.length > 1"
>
  <h2>
    Biểu đồ thiết bị
    <button
      mat-icon-button
      [matTooltip]="'Tải lại thống kê'"
      (click)="getData()"
    >
      <mat-icon>replay</mat-icon>
    </button>
  </h2>
  <canvas
    baseChart
    [type]="'pie'"
    [datasets]="devicePieChartDatasets"
    [labels]="devicePieChartLabels"
    [options]="devicePieChartOptions"
    [plugins]="devicePieChartPlugins"
    [legend]="devicePieChartLegend"
  >
  </canvas>
</div>
<div
  class="dashboard-chart method-pie-chart"
  *ngIf="isShowChart && methodPieChartLabels.length > 1"
>
  <h2>
    Biểu đồ phương thức
    <button
      mat-icon-button
      [matTooltip]="'Tải lại thống kê'"
      (click)="getData()"
    >
      <mat-icon>replay</mat-icon>
    </button>
  </h2>
  <canvas
    baseChart
    [type]="'pie'"
    [datasets]="methodPieChartDatasets"
    [labels]="methodPieChartLabels"
    [options]="methodPieChartOptions"
    [plugins]="methodPieChartPlugins"
    [legend]="methodPieChartLegend"
  >
  </canvas>
</div>
<div
  class="dashboard-chart location-pie-chart"
  *ngIf="isShowChart && locationPieChartLabels.length > 1"
>
  <h2>
    Biểu đồ địa điểm
    <button
      mat-icon-button
      [matTooltip]="'Tải lại thống kê'"
      (click)="getData()"
    >
      <mat-icon>replay</mat-icon>
    </button>
  </h2>
  <canvas
    baseChart
    [type]="'pie'"
    [datasets]="locationPieChartDatasets"
    [labels]="locationPieChartLabels"
    [options]="locationPieChartOptions"
    [plugins]="locationPieChartPlugins"
    [legend]="locationPieChartLegend"
  >
  </canvas>
</div>
<div *ngIf="isShowChart" class="view-data">
  <h2>
    Danh sách chi tiết | {{localStorageData?.length}}
    <button
      mat-icon-button
      [matTooltip]="'Tải lại thống kê'"
      (click)="getData()"
    >
      <mat-icon>replay</mat-icon>
    </button>
  </h2>
  <table mat-table [dataSource]="localStorageData" *ngIf="!isShowPhoneLayout">
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>Thời gian</th>
      <td mat-cell *matCellDef="let element">
        {{ element.timestamp | date : "dd/MM/YYYY hh:mm:ss" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Loại</th>
      <td mat-cell *matCellDef="let element">
        {{ getRowData(element, "type") }}
      </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Địa điểm</th>
      <td mat-cell *matCellDef="let element">
        {{ getRowData(element, "location") }}
      </td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Đánh giá</th>
      <td mat-cell *matCellDef="let element">
        {{ ratingPieChartLabels[element.rating - 1] || "Chưa đánh giá" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="device">
      <th mat-header-cell *matHeaderCellDef>Cách thức</th>
      <td mat-cell *matCellDef="let element">
        {{ element.method }} trên {{ element.device }}
      </td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
      <td mat-cell *matCellDef="let element">
        {{ element.comment }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex">
          <button
            mat-icon-button
            [matTooltip]="'Chỉnh sửa hành trình'"
            (click)="onUpdateJourney(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            [matTooltip]="'Xóa hành trình'"
            (click)="onRemoveJourney(element)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-list *ngIf="isShowPhoneLayout">
    <mat-list-item *ngFor="let item of localStorageData; let index = index">
      <span matListItemTitle>{{ getRowData(item, "type") }} </span>
      <span matListItemLine
        ><strong>Địa điểm:</strong> {{ getRowData(item, "location") }}</span
      >
      <span matListItemLine
        ><strong>Thời gian:</strong>
        {{ item.timestamp | date : "dd/MM/YYYY hh:mm:ss" }}</span
      >
      <span matListItemLine
        ><strong>Đánh giá: </strong
        >{{ ratingPieChartLabels[item.rating - 1] }}</span
      >
      <span matListItemLine
        ><strong>Cách thức: </strong>{{ item.method }} trên
        {{ item.device }}</span
      >
      <span matListItemLine><strong>Ghi chú: </strong>{{ item.comment }}</span>
      <div class="d-flex" matListItemLine>
        <button
          mat-icon-button
          [matTooltip]="'Chỉnh sửa hành trình'"
          (click)="onUpdateJourney(item)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          [matTooltip]="'Xóa hành trình'"
          (click)="onRemoveJourney(item)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
      <mat-divider matListItemLine></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
