<div *ngIf="loading" class="min-h-screen flex items-center flex-col gap-2 justify-center">
    Đang tải...
    <mat-spinner></mat-spinner>
</div>
<div class="min-h-screen" *ngIf="!loading && (!kinhInformations || kinhInformations?.length === 0)">
    Thông tin về kinh này hiện chưa có.
</div>
<ng-container *ngIf="!loading && readingVideos?.length">
    <h3>Video đọc kinh</h3>
    <div *ngFor="let video of readingVideos" class="mb-3">
        <iframe class="w-full aspect-video" [src]="'https://www.youtube.com/embed/' + video?.id | safe"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</ng-container>
<mat-divider *ngIf="!loading && readingVideos?.length && analysisVideos?.length" class="my-6"></mat-divider>
<ng-container *ngIf="!loading && analysisVideos?.length">
    <h3>Video phân tích</h3>
    <div *ngFor="let video of analysisVideos" class="mb-3">
        <iframe class="w-full aspect-video" [src]="'https://www.youtube.com/embed/' + video?.id | safe"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</ng-container>