@use "../../../../../../sass/variables.scss";
@use "sass:map";

::ng-deep {
  .action-grid {
    margin: 1rem 0;
  }
  .mdc-card {
    cursor: pointer;
  }
  .mat-mdc-card-header-text {
    width: 100%;
  }
}
