<div class="w-full flex flex-col items-center bg-slate-50 p-3 relative z-10">
    <div *ngIf="isLoadingDivisions">Đang lấy dữ liệu địa chỉ...</div>
    <div id="BCD100PRINT">
        <ng-container *ngFor="let item of data">
            <div class="printPage">
                <div style="display: flex; padding: 16px 16px 0 16px;">
                    <div class="imageWrapper">
                        <img loading="lazy" style="height: 100%; width: 100%; object-fit: cover;"
                            src="https://scontent.fsgn8-1.fna.fbcdn.net/v/t39.30808-6/255456628_1249908272150967_6100868893031314030_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=536f4a&_nc_ohc=KU4oH7Al974Q7kNvgHUzwXy&_nc_ht=scontent.fsgn8-1.fna&oh=00_AYBclYOLpa6n3BKLDXTOpKIaDmlcUtV49YN7qJJROdEOCA&oe=669EAFF2"
                            alt="">
                    </div>
                </div>
                <div style="display: flex; padding: 8px; padding-bottom: 0;">
                    <div style="width: 100%; padding: 8px;">
                        <strong class="paragraphTitle">{{item?.data?.currentName?.toUpperCase()}}</strong>
                        <p style="font-size: 11px;"><span *ngIf="item?.data?.originName">Tên cũ là
                                {{item?.data?.originName}}</span></p>
                        <p style="font-size: 11px;"><span>Địa chỉ: {{getFullAddress(item)}}</span></p>
                    </div>
                    <div style="width: 100%; padding: 8px;">
                        <strong *ngIf="item?.data?.currentName" style="font-size: 13px;">THÀNH LẬP DO</strong>
                        <p></p>
                    </div>
                </div>
                <div style="display: flex; padding: 16px 16px 0 16px;">
                    <div class="imageWrapper">
                        <img loading="lazy" style="height: 100%; width: 100%; object-fit: cover;"
                            src="https://scontent.fsgn13-2.fna.fbcdn.net/v/t39.30808-6/294084880_5213171992134550_3996129761299730566_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=a4s140rcch4Q7kNvgGiJ5ek&_nc_ht=scontent.fsgn13-2.fna&oh=00_AYB3R4yz3qXe1C07S9kcedqf2bGshp9jZSwi5Yj1berXmg&oe=669EC5FD"
                            alt="">
                    </div>
                </div>
                <div style="display: flex; padding: 8px; padding-bottom: 0;">
                    <div style="width: 100%; padding: 8px;">
                        <strong class="paragraphTitle">BAN ĐẦU HỌ ĐẠO</strong>
                    </div>
                    <div style="width: 100%; padding: 8px;">
                        <strong class="paragraphTitle">BAN CAI QUẢN</strong>
                    </div>
                    <div style="width: 100%; padding: 8px;">
                        <strong class="paragraphTitle">BAN TRỊ SỰ</strong>
                    </div>
                </div>
            </div>
            <div class="printPage">
                <div style="display: flex; padding: 16px 8px;">
                    <div style="width: 100%; padding: 8px;">
                        <strong *ngIf="item?.data?.currentName">{{item?.data?.currentName?.toUpperCase()}}</strong>
                        <p><span *ngIf="item?.data?.originName">Tên cũ là {{item?.data?.originName}}</span></p>
                        <p><span>Địa chỉ: {{getFullAddress(item)}}</span></p>
                    </div>
                </div>
            </div>
        </ng-container>
        <button mat-fab class="!fixed bottom-4 right-4" (click)="onPrint()">
            <mat-icon>print</mat-icon>
        </button>
    </div>
</div>